.UIForumPortlet .UICategoryForm {
	background: #f7f7f7;
	margin: 8px;
	border: 1px solid #c7c7c7;
}

.UIForumPortlet .UICategoryForm .UIForm {
	border: 1px solid white;
}

.UIForumPortlet .UICategoryForm .HorizontalLayout {
	padding: 8px 0px 0px 0px;
	border: none;
}

.UIForumPortlet .UICategoryForm .UIFormInput {
	padding: 0px 0px 0px 20px;
}