.UIForumContainer {
	padding: 10px;
}

.UIForumContainer .AddTheradIcon {
	background: url('../skinIcons/16x16/icons/AddNewThreadIcon.gif') left center;
}

.UIForumContainer .LockActionForum {
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
}

.UIForumContainer .ButtomAndPageListContainer .UIPageIterator {
	width: 60%;
	float: right;
	margin: 2px auto 0px 0px;
}

.UIForumContainer .ForumToolbar .StatusIcon {
	background-position: left center;
	line-height: 22px;
	padding-left: 22px;
	margin: 0px;
	width: auto; height: auto;
}

.UIForumContainer .ForumToolbar .ContentAction {
	padding: 2px 0px 0px 0px; 
	margin: 0px;
	float: right;
	cursor:pointer;
}

.UIForumContainer .ForumToolbar .DownArrow1Icon {
	background-position: right center;
	padding-right: 16px;
}

.UIForumContainer .SeparatorLineForum {
	float: right;
}

.UIForumContainer .ContentContainer .UITopicList .TitleBold {
	color: #204aa0;
	font-size: 12px; font-weight: bold;
}

.UIForumContainer .ContentContainer .UITopicList .TitleNorman {
	color: #204aa0;
	font-size: 12px;
}

.UIForumContainer .ContentContainer .UITopicList .UIGrid th {
	line-height: 16px;
}

.UIForumContainer .ContentContainer .TitleNewpost {
	font-weight: bold;
	color: #204aa0;
	float: left;
	line-height: 18px;
}

.UIForumContainer .ContentContainer .Text {
	padding-left: 18px;
}

.UIForumContainer .ContentContainer .PostInfos {
	float: right;
	line-height: 22px;
}

.UIForumContainer .ContentContainer .StatusIcon {
	margin: auto; cursor: pointer;
	width: 16px; height: 16px;
}

.UIForumContainer .ContentContainer .AvgRatingImages {
	margin: auto;
	width: 82px;
}

.UIForumContainer .ContentContainer .VoteIcon {
	width: 16px; height: 16px;
	float: left;
}

.UIForumContainer .ContentContainer .ThreadStatusIcon {
	margin: auto;
	width: 24px; height: 24px;
}

.UIForumContainer .ContentContainer .AttachmentIcon {
	margin: 2px 0px 0px 12px;
	width: 16px; height: 16px;
}

.UIForumContainer .ContentContainer .LeftArrowIcon {
	margin: 0px 2px 0px 0px;
	width: 16px; height: 16px;
	float: left;
	cursor: pointer;
}

.UIForumContainer .ContentContainer .RightArrowIcon {
	margin: 3px 4px 0px 2px;
	width: 16px; height: 16px;
	float: right;
	cursor: pointer;
}

.UIForumContainer .ContentContainer .DownArrow1Icon {
	padding-right: 16px;
	cursor: pointer;
}

.UIForumContainer .UIForumInfos {
	width: 100%;
	padding-top: 5px;
}

.UIForumContainer .LeftStartsList .ForumCategory {
	width: 99%;
}

.UIForumContainer .LeftStartsList {
	margin: 0px 310px 0px 0px;
} 

.UIForumContainer .RightStartsList {
	float: right;
	width: 300px;
	margin: 0px 0px 0px 0px;
}

.UIForumContainer .RightStartsList .BoldTitle {
	font-weight: bold;
	line-height: 18px;
}

.UIForumContainer .ContentContainer {
	border-top: none;
}

.UIForumContainer .UIForumInfos .ContentContainer {
	border: 1px solid #b7b7b7;
	padding: 5px;
	height: 75px;
}

.UIForumContainer .UIPostRules {
	margin: 0px;
}

.UITopicDetail .UIPostRules {
	margin: 3px 0px 0px 0px;
}

.UIPostRules .ForumCategory .ContentContainer {
	border: 1px solid #b7b7b7;
	padding: 5px;
	height: 75px;
	line-height: 18px;
}

.UIPostRules .ForumCategory .ContentContainer .BoldTitle {
	font-weight: bold ;
	line-height: 18px;
}

.UIForumContainer .UITopicContainer .TopicDeleted {
	border: 1px outset ;
	color: black;
	padding: 10px;
}
