.UIForumPortlet .UIViewMemberProfile {
	background-color: #ffffff;
	padding: 8px;
}

.UIForumPortlet .UIViewMemberProfile .ViewMemberProfileContainer {
	border: 1px solid #b4b4b4;
	background-color: #f4f4f4;
	padding: 1px;
}

.UIForumPortlet .UIViewMemberProfile .ViewContainer {
	min-height: 270px;
}

* html .UIForumPortlet .UIViewMemberProfile .ViewContainer {
	height: 270px;
}

.UIForumPortlet .UIViewMemberProfile .ViewMemberProfileContainer .UserLabel {
	background-position: right;
	padding: 1px 18px 2px 0px;
	color: #135bbe;
}

.UIForumPortlet .UIViewMemberProfile .ViewMemberProfileContainer .TitleBar {
	height: 24px;
	background-color: #d1d2fe;
	padding: 6px 0px 0px 12px;
	font-weight: bold;
	line-height: 16px;
}

.UIForumPortlet .UIViewMemberProfile .MemberContent .InfoMember {
	line-height: 18px;
	color: #2c2c2c;
}

.UIForumPortlet .UIViewMemberProfile .MemberContainer {
	width: 242px;
}

.UIForumPortlet .UIViewMemberProfile .MemberContent {
	padding: 10px 0px 0px 15px;
}

.UIForumPortlet UIViewMemberProfile .MemberContent .Rank {
	color: #2c2c2c;
	font-size: 12px;
	padding: 0px 0px 0px 2px;
}

.UIForumPortlet .UIViewMemberProfile .ProfileContainer {
	color: #2c2c2c;
	padding: 0px 8px;
}

.UIForumPortlet .UIViewMemberProfile .ProfileContainer .Label {
	line-height: 20px;
	text-align: right;
	padding-right: 6px;
	width: 111px;
}

.UIForumPortlet .UIViewMemberProfile .ProfileContainer .LabelProfile {
	line-height: 20px;
	text-align: left;
}

.UIForumPortlet .UIViewMemberProfile .ProfileContainer .LabelLink {
	line-height: 20px;
	text-align: left;
	cursor: pointer;
	color: #135bbe;
}
/*---------------------------------UIViewPrivateMessageForm--------------------------------------*/
.UIForumPortlet .UIViewPrivateMessageForm {
	background-color: #ffffff;
	padding: 10px 0px;
	width: 96%;
	margin: auto;
}

* html .UIForumPortlet .UIViewPrivateMessageForm {
	width: 94%;
}