.UIForumPortlet .UIViewTopic {
	margin: 10px;
}

.UIViewTopic .ViewContainer {
	border: 1px solid #c7c7c7;
	background: #f7f7f7;
}

.UIViewTopic .ViewTopicContent {
	border: 1px solid white;
	padding: 10px;
}

.UIViewTopic .PostViewTitle {
	border-bottom: 1px solid #d8d8d8;
	padding: 5px 0px 3px 0px;
	width: 98%;
	margin: auto;
}

.UIViewTopic .PostViewIcon {
	font-weight: bold; font-size: 12px;
	font-family: arial;
	line-height: 20px;
	padding-left: 20px;
}

.UIViewTopic .PostTime {
	padding: 2px 0px 0px 20px;
}

.UIViewTopic .PostContent {
	padding: 0px 5px;
	min-height: 100px;
}

.UIViewTopic a {
	color: blue;
}

.UIViewTopic .AttachmentContainer {
	width: 98%;
	margin: auto;
}

.UIViewTopic .AttachmentContainer .AttachmentTitle {
	background: #e7e7e7 url('../skinIcons/16x16/icons/AttachmentIcon.gif') no-repeat 3px center;
	padding-left: 20px;
	line-height: 25px;
	font-weight: bold;
	white-space: nowrap;
}

.UIViewTopic .AttachmentContainer .AttachmentBox {
	float: left;
	padding: 15px;
	width: 40%;
}

.UIViewTopic .AttachmentContainer .LabelBox {
	float: left;
}

.UIViewTopic .AttachmentContainer .Image {
	float: left;
	margin: 0px 10px 0px 0px;
}

.UIViewTopic .AttachmentContainer .AttachmentIcon {
	float: left;
	height: 20px; 
	width: 20px;
}

.UIViewTopic .AttachmentContainer .AttachmentLabel {
	color: #1555b5;
	line-height: 20px;
	font-weight: bold;
	float: left;
}

.UIViewTopic .AttachmentContainer .AttachmentInfo {
	float: right;
}

.UIViewTopic .AttachmentContainer .Action {
	padding-top: 50px;
}

.UIViewTopic .AttachmentContainer .Action .Icon {
	float: left;
	color: #1555b5;
	padding-left: 20px;
	line-height: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.UIViewTopic .AttachmentContainer .Action .View {
	background: url('icons/16x16/ViewIcon.gif') no-repeat left center;
}

.UIViewTopic .AttachmentContainer .Size {
	padding-left: 25px;
}
