.UIForumPortlet .UIUserTitleManagerForm {
	background-color: #ffffff;
	padding: 8px;
}

.UIForumPortlet .UIUserTitleManagerForm .UserManagementContainer {
	background-color: #f7f7f7;
	padding: 8px;
	border: 1px solid #b4b4b4;
}

.UIForumPortlet .UIUserTitleManagerForm .UIFormWithTitle {
	margin: 8px auto;
}

.UIForumPortlet .UIUserTitleManagerForm .UIFormWithTitle td {
	padding: 4px;
}

.UIForumPortlet .UIUserTitleManagerForm .UIFormWithTitle .FieldLabel {
	text-align: right;
}