.UITemplateSettingForm {
  
}

.UITemplateSettingForm .TemplateControl {
  width: 90%;
  margin: 15px auto 0;
}

.UITemplateSettingForm .TemplateControl .TemplateSearchBox {
  float: left;
}

.UITemplateSettingForm .TemplateControl .TemplateSearchBox input {
  width: 200px;
}

.UIWikiTemplateGrid {
  width: 90%;
}

.UITemplateSettingForm .TemplateActions {
  float: right;
}

.UITemplateSettingForm .TemplateActions .AddTemplate {
	color: #4175b2;
	font-weight: bold;
}