.UIFAQPortlet {
	padding: 5px; height: 400px;
}

.UIFAQPortlet .UIBreadcumbs .OpenIcon{
	float: left;
	background: url('background/FAQPortlet.gif') no-repeat left -243px;
	width: 16px; height: 14px;
	margin: 5px 8px 0px 8px;
}

.UIFAQPortlet .UIBreadcumbs .Selected{
	float: left;
	font-weight: boldd;
}

.UIFAQPortlet .UICategoriesSummary{
	margin: 5px;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIFAQPortlet .FAQToolbar {
	height: 28px;
	_width: 99.7%;
}

.UIFAQPortlet a {
	color: #000000;
}

.UIFAQPortlet a:hover {
	color: #058ee6;
}

.UIFAQPortlet .FAQToolbar .Title {
	float: left;
	font-weight: bold;
	margin: 6px 0px 0px 8px;
}

.UIFAQPortlet .FAQToolbar .SeparatorLine {
	float: left;
	background: url(background/FAQPortlet.gif) no-repeat left -188px;
	width: 2px; height: 22px;
	margin: 3px;
}

.UIFAQPortlet .FAQToolbar .LeftBar {
	background: url('background/FAQPortlet.gif') no-repeat left -29px;
	padding-left: 3px;
}

.UIFAQPortlet .FAQToolbar .RightBar {
	background: url('background/FAQPortlet.gif') no-repeat right -29px;
	padding-right: 3px;
}

.UIFAQPortlet .FAQToolbar .CenterBar {
	background: url('background/FAQPortlet.gif') repeat-x top;
	height: 28px;
}

.UIFAQPortlet .FAQToolbar .UIPopupCategory {
	left: 0px;
	position: absolute;
	top: 24px;
	width: auto;
	z-index: 100;
}

.UIFAQPortlet .FAQToolbar .UIRightClickPopupMenu {
	width:175px;
}

.UIFAQPortlet .FAQToolbar .UIRightClickPopupMenu .LineMenu {
	width:150px;
	margin: 4px auto;
	border-top: solid 1px #7b7b7b;
}

.UIFAQPortlet .FAQToolbar .UIRightClickPopupMenu {
	min-width:190px;
	white-space: nowrap;
}

.UIFAQPortlet .FAQToolbar .ControlbarCotainer {
	float: left;
}

.UIFAQPortlet .FAQToolbar .SearchForm {
	float: right;
	width: 220px;
	padding-right: 10px;
}

.UIFAQPortlet .FAQToolbar .SearchForm .SearchIcon {
	background: url('background/FAQPortlet.gif') no-repeat left -210px;
	float: right;
	height:16px;
	margin:6px 3px 0px 3px;
	width:16px;
	cursor: pointer;
}

.UIFAQPortlet .FAQToolbar .SearchForm .AdvancedSearch {
	background: url('background/FAQPortlet.gif') no-repeat left -226px;
	float:right;
	height:16px;
	margin:6px 3px 0px 3px;
	width:16px;
	cursor: pointer;
}

.UIFAQPortlet .UISearchForm input {
	float:right;
	margin:4px 5px 0px 5px;
	width:150px;
	height: 13px;
}

/******************************	OverButton	***************************************/
.UIFAQPortlet .DefaultStyle {
	background: none;
	float: left;
	margin: 3px 3px 0px 3px; 
}

.UIFAQPortlet .DefaultStyle .LeftOverButton {
	padding-left: 5px;
}

.UIFAQPortlet .DefaultStyle .RightOverButton {
	padding-right: 5px;
}

.UIFAQPortlet .DefaultStyle .CenterOverButton {
	padding-left: 3px;
}
/*FAQAction*/
.UIFAQPortlet .FAQBar {
	background: none;
	height: 22px;
}

.UIFAQPortlet .FAQBarAction .LeftOverButton {
	background: url('background/FAQPortlet.gif') no-repeat left -440px;
}

.UIFAQPortlet .FAQBarAction .RightOverButton {
	background: url('background/FAQPortlet.gif') no-repeat right -440px;
}

.UIFAQPortlet .FAQBarAction .CenterOverButton {
	background: url('background/FAQPortlet.gif') repeat-x center -417px;
	line-height: 22px;
}

/******************************	FAQContent	***************************************/

.UIFAQPortlet .FAQContainer {
	border: 1px solid #c7c7c7;
	border-top: 0px;
	overflow: auto;
	height: 300px; 
	_width: 99.5%;
}

.UIFAQPortlet .FAQContainer .FAQContent {
	padding: 8px;
	height: 400px;
}

.UIFAQPortlet .FAQContainer .FAQContent .FAQCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -465px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 8px 0px;
	white-space: nowrap;
}

.UIFAQPortlet .FAQContainer .FAQContent .FAQCategory .UIFAQPopupCategory {
	left: 40px;
	position: absolute;
	top: 15px;
	width: auto;
	z-index: 100;
}

.UIFAQPortlet .FAQContainer .FAQContent .FAQCategory .UIContextMenuContainer {
	width:140px;
}

.UIFAQPortlet .FAQContainer .FAQContent .FAQCategory .UIContextMenuContainer .LineMenu {
	width:150px;
	margin: 4px auto;
	border-top: solid 1px #7b7b7b;
}

.UIFAQPortlet .FAQContainer .FAQContent .Sup-Title {
	font-weight: bold;
}

/******************************	UIFAQ Sup-Category	***************************************/

.UIFAQPortlet .UIFAQSupCategory{
	margin: 5px;
}


.UIFAQPortlet .FAQContainer .FAQContent .Sup-Icon {
	background: url('background/FAQPortlet.gif') no-repeat left -166px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 8px 0px;
	white-space: nowrap;
}

.UIFAQPortlet .FAQContainer .FAQContent .Question {
	background: url('background/FAQPortlet.gif') no-repeat left -818px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 8px 0px;
	white-space: nowrap;
}

.UIFAQPortlet .FAQContainer .FAQContent .Question-Title {
	color: #1555b5;
}

/******************************	Response	***************************************/

.UIFAQPortlet .FAQContainer .FAQContent .ResponseContent {
	padding: 0px 8px 8px 26px;
}

.UIFAQPortlet .FAQContainer .FAQContent .Response {
	background: url('background/DotLine.gif') repeat-x bottom;
	padding-bottom: 4px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent {
	background: url('background/DotLine.gif') repeat-x bottom;
	padding-bottom: 4px;
}

.UIFAQPortlet .ResponseContent .RelatedQuestions {
	background: url('background/DotLine.gif') repeat-x bottom;
	padding: 4px 0px;
}

.UIFAQPortlet .ResponseContent .ResponsActions {
	border-bottom: 1px solid #c7c7c7;
	padding: 4px 0px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .AttachmentBox {
	float: left;
	padding: 10px 10px 0px 10px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .LabelBox {
	float: left;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Image {
	float: left;
	margin: 0px 10px 0px 0px;
	width: 100px; height: 100px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .AttachmentIcon {
	float:left;
	height:20px;
	width:20px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .AttachmentLabel {
	color:#1555B5;
	float:left;
	font-weight:bold;
	line-height:20px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Action {
	padding-top:50px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Action .View {
	background: url('background/FAQPortlet.gif') no-repeat left -729px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Action .Icon {
	cursor:pointer;
	float:left;
	line-height:20px;
	margin-right:10px;
	padding-left:20px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Download {
	background: url('background/FAQPortlet.gif') no-repeat left -752px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UIAction {
	float: right;
	margin: 0px;
	width: 500px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UserResponse {
	float: left;
	padding: 8px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UIAction .ActionContainer {
	margin: 0px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UIAction .IconButton {
	line-height: 22px;
	padding-left: 20px;
}

/******************************	UI Add	***************************************/

.UIFAQPortlet .UIAddCategory {
	padding: 8px;
	border: 1px solid #c7c7c7;
	background: #f7f7f7;
}

.UIFAQPortlet .UIAddquestion {
	padding: 8px;
	border: 1px solid #c7c7c7;
}

.UIFAQPortlet .UIResponse .HorizontalLayout {
	padding: 8px;
	background: #f7f7f7;
}

.UIFAQPortlet .UIAddquestion .HorizontalLayout {
	padding: 8px;
	background: #f7f7f7;
}

.UIFAQPortlet .UIFormUploadInput input{
	width: auto;
}

.UIFAQPortlet .LanguageQuestion {
	background: url('background/FAQPortlet.gif') repeat-x center 0px;
	height: 28px;
	border: 1px solid #c7c7c7;
	line-height: 28px ;
	float: left ;
	margin: 0px 0px 5px 0px ;
}

.UIFAQPortlet .AddLanguage {
	background: url('background/FAQPortlet.gif') repeat-x center -838px;
	height: 28px;
	border: 1px solid #c7c7c7;
}

.UIFAQPortlet .AddLanguage .LanguageTitle {
	float: left;
	padding:6px 0px 0px 12px;
}

.UIFAQPortlet .AddLanguage .UIAction {
	float: right;
	width: 140px;
	padding: 3px 0px 0px 0px;
}

.UIFAQPortlet .SelectUserIcon {
	background: url('background/Worker2.png') no-repeat left ;
	width: 16px; height: 16px;
	padding: 3px;
}

.UIFAQPortlet .SelectMemberIcon {
	background: url('background/group.png') no-repeat left ;
	width: 16px; height: 16px;
	padding: 3px;
}

.UIFAQPortlet .SelectMemberShipIcon {
	background: url('background/membership.png') no-repeat left ;
	width: 16px; height: 16px;
	padding: 3px;
}

.UIFAQPortlet .UISettingForm {
	padding:8px;
}

.UIFAQPortlet .UISettingForm .UIForm .HorizontalLayout {
	padding: 8px;
	background-color: #EFEFEF;
}
/******************************	 Search	***************************************/

.UIFAQPortlet .UIAdvanceSearch {
	padding: 8px;
	border: 1px solid #c7c7c7;
}

.UIFAQPortlet .UIAdvanceSearch .HorizontalLayout {
	padding: 8px;
	background: #f7f7f7;
}

.UIFAQPortlet .UIAdvanceSearch .SearchContent .HorizontalLayout {
	padding: 8px;
	background: #ffffff;
	border-top: 0px;
}

/******************************	UISenToFriend	***************************************/

.UIFAQPortlet .UISenToFriend {
	padding: 8px;
	background: #ffffff;
	border-top: 0px;
}

.UIFAQPortlet .UISenToFriend .HorizontalLayout {
	padding: 8px;
	background: #f7f7f7;
}


/******************************	Icon	***************************************/

.UIFAQPortlet .FAQToolbar .Icon {
	padding:0px 2px 0px 26px;
	line-height: 22px;
}

.UIFAQPortlet .FAQToolbar .AddCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -58px;
}

.UIFAQPortlet .FAQToolbar .ShowQuestions {
	background: url('background/FAQPortlet.gif') no-repeat left -80px;
}

.UIFAQPortlet .FAQToolbar .Setting {
	background: url('background/FAQPortlet.gif') no-repeat left -102px;
}

.UIFAQPortlet .FAQToolbar .Print {
	background: url('background/FAQPortlet.gif') no-repeat left -122px;
}

.UIFAQPortlet .FAQToolbar .Rss {
	background: url('background/FAQPortlet.gif') no-repeat left -143px;
}

.UIFAQPortlet .FAQToolbar .SubCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -58px;
}

.UIFAQPortlet .FAQToolbar .AddQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -510px;
}

.UIFAQPortlet .Langguage {
	background: url('background/FAQPortlet.gif') no-repeat left -800px;
	height: 12px;
	width: 12px;
}

.UIFAQPortlet .ActionsPrint {
	background: url('background/FAQPortlet.gif') no-repeat left -685px;
}

.UIFAQPortlet .ActionsEdit {
	background: url('background/FAQPortlet.gif') no-repeat left -619px;
}

.UIFAQPortlet .ActionsDelete {
	background: url('background/FAQPortlet.gif') no-repeat left -642px;
}

.UIFAQPortlet .SendToFriend {
	background: url('background/FAQPortlet.gif') no-repeat left -707px;
}

.UIFAQPortlet .EditCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -258px;
}

.UIFAQPortlet .DeleteCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -279px;
}

.UIFAQPortlet .MoveCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -302px;
}

.UIFAQPortlet .AddNewQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -510px;
}

.UIFAQPortlet .MoveDown {
	background: url('background/FAQPortlet.gif') no-repeat left -325px;
}

.UIFAQPortlet .MoveUp {
	background: url('background/FAQPortlet.gif') no-repeat left -346px;
}

.UIFAQPortlet .CategorySetting {
	background: url('background/FAQPortlet.gif') no-repeat left -368px;
}

.UIFAQPortlet .Watch {
	background: url('background/FAQPortlet.gif') no-repeat left -391px;
}

.UIFAQPortlet .EditSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -527px;
}

.UIFAQPortlet .DeleteSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -551px;
}

.UIFAQPortlet .MoveSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -572px;
}

.UIFAQPortlet .ResponseQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -595px;
}

.UIFAQPortlet .MoveQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -660px;
}

.UIFAQPortlet .Edit {
	background: url('background/FAQPortlet.gif') no-repeat left -616px;
}

.UIFAQPortlet .Delete {
	background: url('background/FAQPortlet.gif') no-repeat left -638px;
}

.UIFAQPortlet .Print {
	background: url('background/FAQPortlet.gif') no-repeat left -682px;
}

.UIFAQPortlet .Send {
	background: url('background/FAQPortlet.gif') no-repeat left -706px;
}
.AddRelation {
	background: url('background/AddIcon.gif') no-repeat;
	height:16px;
	width:16px;
	margin-left: 5px;
}