@import url('UIMoveCategoryForm/Stylesheet.css');
@import url('popup/Stylesheet.css');


.UIWindow .UIAnswersPortlet {
	min-width: 900px;
	border: none;
}

.UIAnswersPortlet {
	background: white;
	padding: 5px;
	min-width: 600px;
	border: none;
}

.UIAnswersPortlet h1 {
	font-size: 22px;
}

.UIAnswersPortlet h2 {
	font-size: 18px;
}

.UIAnswersPortlet h3 {
	font-size: 16px;
}

.UIAnswersPortlet h4 {
	font-size: 14px;
}

.UIAnswersPortlet h5 {
	font-size: 12px;
}

.UIAnswersPortlet h6 {
	font-size: 11px;
}

.UIAnswersPortlet ul,li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

/******************************************** UIRightClickPopupMenu ****************************************/
.UIAnswersPortlet .AnswerToolbar .UIPopupCategory {
	left: 0px;
	position: absolute;
	top: 24px;
	width: auto;
	z-index: 100;
}

.UIAnswersPortlet .AnswerToolbar .UIRightClickPopupMenu {
	width:175px;
	min-width:190px;
	white-space: nowrap;
}

.UIAnswersPortlet .UICategories .UIRightClickPopupMenu {
	font-weight: normal;
}

.UIAnswersPortlet .AnswerToolbar .UIRightClickPopupMenu .LineMenu {
	width:150px;
	margin: 4px auto;
	border-top: solid 1px #7b7b7b;
}

.UIAnswersPortlet .UIRightClickPopupMenu .MenuItem a {
	padding: 4px 10px 4px 25px;
}

.UIAnswersPortlet .QuestionContainer .UIRightClickPopupMenu .MenuItem .ItemIcon {
	float: none;
	height: auto;
}

.UIAnswersPortlet .UIRightClickPopupMenu .IconItem {
	cursor: pointer;
	display: block;
	line-height: 20px;
	white-space: nowrap;
	width: auto;
}

/******************************************** UIBreadcumbs ****************************************/


.UIAnswersPortlet .UIBreadcumbs {
	border: 1px solid #e2e2e2;
	background: #f6f6f6;
	height: 30px;
	padding: 0px;
}

.UIAnswersPortlet .UIBreadcumbs .OpenIcon {
	float: left;
	background: url('background/FAQPortlet.gif') no-repeat left -243px;
	width: 16px; height: 14px;
	margin: 5px 8px 0px 8px;
}

.UIAnswersPortlet .UIBreadcumbs a.Selected {
	color: #1e1f21;
	font-weight: bold;
}

.UIAnswersPortlet .UIBreadcumbs .Selected {
	float: left;
	color: #4c4c4c;	
	padding: 0px 5px;
	line-height: 30px;
	font-size: 14px;
}

.UIAnswersPortlet .UIBreadcumbs .AnswerHomeIcon {
  float: left;
	height: 24px;
  padding: 6px 5px 0px 0px;
  vertical-align: top;
}

.UIAnswersPortlet .UIBreadcumbs .AnswerHomeIcon img {
  vertical-align: top;
}

.UIAnswersPortlet .UIBreadcumbs .RightArrowIcon {
	float: left;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat right center ;
	padding-right: 16px;
}

.UIAnswersPortlet .UIBreadcumbs .TableLayout {
	table-layout:fixed;
}

.UIAnswersPortlet .UIBreadcumbs .RightBreadcumbsInfoBar {
	width: 320px;
}

.UIAnswersPortlet .UIBreadcumbs .LastItem {
  padding-right: 25px;
}

.UIAnswersPortlet .ScrollButtons {	
  padding:5px 1px 5px 1px;
}

.UIAnswersPortlet .UIBreadcumbs .ScrollButtons {
  position: absolute;
  top: 1px;
  right: -10px;
  width: 35px;
}

.UIAnswersPortlet .UIBreadcumbs .ScrollButtonContainer {
 	float:right;
  position: relative;
  width: 1px;
}

.UIAnswersPortlet .DisableScrollLeftButton {
	background: url('background/DisableScrollLeftButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 5px;
	padding-left:12px;
	width:13px;
}

.UIAnswersPortlet .DisableScrollRightButton {
	background: url('background/DisableScrollRightButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 2px;
	width:13px;
}

.UIAnswersPortlet .ScrollRightButton {
	background: url('background/ScrollRightButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 2px;
	width:13px;
}

.UIAnswersPortlet .ScrollLeftButton {
	background: url('background/ScrollLeftButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	padding-left:12px;
	margin:0px 5px;
	width:13px;
}

.UIAnswersPortlet .HighlightScrollRightButton {
	background: url('background/HighlightScrollRightButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 2px;

	width:13px;
}

.UIAnswersPortlet .HighlightScrollLeftButton {
	background: url('background/HighlightScrollLeftButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 5px;
	padding-left:12px;
	width:13px;
}

.UIAnswersPortlet .UICategoriesSummary {
	margin: 5px;
}

.UIAnswersPortlet .FAQIcon {
	background: url('background/FAQPortlet.gif') no-repeat left -465px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 8px 0px;
	white-space: nowrap;
}
/**************************** UIAnswersPortlet AnswerToolbar *********************************/
.UIAnswersPortlet .UIQuestions {
	margin-top: 5px;
	height: 100%;
}

.UIAnswersPortlet .UIQuestions div {
	font-family: Verdana,Lucida,Tahoma,Arial,Helvetica,sans-serif;
}

.UIAnswersPortlet .UIQuestions .AnswerToolbar {
	background: #fff;
}

.UIAnswersPortlet .UIQuestions .PrintAction {
	display: none;
}

.UIAnswersPortlet .AnswerToolbar {
	height: 30px;
	line-height: 30px;
	background: #f8f8f8;
	border: 1px solid #e6e6e6;
	padding-left: 10px;
	font-size: 14px;
}

.UIAnswersPortlet .AnswerToolbar .TextTitle {
	font-size: 14px;
}

.UIAnswersPortlet a {
	color: #000000;
}

.UIAnswersPortlet a:hover {
	color: #058ee6;
}

.UIAnswersPortlet .AnswerToolbar .Title {
	float: left;
	font-weight: bold;
	margin: 6px 0px 0px 8px;
}

.UIAnswersPortlet .AnswerToolbar .SeparatorLine {
	border-right: 1px solid #d5d5d5;
	margin: 4px 8px 0px 0px;
	padding-right: 8px;
	float: left;
}

.UIAnswersPortlet .AnswerToolbar .DownArrow1Icon {
	background: url('background/DownIcon.gif') no-repeat 93% 10px;
	padding-right: 20px;
}

/*********************FAQ UIQuickSeach***************************/
.UIAnswersPortlet .UIQuickSeach {
	float: right;
	padding: 2px 6px 0px 0px;
}

.UIAnswersPortlet .UIQuickSeach label {
	color: #4c4c4c;
	margin-right: 5px;
}

.UIAnswersPortlet .UIQuickSeach .SearchIcon {
	background: url('background/FAQPortlet.gif') no-repeat left -210px;
	float: right;
	height:16px;
	margin:5px 3px 0px 3px;
	width:16px;
	cursor: pointer;
}

.UIAnswersPortlet .UIQuickSeach .AdvancedSearch {
	background: url('background/FAQPortlet.gif') no-repeat left -226px;
	float:right;
	height:16px;
	margin:5px 3px 0px 3px;
	width:16px;
	cursor: pointer;
}

.UIAnswersPortlet .UIQuickSeach input {
	!width: 165px;
  height: 16px;
}

.UIAnswersPortlet .UISearchForm input {
	margin: 0px 4px;
	width: 150px;
	height: 17px;
}

.UIAnswersPortlet .UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
	height: auto;
	border: medium none;
	background: none;
}

.UIAnswersPortlet .UIGroupMembershipSelector .UIBreadcumbs .LeftBlock {
	line-height: 25px;
	padding: 0px 2px;
}

/******************************	OverButton	***************************************/


/******************************	FAQContent	***************************************/

.UIAnswersPortlet .AnswersContainer {
	background: white;
	border: 1px solid #e6e6e6;
	border-top: 0px;
	height: auto; 
	padding: 8px 0px 8px 10px; 
	margin-bottom: 5px; 
	line-height: 18px;
}

.UIAnswersPortlet .AnswersContainer a {
	color: #4c4c4c;
	cursor: pointer;
}

.UIAnswersPortlet .AnswersContainer a:hover {
	color: #115eb2;
}

.UIAnswersPortlet .CategoriesContainer {
	min-height:339px;
	overflow: auto;
}

.UIAnswersPortlet .HorizontalLayout {
	background-color:#F3F3F3;
	border:1px solid #C7C7C7;
	margin:10px;
	padding:10px;
}

.UIAnswersPortlet .AnswersContainer .FAQContent {
	padding: 8px 0px;
}

.UIAnswersPortlet .LockFunction {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .FAQCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -465px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 8px 0px;
	white-space: nowrap;
}

.UIAnswersPortlet .UICategories {
	white-space: nowrap;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.UIAnswersPortlet .UICategories .FAQCategoryRoot {
	background: url('background/BlackBorderDownArrow.gif') no-repeat left;
	padding: 0px 0px 6px 28px;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
}

.UIAnswersPortlet .UICategories .FAQCategoryRootBlack {
	background: url('background/BlackBorderDownBlack.gif') no-repeat left;
	padding: 0px 0px 0px 28px;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	font-weight: bold;
}

.UIAnswersPortlet .UICategories .FAQCategoryRight {
	background: url('background/BlackBorderRightArrow.gif') no-repeat left center;
	padding: 0px 0px 0px 20px;
	line-height: 16px;
	white-space: nowrap;
	cursor:pointer;
	margin-bottom: 5px;
}

.UIAnswersPortlet .UICategories .FAQCategoryRight a {
	color: #4c4c4c;
}

.UIAnswersPortlet .UICategories .FAQCategoryRight a:hover {
	color: #115eb2;
}

.UIAnswersPortlet .UICategories .FAQCategoryRightBlack {
	background: url('background/BlackBorderRightBlack.gif') no-repeat left;
	padding: 0px 0px 4px 28px;
	height: 16px;
	line-height: 16px;
	white-space: nowrap;
	font-weight: bold;
	user-select:none;
}

.UIAnswersPortlet .UICategories .FAQTmpCategory {
	height:8px;
}

.UIAnswersPortlet .UICategories .FAQHighlightCategory {
	height:20px;
}

.FAQDnDCategory{
	position: absolute;
	padding:0px 0px 4px 20px;
	line-height:14px;
	height:14px;
	border: solid 1px #333333;
	background: #cccccc url('background/BlackBorderRightArrow.gif') no-repeat left;
	opacity:0.5;
	filter: Alpha(Opacity=50);
}

.UIAnswersPortlet .UICategories .FAQBack {
	background: url('background/BlueUpLevelArrow.gif') no-repeat left;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 0px 0px 8px 0px;
	white-space: nowrap;
	font-weight: bold;
}

.UIAnswersPortlet .UIQuestions .AnswerToolbar .UIRightClickPopupMenu {
	min-width: 150px;
	width: 150px;
}

.UIAnswersPortlet .UIQuestions .UIRightClickPopupMenu {
	display: block;
}

.UIAnswersPortlet .UIQuestions .AnswersContainer {
	min-height: 400px;
	border: none;
}

.UIAnswersPortlet .UIQuestions .AnswersContainer .UIFAQPopupCategory {
	width: auto;
	z-index: 100;
}

.UIFAQPopupCategory{
	position:absolute;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .FAQCategory .UIContextMenuContainer .LineMenu {
	width: 150px;
	margin: 4px auto;
	border-top: solid 1px #7b7b7b;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .Sup-Title {
	font-weight: bold;
}
/******************************	Move Questions ***************************************/

.UIAnswersPortlet .UIMoveQuestionForm {
	padding: 10px;
}

.UIAnswersPortlet .UIMoveQuestionForm .TitleMoveThreads {
	padding-left: 10px;
	line-height: 20px;
	font-weight: bold;
	width: 90%;
}

.UIAnswersPortlet .UIMoveQuestionForm .ViewQuestionsAtMove {
	background-color:#F3F3F3;
	margin:10px;
	overflow:auto;
	padding-bottom:5px;
}

/******************************	Question Select	***************************************/

.UIAnswersPortlet .QuestionSelect {
	padding: 15px 20px;
	border-top: 1px solid #d9d9d9;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	overflow: hidden;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .QuestionContent {
	margin: 0px 360px 0px 100px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContent .QuestionName {
	color: #115eb2;
	font-weight: bold;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .ActionQuestion {
	float: right;
	width: 350px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .SendToFriend {
	float: right;
	background: url('background/SendToFriend.gif') no-repeat left center;
	width: 21px; height: 20px;
	cursor: pointer;
	margin: 0px 4px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .LockSendToFriend {
	float: right;
	background: url('background/LockSendToFriend.gif') no-repeat left center;
	width: 21px; height: 20px;
	cursor: pointer;
	margin: 0px 4px;
}

.UIAnswersPortlet .ApprovedQuestion {
	float: left;
	background: url('background/question-approve.gif') no-repeat left center;
	width: 16px; height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAnswersPortlet .UnApprovedQuestion {
	float: left;
	background: url('background/question-unapprove.gif') no-repeat left center;
	width: 16px; height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAnswersPortlet .ActivateQuestion {
	float: left;
	background: url('background/question-active.gif') no-repeat left center;
	width: 16px; height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAnswersPortlet .DeActivateQuestion {
	float: left;
	background: url('background/question-deactive.gif') no-repeat left center;
	width: 16px; height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAnswersPortlet .DeleteAnswer {
	float: left;
	background: url('background/DustBin.gif') no-repeat left center;
	width: 18px; height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAnswersPortlet .DustBin {
	background: url('background/DustBin.gif') no-repeat center;
	width: 18px; height: 20px;
}

.UIAnswersPortlet .VoteFAQ {
	float: right;
	background: url('background/VoteIcon.gif') no-repeat center;
	width: 21px; height: 20px;
	cursor: pointer;
}

.UIAnswersPortlet .QuestionSelect .SortAnswer {
	background: url('background/DownIcon.gif') no-repeat right 7px;
	cursor: pointer;
	display: block;
	color: #4c4c4c;
	padding-right: 16px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .LockSendToFriend {
	float: right;
	background: url('background/LockSendToFriend.gif') no-repeat left center;
	width: 21px; height: 20px;
	cursor: pointer;
	margin: 0px 4px;
}

.UIAnswersPortlet .EmailAddressIcon {
	float: left;
	background: url('background/Email_icons_007.gif') no-repeat left center;
	height: 20px;
	line-height: 20px;
	margin-left: 16px;
	padding: 5px 0px 5px 20px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .LanguageContainer {
	text-align: right;
	line-height: 20px;
	color: #115eb2;
	padding: 3px 0px;
	font-size: 11px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .LanguageContainer a {
	color: #115eb2;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .LanguageContainer a:hover {
	text-decoration: underline;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .IconColumn {
	width: 25px;
	float: right;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .PrintScrintFAQ {
	float: right;
	background: url('background/PrintScrintFAQ.gif') no-repeat left center;
	width: 21px; height: 20px;
	cursor: pointer;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .IconContainer .Edit,
.UIAnswersPortlet .QuestionSelect .QuestionContainer .IconContainer .Delete,
.UIAnswersPortlet .QuestionSelect .QuestionContainer .IconContainer .MoveQuestion {
	float: right;
	width: 17px; height: 20px;
	cursor: pointer;
	margin-left: 3px;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .BackPageFAq {
	float: right;
	background: url('background/BackPageIcon.gif') no-repeat left center;
	width: 21px; height: 20px;
	cursor: pointer;
}

.UIAnswersPortlet .QuestionSelect .QuestionContainer .LanguageSetting {
	line-height: 20px;
	font-weight: bold;
	color: #1e1f21;
	float: right;
}





/******************************	UIFAQ Sup-Category	***************************************/

.UIAnswersPortlet .UIFAQSupCategory{
	margin: 5px;
}


.UIAnswersPortlet .AnswersContainer .FAQContent .Sup-Icon {
	background: url('background/FAQPortlet.gif') no-repeat left -166px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 8px 0px;
	white-space: nowrap;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .Question {
	background: url('background/questionIcon.gif') no-repeat left 0px;
	height: 16px ; width: 20px;
	float: left;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .LeftQuestionContainer .Question {
	background: none;
	height: auto ; width: auto;
	float: none;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .NotResponse {
	background: url('background/NotResponse.gif') no-repeat left 0px;
	height: 16px ; width: 20px;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .LeftQuestionContainer .NotResponse {
	background: none;
	height: auto ; width: auto;
	float: none;	
}

.UIAnswersPortlet .NotApproved {
	background:transparent url(background/question_not_approved.gif) no-repeat left center;
	width: 16px;
	height: 18px;
	float: left;
}

.UIAnswersPortlet .QuestionContainer {
	
}

.UIAnswersPortlet .ViewQuestionNotApproved .QuestionName {
	font-weight: bold;
	font-size: 16px;
	color: #2e7b05;
}

.UIAnswersPortlet .QuestionDateTime {
	white-space: nowrap; 
	color:#808080;
	float: left;
	margin: 0px 5px 0px 0px;
}

.UIAnswersPortlet .LeftQuestionContainer .UIDetailContainer {
	padding: 5px 0px 8px 0px;
}

.UIAnswersPortlet .LeftQuestionContainer .UIDetailContainer p {
	margin: 0px;
	font-style: italic;
	color: #4c4c4c;
}

.UIAnswersPortlet .LeftQuestionContainer .QuestionAction {
	float: left;
	color: #115eb2;
}
 
.UIAnswersPortlet .LeftQuestionContainer .QuestionAction a {
	color: #115eb2;
	background: none;
}
 
.UIAnswersPortlet .LeftQuestionContainer .QuestionAction a:hover {
	text-decoration: underline;
}
 
.UIAnswersPortlet .LeftQuestionContainer .UIDetailContainer ul li {
	list-style: disc;
}

.UIAnswersPortlet .LeftQuestionContainer .UIDetailContainer ol li {
	list-style-type: inherit;
}

.UIAnswersPortlet .ProfileContainer .AuthorInfor {
	margin: 5px auto 0px auto;
	width: 120px;
}

.UIAnswersPortlet .ProfileContainer .AuthorInfor .UserName {
	font-size: 12px;
	color: #2879a3;
	font-weight: bold;
}

.UIAnswersPortlet .ProfileContainer .AvatarContainer {
	margin: 0px auto;
	width: 80px;
}

.UIAnswersPortlet .QuestionContainer .ImgProfile {
	width: 100px;
	float: left;
	text-align: center;
}

.UIAnswersPortlet .QuestionContainer .DisablePrint a {
	cursor: pointer;
}

.UIAnswersPortlet .QuestionContainer .VoteResult {
	width: 145px;
	float: right;
	line-height: 22px;
}

.UIAnswersPortlet .QuestionContainer .VoteResult .RatingInfoContainer {
	float: left;
}

.UIAnswersPortlet .QuestionContainer .VoteResult .Result {
	float: right;
	margin: 0px;
}

.UIAnswersPortlet .ImgAvatarBorder {
	border-radius: 3px;
	border: 1px solid #B7B7B7;
	border-bottom: 1px solid #8D8D8D;
	padding: 3px;
	background: white;
}


.UIAnswersPortlet .SmallImgAvatar {
	width: 70px;
	height: 70px;
}

.UIAnswersPortlet .FAQAvatar {
	width: 63px;
	height: 63px;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .questionTitle {
	max-width: 800px ;
	z-index: 5 ;
	display: none ;
	border:1px solid #7E7E7F;
	background:#F6F6F6 none repeat scroll 0%;
	margin:1px;
	padding:5px 5px 2px 5px;
	margin-top: 5px ;
	white-space:normal;
	position:absolute;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .Question-Title {
	color: #1555b5;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .categoryTitle {
	max-width: 800px ;
	z-index: 10 ;
	display: none ;
	border:1px solid #7E7E7F;
	background:#F6F6F6 none repeat scroll 0%;
	margin:1px;
	padding:5px 5px 2px 5px;
	margin-top: 5px ;
	white-space:normal;
	position:absolute;
}

.UIAnswersPortlet .ButtomQuestion {
	background: url('background/Buttomquestion.gif') repeat-x top left;
	height: 10px;
}
/******************************	Response	***************************************/

.UIAnswersPortlet .AnswersContainer .FAQContent .ResponseContent {
	padding: 8px 8px 8px 12px;
	background: white;
}

.UIPrintPreview .AnswersContainer .FAQContent .ResponseContent {
	padding: 0px 6px;
	background: white;
}

.UIAnswersPortlet .AnswersContainer .ResponseContent .ResponseContainer{
	padding: 0px 0px 0px 100px;
}

.UIAnswersPortlet .AnswersContainer .ResponseContainer .TitleResponseContent {
	border-bottom: solid 1px #e6e6e6;
}

.UIAnswersPortlet .AnswersContainer .ResponseContainer .TitleResponseContent .TxtTitle {
	float: left;
	margin: 0px;
	color: #4c4c4c;
	font-weight: bold;
	line-height: 26px;
}

.UIAnswersPortlet .AnswersContainer .ResponseContainer .TitleResponseContent .IconTitle {
	width: 100px;
	float: right;
	margin: 0px;
	text-align: right;
}


.UIAnswersPortlet .AnswersContainer .FAQContent .ResponseExternal {
	padding: 5px 10px 10px 0px; 
}

.UIAnswersPortlet .AnswersContainer .ResponseContainer .TitleCommentContent {
	border-bottom: solid 1px #e6e6e6;
	margin: 0px;
	color: #4c4c4c;
	font-weight: bold;
	line-height: 26px;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .CommentExternal {
	padding: 0px; 
}

.UIAnswersPortlet .AnswersContainer .FAQContent .ResponseItemContainer {
	padding: 10px 0px; 
}

.UIAnswersPortlet .AnswersContainer .FAQContent .ResponseItemContainer .IconContainer {
	width: 100px;
	float: right;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .ResponseItemContainer .IconContainer .ItemIcon {
	float: right;
	cursor: pointer;
	height: 20px;
	margin: 0 0 0 4px;
	width: 16px;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .Response .NotResponse {
	font-weight: bold;
	margin: auto;
	padding: 0px 0px 10px 20px;
	text-align: left;
	width: 300px;
}

.UIAnswersPortlet .AnswersContainer .FAQContent .RelationContent {
	padding-bottom: 4px;
	padding-left: 10px ;
}

.UIAnswersPortlet .AnswersContainer .RelationContent h4 {
	font-weight: bold; 
	font-size: 13px; 
	margin: 5px 0px 3px;
}

.UIAnswersPortlet .AnswersContainer .RelationContent p {
	padding:0px 0px 5px 10px;
	margin: 0px;
}

.UIAnswersPortlet .AnswersContainer .RelationContent p a {
	color: #1555B5;
}

.UIAnswersPortlet .EditQuestionContent {
	background: url('background/SelectedEditTab.gif') no-repeat left center;
	width: 18px;
	height: 18px;
	float: left;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent {
	padding-bottom: 4px;
	padding-left: 10px ;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .FileAttachment {
	float: left;
	width: auto;
	padding: 0px;
	margin-right: 5px;
}

.UIAnswersPortlet .ResponseContent .RelatedQuestions {
	padding: 4px 0px;
	padding-left: 10px ;
}

.UIAnswersPortlet .ResponseContent .ResponsActions {
	border-bottom: 1px solid #c7c7c7;
	padding: 4px 0px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .AttachmentBox {
	float: left;
	padding: 10px 10px 0px 10px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .LabelBox {
	line-height: 20px; 
	white-space: nowrap;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .Image {
	width: 100px; height: 100px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .AttachmentIcon {
	float: left;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .AttachmentLabel {
	color:#1555B5;
	float:left;
	font-weight:bold;
	line-height:20px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .SizeLabel {
	color: gray; 
	float: left;
	font-size: 11px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .Action {
	padding-top:50px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .Action .View {
	background: url('background/FAQPortlet.gif') no-repeat left -729px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .Action .Icon {
	cursor:pointer;
	float:left;
	line-height:20px;
	margin-right:10px;
	padding-left:20px;
}

.UIAnswersPortlet .ResponseContent .AttachmentContent .Download {
	background: url('background/FAQPortlet.gif') no-repeat left -752px;
}

.UIAnswersPortlet .ResponseContent .ResponsActions .UIAction {
	float: right;
	margin: 0px;
	width: 500px;
}

.UIAnswersPortlet .ResponseContent .ResponsActions .UserResponse {
	float: left;
	padding: 8px;
}

.UIAnswersPortlet .ResponseContent .ResponsActions .UIAction .ActionContainer {
	margin: 0px;
}

.UIAnswersPortlet .ResponseContent .ResponsActions .UIAction .IconButton {
	line-height: 22px;
	padding-left: 20px;
}

.UIAnswersPortlet .ResponseItemContainer .ImgItemContainer {
	float: left;
	width: 70px;
}

.UIAnswersPortlet .ResponseItemContainer .ImgItemContainer img {
	width: 50px;
	height: 50px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight {
	margin: 0px 150px 0px 70px;
	padding-bottom: 5px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .AuthorInfor {
	float: left;
	font-weight: bold;
	line-height: 22px;
	margin-right: 10px;
	color: #115eb2;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .AnswerContent {
	color: #4c4c4c;
	line-height: 22px;
	overflow: hidden;
	padding-bottom: 5px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .AnswerContent p {
	margin: 0px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .CommentContent {
	color: #4c4c4c;
	line-height: 22px;
	overflow: hidden;
	padding-bottom: 5px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .CommentContent p {
	margin: 0px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .Date {
	color: #808080;
	background: none;
	float: left;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .VoteAnswerContainer {
	overflow: hidden; 
	padding-left: 10px;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .VoteAnswerUp {
	float: left;
	display: block;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .VoteAnswerDown {
	float: left;
	display: block;
}

.UIAnswersPortlet .ResponseItemContainer .ResponseItemContainerRight .TextVoteAnswer {
	float: left;
	line-height: 18px; 
	margin-left: 4px;
}

.UIAnswersPortlet .UIResponse #QuestionRespone___Frame{
	height: 280px;
}

.UIAnswersPortlet .UIResponse .QuestionDetail {
	margin: 5px 0px 10px 5px;
	white-space:normal;
}

.UIAnswersPortlet .UIResponse .QuestionDetail p {
	margin: 0px;
}

.UIAnswersPortlet .UIResponse .ViewQuestionNotApproved p {
	margin: 0px;
}

/******************************	UI Add	***************************************/

.UIAnswersPortlet .UIAddCategory {
	padding: 8px;
	border: 1px solid #c7c7c7;
	background: #f7f7f7;
}

.UIAnswersPortlet .UIAddquestion {
	padding: 8px;
	border: 1px solid #c7c7c7;
}

.UIAnswersPortlet .UIFormUploadInput input{
	width: auto;
}

.UIAnswersPortlet .LanguageQuestion {
	background: url('background/FAQPortlet.gif') repeat-x center -838px;
	border: 1px solid #7f9db9;
	border-bottom: none;
	height: 28px;
	line-height: 28px ;
	font-weight: bold;
	padding-left: 8px;
	margin-top: 4px;
	width: 394px;
}

.UIAnswersPortlet .AddLanguage .LanguageTitle {
	float: left;
	padding:6px 0px 0px 12px;
}

.UIAnswersPortlet .AddLanguage .UIAction {
	float: right;
	width: 140px;
	padding: 3px 0px 0px 0px;
}

.UIAnswersPortlet .SelectUserIcon {
	background: url('background/Worker.gif') no-repeat left ;
	width: 16px; height: 16px;
}

.UIAnswersPortlet .SelectGroupIcon {
	background: url('background/group.png') no-repeat left ;
	width: 16px; height: 16px;
}

.UIAnswersPortlet .SelectMemberShipIcon {
	background: url('background/membership.png') no-repeat left ;
	width: 16px; height: 16px;
}

.UIAnswersPortlet .UISettingForm {
	padding:8px;
}

.UIAnswersPortlet .FAQChildNodeContainer {
	display:none;
	padding-left:30px;
}

.UIResultContainer .PopupContent {
	max-height: 450px;
}

.UIAnswersPortlet .UIPopupViewQuestion {
	padding: 8px;
	background-color: #EFEFEF;
}

.UIAnswersPortlet .UIPopupViewQuestion .ViewQuestion {
	padding-left: 20px;
}

.UIAnswersPortlet .UIResultContainer .UIGrid {
	width: 97%;
	margin: auto;
}


.UIAnswersPortlet .UIWatchManager {
	padding: 2px;
}

.UIAnswersPortlet .UIWatchManager .UIGrid {
	width: 97%;
	margin: auto;
}
/******************************	 Search	***************************************/

.UIAnswersPortlet .UIAdvanceSearch {
	padding: 8px;
	border: 1px solid #c7c7c7;
}

.UIAnswersPortlet .UIAdvanceSearch .SearchContent .HorizontalLayout {
	padding: 8px;
	background: #ffffff;
	border-top: 0px;
}

.UIAnswersPortlet .FAQUIQuestionInfo .HorizontalLayout {
	padding: 0px;
	margin: 0px;
	border-top: 0px;
}

/******************************	UISenToFriend	***************************************/

.UIAnswersPortlet .UISendMailForm {
	padding: 8px;
	background: #ffffff;
	border-top: 0px;
}

.UIAnswersPortlet .UISendMailForm input{
	width: 400px ;
}

.UIAnswersPortlet .UISendMailForm #To{
	width: 350px ;
}

.UIAnswersPortlet .UISendMailForm #FAQSelectCateList{
	width: 150px ;
}

/****************************** UISettingForm ********************************************/
.UIAnswersPortlet .FAQPortletSetting .UITabPane .UITabContentContainer .UITabContent{
	height:auto;
}

.UIAnswersPortlet .FAQPortletSetting #EmailAddNewQuestion___Frame{
	height: 190px;
	width: 600px;
}
.UIAnswersPortlet .FAQPortletSetting #EmailEditQuestion___Frame{
	height: 190px;
	width: 600px;
}

/******************************	UIAnswersPageIterator	***************************************/
.UIAnswersPageIterator {		
	float:right;
	margin: 0px ;
	width: 420px;
	padding: 3px 0px 0px 0px ;
}

.UIAnswersPageIterator .PageIteratorContainer {		
	float: right ;
	overflow: hidden ; 
	padding: 3px;
}

.UIAnswersPageIterator .PageIteratorContainer .LeftPageIteratorBlock{		
	line-height: 18px ; 
	float: right ;
	margin-right: 15px;
}

.UIAnswersPageIterator .PageIteratorContainer .RightPageIteratorBlock{		
	float: right ;
}

.UIAnswersPageIterator .Icon {
	float: left ;
	margin: 0px 2px 0px 0px ;
	width: 18px ; height: 17px ;
}

.UIAnswersPageIterator .TotalPages {
	float: left ;
	line-height: 16px ; 
}

.UIAnswersPageIterator .PagesTotalNumber {
	float: left ;
	line-height: 17px ; 
	color: #0183f1;
	margin-left: 5px;
}

.UIAnswersPageIterator .Number {
	float: left ;
	text-align: center;
	margin: 0px 2px 0px 0px;
	line-height: 17px;
	width: 15px ;
}

.UIAnswersPageIterator .LastTopPageIcon {
	vertical-align: middle ;
	background: url('background/ScrollDoubleBackArrows.gif') no-repeat ;
	cursor: pointer ;
}

.UIAnswersPageIterator .NextTopPageIcon {
	background: url('background/ScrollDoubleNextArrows.gif') no-repeat ;
	cursor: pointer ;
}

.UIAnswersPageIterator .LastPageIcon {
	background: url('background/ScrollSingleBackArrow.gif') no-repeat ;
	cursor: pointer ; 
}

.UIAnswersPageIterator .NextPageIcon {
	background: url('background/ScrollSingleNextArrow.gif') no-repeat ;
	cursor: pointer ;
}

.UIAnswersPageIterator .DisableLastTopPageIcon {
	vertical-align: middle ;
	background: url('background/DoubleBackArrows.gif') no-repeat ;
}

.UIAnswersPageIterator .DisableNextTopPageIcon {
	background: url('background/DoubleNextArrows.gif') no-repeat ;
}

.UIAnswersPageIterator .DisableLastPageIcon {
	background: url('background/SingleBackArrow.gif') no-repeat ;
}

.UIAnswersPageIterator .DisableNextPageIcon {
	background: url('background/SingleNextArrow.gif') no-repeat ;
}

/******************************	UI AddNew/Edit Question	***************************************/

.UIAnswersPortlet .UIQuestionForm textarea {
	font-size:11px;
	height:150px;
	width:400px;
	float:left ;
	margin-top: 0px;
}

.UIAnswersPortlet .ViewAttachFile {
	line-height: 18px;
	margin: 0px 0px 3px 5px; 
	white-space:normal; 
}

.UIAnswersPortlet .ViewFormAttachment {
	background-color:#F3F3F3;
	border:1px solid #C7C7C7;
	/*margin:5px;*/
	padding:5px; 
	max-width: 100% ;
}

.UIAnswersPortlet .FileAttachment {
	float: left; 
	width: 100%; 
	padding-bottom:5px; 
	white-space:normal; 
}

/******************************	UIResponseQuestion	***************************************/
.UIAnswersPortlet .UIResponseForm textarea {
	font-size:11px;
	height:150px;
	width:530px;
}

/******************************	UIRAddRelationForm	***************************************/
.UIAnswersPortlet .ViewQuestionsToSelect{
	margin: 10px 10px 10px 10px;
	background-color:#F3F3F3; 
	padding-bottom: 5px;
	max-height: 400px;
	overflow: auto;
}

/******************************	UIQuestinoManager	***************************************/
.UIAnswersPortlet .ResponseForm textarea {
	font-size:11px;
	height:150px;
	width:530px;
}

/******************************	UIQuestionsInfo	***************************************/

/******************************	Icon	***************************************/

.UIAnswersPortlet .AnswerToolbar .Icon {
	padding-left: 26px;
	line-height: 22px;
	display: block;
	cursor: pointer;
	color: #4c4c4c;
}

.UIAnswersPortlet .AnswerToolbar .Icon:hover {
	color: #115eb2;
}

.UIAnswersPortlet .AnswerToolbar .FAQCustomView {
	background: url('background/CustomViewIconLeft.GIF') no-repeat left -2px;
	height: 20px;
}

.UIAnswersPortlet .AnswerToolbar .FAQCustomViewRight {
	background: url('background/CustomViewIconRight.GIF') no-repeat left;
}

.UIAnswersPortlet .AnswerToolbar .AddCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -58px;
}

.UIAnswersPortlet .AnswerToolbar .ShowQuestions {
	background: url('background/FAQPortlet.gif') no-repeat left -80px;
}

.UIAnswersPortlet .AnswerToolbar .Setting {
	background: url('background/FAQPortlet.gif') no-repeat left -102px;
}

.UIAnswersPortlet .AnswerToolbar .Print {
	background: url('background/FAQPortlet.gif') no-repeat left -122px;
}

.UIAnswersPortlet .FAQRSS {
	background: url('background/FAQPortlet.gif') no-repeat left -143px;
}

.UIAnswersPortlet .MenuItem .FAQRSS {
	background: url('background/FAQPortlet.gif') no-repeat left -143px;
}

.UIAnswersPortlet .CategoryManager {
	background: url('background/FAQPortlet.gif') no-repeat left -370px;
}

.UIAnswersPortlet .AnswerToolbar .SubCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -58px;
}

.UIAnswersPortlet .AnswerToolbar .AddQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -510px;
}

.UIAnswersPortlet .Langguage {
	background: url('background/FAQPortlet.gif') no-repeat left -800px;
	height: 12px;
	width: 12px;
}

.UIAnswersPortlet .AddCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -57px;
}

.UIAnswersPortlet .MenuItem .AddCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -57px;
}

.UIAnswersPortlet .ActionsPrint {
	background: url('background/FAQPortlet.gif') no-repeat left -685px;
}

.UIAnswersPortlet .ActionsEdit {
	background: url('background/FAQPortlet.gif') no-repeat left -619px;
}

.UIAnswersPortlet .ActionsDelete {
	background: url('background/FAQPortlet.gif') no-repeat left -642px;
}

.UIAnswersPortlet .SendToFriend {
	background: url('background/FAQPortlet.gif') no-repeat left -707px;
}

.UIAnswersPortlet .EditCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -260px;
}

.UIAnswersPortlet .MenuItem .EditCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -260px;
}

.UIAnswersPortlet .DeleteCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -282px;
}

.UIAnswersPortlet .MenuItem .DeleteCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -282px;
}

.UIAnswersPortlet .MoveCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -305px;
}

.UIAnswersPortlet .MenuItem .MoveCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -305px;
}

.UIAnswersPortlet .AddNewQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -508px;
}

.UIAnswersPortlet .MenuItem .AddNewQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -508px;
}

.UIAnswersPortlet .MoveDown {
	background: url('background/FAQPortlet.gif') no-repeat left -325px;
}

.UIAnswersPortlet .MoveUp {
	background: url('background/FAQPortlet.gif') no-repeat left -346px;
}

.UIAnswersPortlet .Setting {
	background: url('background/FAQPortlet.gif') no-repeat left -368px;
}

.UIAnswersPortlet .Watch {
	background: url('background/FAQPortlet.gif') no-repeat left -393px;
}

.UIAnswersPortlet .AddWatchIcon {
	height: 22px; width: 22px;
}

.UIAnswersPortlet .MenuItem .Watch {
	background: url('background/FAQPortlet.gif') no-repeat left -393px;
}

.UIAnswersPortlet .EditSubCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -258px;
}

.UIAnswersPortlet .MenuItem .EditSubCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -258px;
}

.UIAnswersPortlet .DeleteSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -551px;
}

.UIAnswersPortlet .MenuItem .DeleteSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -551px;
}

.UIAnswersPortlet .MoveSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -572px;
}

.UIAnswersPortlet .MenuItem .MoveSupCategory {
	background: url('background/FAQPortlet.gif') no-repeat left -572px;
}

.UIAnswersPortlet .MenuItem .Comment {
	background: url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/UserIcons/Comment.gif) no-repeat left center;
}

.UIAnswersPortlet .UIAnswersPopupAction .ResponseQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -597px;
}

.UIAnswersPortlet .MenuItem .ResponseQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -597px;
}

.UIAnswersPortlet .MoveQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -663px;
}

.UIAnswersPortlet .MenuItem .MoveQuestion {
	background: url('background/FAQPortlet.gif') no-repeat left -663px;
}

.UIAnswersPortlet .CommentToAnswer {
	background: url('background/CommentToAnswer.gif') no-repeat left;
}

.UIAnswersPortlet .Edit {
	background: url('background/FAQPortlet.gif') no-repeat left -619px;
}

.UIAnswersPortlet .MenuItem .Edit {
	background: url('background/FAQPortlet.gif') no-repeat left -619px;
}

.UIAnswersPortlet .Delete {
	background: url('background/FAQPortlet.gif') no-repeat left -641px;
}

.UIAnswersPortlet .MenuItem .Delete {
	background: url('background/FAQPortlet.gif') no-repeat left -641px;
}

.UIAnswersPortlet .Print {
	background: url('background/FAQPortlet.gif') no-repeat left -682px;
}

.UIAnswersPortlet .AnswerToolbar .ShowQuestionNotYetAnswer {
	background: url('background/FAQPortlet.gif') no-repeat left -80px;
}

.UIAnswersPortlet .QuestionManagament {
	background: url('background/FAQPortlet.gif') no-repeat left -872px;
}

.UIAnswersPortlet .Export {
	background: url('background/Export.gif') no-repeat left;
}

.UIAnswersPortlet .MenuItem .Export {
	background: url('background/Export.gif') no-repeat left center;
}

.UIAnswersPortlet .Import {
	background: url('background/Import.gif') no-repeat left;
}

.UIAnswersPortlet .MenuItem .Import {
	background: url('background/Import.gif') no-repeat left center;
}

.UIAnswersPortlet .QuestionIcon {
	background:transparent url(background/FAQPortlet.gif) no-repeat scroll left -818px;
	width: 16px; height: 16px;
}

.UIAnswersPortlet .CategoryIcon {
	background:transparent url(background/FAQPortlet.gif) no-repeat scroll left -466px;
	width: 17px; height: 17px;
}

.FAQCategoryViewMove {
	float: left;
	background: url('background/FAQPortlet.gif') no-repeat left -465px;
	height:18px;
	width:18px;
	margin-left: 5px;
	margin-right: 5px ;
}

.FAQCategoryView {
	background: url('background/FAQPortlet.gif') no-repeat left -465px;
	line-height:18px;
	margin: 5px 0px 5px 8px;
	padding-left: 25px;
}

.FAQCategoryTreeView {
	background: url('background/CategoryIcon.png') no-repeat left 0px;
	line-height:18px;
	margin: 5px 0px 5px 8px;
	padding-left: 25px;
}

.CategoryNormalIcon {
	background: url('background/CategoryIcon.png') no-repeat left 0px;
}

.FAQQuestionView {
	float: left;
	background: url('background/FAQPortlet.gif') no-repeat left -818px;
	padding-left: 18px;
	height: 18px;
	margin: 8px 0px;
	margin-right: 5px ;
}

.UIAnswersPortlet .Send {
	background: url('background/FAQPortlet.gif') no-repeat left -706px;
}

.UIAnswersPortlet .MenuItem .Send {
	background: url('background/FAQPortlet.gif') no-repeat left -706px;
}

.UIAnswersPortlet .AddRelation {
	background: url('background/IconAdd.gif') no-repeat left top;
	height:16px;
	width:16px;
	float: left;
	cursor:pointer;
}

.UIAnswersPortlet .RemoveRelation {
	background: url('background/IconTick.gif') no-repeat left center;
	height:16px;
	width:16px;
	float: left;
	cursor:pointer;
}

.UIAnswersPortlet .UIQuestionManagerForm .ItemIcon {
	height:24px;
	width:24px;
}

.UIAnswersPortlet .CheckIcon {
	background: url('background/icon.png') no-repeat left;
	height:16px;
	width:16px;
}

.UIAnswersPortlet .FAQViewIcon {
	background: url('background/FAQYey.gif') no-repeat left;
	height:16px;
	width:16px;
	margin: 0px auto;
}

.UIAnswersPortlet .TrueIcon {
	background:transparent url(background/FAQPortlet.gif) no-repeat scroll left -797px;
	line-height:16px;
	margin-left:15px;
	padding-right:15px;
}

.UIAnswersPortlet .LanguageSelectIcon {
	background: url('background/FAQPortlet.gif') no-repeat left -797px;
	line-height:16px;
	padding-left: 16px;
}

.UIAnswersPortlet .FalseIcon {
	background: url('background/FAQPortlet.gif') no-repeat left -893px;
	line-height:16px;
	margin-left:15px;
	padding-right:15px;
}

.UIAnswersPortlet .MultiAnswerIcon {
	background: url('background/FAQPortlet.gif') no-repeat left -575px;
	padding-right:18px;
	margin-left:5px;
	height:20px;
}

.UIAnswersPortlet .VoteAnswerUp {
	background: url('background/concur.gif') no-repeat center;
	height: 16px;	width: 16px;
	cursor: pointer;
	filter: alpha(opacity: 70); 
	opacity: 0.7;
}

.UIAnswersPortlet .VoteAnswerDown {
	background: url('background/oppose.gif') no-repeat bottom center;
	height: 18px;	width: 16px;
	cursor: pointer;
	margin: 0px 5px;
	filter: alpha(opacity: 70); 
	opacity: 0.7;
}

.UIAnswersPortlet .RatedVote {
	float: left ;
	background: url('background/SmallGreyStar.gif') no-repeat center;
	height: 22px;	width: 22px;
	cursor: pointer;
}

.UIAnswersPortlet .UIRatingForm {
	padding: 8px 10px;
}

.UIAnswersPortlet .UIRatingForm .VoteFormContainer {
	border: solid 1px #e1e1e1 ;
	background: #f4f4f4 ;
	padding-top: 10px;
}

.UIAnswersPortlet .UIRatingForm .VoteFormContainer .RatingInfoContainer {
	border: solid 1px #e1e1e1 ;
	width: 130px;
	margin: auto;
}

.UIAnswersPortlet .UIRatingForm .VoteFormContainer .OptionsContainer {
	border: solid 1px #ffffff ;
	padding-left: 7px;
}

.FAQDotLine {
	background: url('background/line.gif') repeat-y left;
	margin-left:20px;
}

.FAQDotLineTwo {
	background: url('background/line2.gif') no-repeat left;
}

.UIAnswersPortlet .OverVote {
	float: left ;
	background: url('background/SmallYellowStar.gif') no-repeat center;
	height: 22px;	width: 22px;
	cursor: pointer;
}

.UIAnswersPortlet .HaftVote {
	float: left ;
	background: url('background/SmallHalfStar.gif') no-repeat center;
	height: 22px;	width: 22px;
	cursor: pointer;
}

.UIAnswersPortlet .WatchUserManager {
	background: url('background/FAQYey.gif') no-repeat right bottom;
	width: 16px;
	height: 15px;
	cursor:pointer;
}

.UIPrintPreview {
	background: white ;
	height: auto ;
}

.UIPrintPreview .AnswersContainer {
	border: 1px solid #c7c7c7;
	height: auto;
}

.UIPrintPreview .AnswersContainer .FAQContent{
	height: auto;
}

.UIPrintPreview .AnswersContainer .DefaultAction {
	display:none ;
}

.UIAnswersPortlet .BoxLanguageMenu {
	position: relative;
	border: 0px ;
}

.UIAnswersPortlet .UILanguageMenu {
	left: 4px ;
	top: 0px ;
}

.UIAnswersPortlet .MaxView {
	background: url('background/ViewIcon.gif') no-repeat left center;
}

.UIAnswersPortlet .JPGIcon {
	background: url('background/JPGIcon.gif') no-repeat left center;
}

.UIAnswersPortlet .UnWatch {
	background: url('background/DeleteWatch.gif') no-repeat left center;
	padding: 10px 14px 9px 4px;
}

.UIAnswersPortlet .DiscussForum {
	background: url('background/DiscussForum.gif') no-repeat center;
	padding: 10px 14px 9px 4px;
	cursor: pointer;
}

.UIAnswersPortlet .MenuItem .DiscussForum {
	background-position: 10px center;
}

.UIAnswersPortlet .WatchQuestionManager {
	background: url('background/FAQYey.gif') no-repeat left center;
	padding: 10px 14px 9px 4px;
}

.UIAnswersPortlet .FileAttachmentIcon {
	background: url('background/AttachmentIcon.gif') no-repeat left top;
	padding-left: 20px;
}

.UIAnswersPortlet .WatchManager {
	background: url('background/FAQYey.gif') no-repeat right bottom;
	padding: 10px 14px 0px 4px;
}

.UIAnswersPortlet .EditWatchIcon {
	background: url('background/EditWatch.gif') no-repeat left center;
	width: 16px ;
	height: 16px;
	margin: 0px 3px;
}

.UIAnswersPortlet .DeleteWatchIcon {
	background: url('background/DeleteWatch.gif') no-repeat left center;
	width: 16px;
	height: 16px;
	margin: 0px 3px;
}

.UIAnswersPortlet .LinkWatchIcon {
	background: url(background/FAQPortlet.gif) no-repeat scroll left -466px;
	height:17px;
	width:17px;
	margin: 0px 3px;
	padding-top: 3px;
}

.UIAnswersPortlet .DustBinIcon {
	background: url(background/DustBin.gif) no-repeat scroll right;
	height:16px;
	width:16px;
	margin: 0px 3px;
	float:right;
}
.UIAnswersPortlet .refreshMail {
	background: url(background/refresh.png) no-repeat scroll right;
	height:16px;
	width:16px;
	margin: 0px 3px;
	float:left;
}

.UIPrintPreview .AttachmentContent .LabelBox .Action{
	display:none;
}

.UIAnswersPortlet .ResponseContent .RelatedQuestionsView {
	padding: 4px 0px;
}

/******************************	Icon in search result	***************************************/

.UIAnswersPortlet .NotResponseSearch {
	background: url('background/NotResponse.gif') no-repeat left center;
	padding-left: 28px;
	line-height: 18px;
	margin-bottom: 4px;
	height: 18px ;
}

.UIAnswersPortlet .QuestionSearch {
	background: url('background/questionIcon.PNG') no-repeat left center;
	padding-left: 28px;
	line-height: 18px;
	margin: 4px 0px;
	height: 18px ;
}

.UIAnswersPortlet .FAQCategorySearch {
	background: url('background/FAQPortlet.gif') no-repeat left -465px;
	padding-left: 28px;
	height: 18px;
	line-height: 18px;
	margin: 4px 0px;
}

.UIAnswersPortlet .SubCategoryForm .UIFormGrid {
	width: 100%;
}

.UIAnswersPortlet .SubCategoryForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.UIAnswersPortlet .UICategoryForm .UIFormGrid {
	width: 100%;
}

.UIAnswersPortlet .UICategoryForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.UIAnswersPortlet .UIAttachmentForm .SelectFileFrame {
	margin: 0px;
	white-space: normal;
	width: 300px;
}

.UIMaskWorkspace .UIAnswersPortlet	{
	min-width: 600px;
}

/************************** UIViewUserProfile *****************************/
.UIAnswersPortlet .UIViewUserProfile {
	margin: 10px;
	background-color:#f4f4f4;
	border: solid 1px #b4b4b4;
}

.UIAnswersPortlet .UIViewUserProfile .TitleBar{
	background-color:#D1D2FE;
	font-weight:bold;
	height:24px;
	line-height:16px;
	padding:6px 0 0 12px;
}
	
.UIAnswersPortlet .UIViewUserProfile .UserContent{
	padding:10px 0 0 15px;
}

.UIAnswersPortlet .UIViewUserProfile .UserContent .Rank{
	line-height:18px;
	margin-left: 5px;
	padding-bottom: 5px;
}

.UIAnswersPortlet .UIViewUserProfile .UserContent .InfoUser{
	line-height:18px;
}
	
.UIAnswersPortlet .UIViewUserProfile .UserContainer{
	width: 242px;
}

.UIAnswersPortlet .UIViewUserProfile .ProfileContainer{
	padding:0 8px;
}

.UIAnswersPortlet .UIViewUserProfile .ProfileContainer .Label{
	line-height:20px;
	padding-right:6px;
	text-align:right;
	width: 100px;
}

.UIAnswersPortlet .UIViewUserProfile .ProfileContainer .LabelProfile{
	line-height:20px;
	text-align:left;
}

.UIAnswersPortlet .AddIcon {
	float: left ;
	width: 16px;	height: 16px;
	margin: 0px 5px;
	background: url('background/AddIcon.gif') no-repeat center;
	cursor: pointer;
}

.UIAnswersPortlet .Discussion #CategoryPath {
	font-size:11px;
	width:215px;
	float:left;
}

.UIAnswersPortlet .Discussion #ForumId {
	font-size:11px;
	width:215px;
	float:left;
}

.UIAnswersPortlet .AddIcon16x16 {
	float: left ;
	width: 16px;	height: 16px;
	margin: 0px 5px;
	background: url('background/AddIcon.gif') no-repeat center;
	cursor: pointer;
}
/************************** UISelectCategoryForumForm *****************************/
.UIAnswersPortlet .UISelectCategoryForumForm {
}

.UIAnswersPortlet .UISelectCategoryForumForm .CategoryContainer {
	padding-top: 40px;
	width: 350px; 
	margin:auto;
}

.UIAnswersPortlet .UISelectCategoryForumForm .ContentLabel {
	font-weight: bold;
}

.UIAnswersPortlet .UISelectCategoryForumForm .ListCategory {
	margin-top: 2px;
	border: solid 1px #b7b7b7;
	background: #F7F7F7;
}

.UIAnswersPortlet .UISelectCategoryForumForm .ContentList {
	padding: 10px 0px 0px 10px;
	border: solid 1px #ffffff;
	min-height: 200px;
}

.UIAnswersPortlet .UISelectCategoryForumForm .IconCategory {
	float: none;
	padding-left: 26px;
	width: auto;
	line-height: 18px;
	margin: 2px;
	display: block;
}

.UIAnswersPortlet .DisableMenuItem {
	display:block;
	line-height:16px;
	white-space:nowrap;
	cursor: auto;
	margin: 0px 0px 0px 7px;
	filter: alpha(opacity: 50);
	opacity: 0.5;
}

*+html .UIAnswersPortlet .DisableMenuItem {
	color: #b7b7b7;
}

.UIAnswersPortlet .ForumIcon {
	background: url('background/ThreadIcon.gif') no-repeat left;
}

@media print {
	.UIAnswersPortlet .UIAction {
		display:none ;
	}
}
@media print {
.UIAction .PrintAction {
	display:none ;
	}
}
														
/*********************Rightclick***************************/

.UIAnswersPortlet .QuoteContent {
	padding: 10px;
}

.UIAnswersPortlet .Classquote {
	background: #ededf7;
	border: 1px solid #d8d8d8;
	padding: 6px 6px 6px 15px;
	margin: 2px 0px;
}

.UIAnswersPortlet .ClassCode {
	background: #ededed;
	border: 1px inset #7b7b7b;
	margin: 5px;
	overflow: auto;
	max-width: 530px;
}

*+html .UIAnswersPortlet .ClassCode {
	width: 530px;
}

.UIAnswersPortlet .ClassCode pre {
	padding: 5px;
	margin: 0px;
	text-decoration: none;
}

/*********************UISelectCategoryForumForm***************************/
.UISelectCategoryForumForm {
	padding: 10px;
	background: #ffffff;
}

.UISelectCategoryForumForm .TitleMoveThreads {
	padding-left: 10px;
	line-height: 20px;
}

.UISelectCategoryForumForm .UITree {
	border: 1px solid #a5a5a5;
	padding: 3px 1px;
	overflow-y: auto;
	height: 235px;
}

.UISelectCategoryForumForm .UITree .TreeContainer {
	background: none;
}

.UISelectCategoryForumForm .TreeContainer .Node {
	width: auto;
	padding: 0px 0px 0px 20px;
}

.UISelectCategoryForumForm .TreeContainer .Node .NodeLabel a {
	font-weight: normal;
	color: #272727;
	margin: 0px;
	line-height: 22px;
}

.UISelectCategoryForumForm .TreeContainer .Node .Icon {
	height: 22px; width: 22px;
	margin: 0px; float: left ;
}

.UISelectCategoryForumForm .TreeContainer .Node .NodeLabel a:hover {
	color: #058ee6;
}

.UISelectCategoryForumForm .TreeContainer .Selected {
	background: #d8d9ee;
	margin: 0px;
	height: 22px;
}

.UIAnswersPortlet .SmallGrayPlus {
	background: url('background/SmallGrayPlus.gif') no-repeat left top;
}

.UIAnswersPortlet .SmallGrayMinus {
	background: url('background/SmallGrayMinus.gif') no-repeat left top;
}

.UIAnswersPortlet .ThreadsIcon {
	background: url('background/ThreadIcon.gif') no-repeat left top;
}

.UIAnswersPortlet .UIAddCategoryForm .textarea{
	height: 55px;
}

.UIAnswersPortlet .UIRightClickPopupMenu a{
	display: block;
}

/*******************************************UI Page Interrator***************************/

.UIAnswersPortlet .UIAction .LightBlueStyle .ButtonMiddleIcon {
	padding: 0px 10px 0px 2px;
}

.UIAnswersPortlet .UIAddCategoryForm #moderator {
	width: 200px;
	height: 14px;
}

.UIAnswersChildPopupAction .UIForm .UIFormGrid td.FieldLabel {
	white-space:nowrap;
}

.UIAnswersPortlet .ParentMaskLayer {
	position:relative ;
	z-index:0;
}

.UIAnswersPortlet .ParentMaskLayer .KSMaskLayer {
	left:0px;	top:0px;
	z-index:5;
	position:absolute ;
	visibility:visible;
	background:url('background/Point1x1.png') no-repeat top center ;
	user-select: none;
}


/* Fix KS-2244*/
.UIAnswersPortlet .ResizeButton {
	background:url('background/ResizeBtn.gif') no-repeat scroll left top;
	bottom:2px;
	height:23px;
	right:6px;
	width:18px;
}

/******************************	CSS Thanh new style for Questions ***************************************/


/************ NormalQuestions *******************/
.QuestionContainer .NormalQuest {
	padding: 8px 20px;
	margin-bottom: 2px;
}

.QuestionContainer .NormalQuest .LeftCon {
	width: 150px;
	float: left;
}

.QuestionContainer .NormalQuest .LeftCon .BoxNum {
	width: 66px;
	height: 46px;
	float: left;
	background: #ebebeb;
	padding: 10px 0px;
	border-radius: 3px;
	color: #363636;
	text-align: center;
	font-weight: bold;
	margin-right: 4px;
}

.QuestionContainer .NormalQuest .LeftCon .BoxNum p {
	font-size: 18px;
	margin: 0px;
	line-height: 34px;
	font-weight: bold;
	color: #4c4c4c;
}

.QuestionContainer .NormalQuest .LeftCon .BoxNum h4 {
	font-size: 11px;
	font-weight: normal;
	margin: 0px;
	color: #4c4c4c;
}

.QuestionContainer .NormalQuest .RightCon {
	float: left;
}

.QuestionContainer .NormalQuest .RightCon h5 {
	margin: 0px 0px 5px 0px;
}

.QuestionContainer .NormalQuest .RightCon .Questions {
	font-weight: bold;
	color: #333333;
}

.QuestionContainer .NormalQuest .RightCon .WarningCon {
	color: #555555;
	width: 310px;
	float: left;
	margin: 0px;
	line-height: 16px;
	padding-bottom: 1px;
}

.QuestionContainer .NormalQuest .RightCon .WarningCon .Warning {
	padding-left: 20px;
	color: #555555;
	font-size: 10px;
	margin: 0px;
}

.QuestionContainer .NormalQuest .RightCon .Name {
	color: #808080;
	float: left;
	margin: 0px;
}

.QuestionContainer .NormalQuest .RightCon .Name a {
	color: #115eb2;
}

.QuestionContainer .NormalQuest .RightCon .Name a:hover {
	text-decoration: underline;
}

/************ HighlightQuestions *******************/

.QuestionContainer .HighlightQuest {
	padding: 8px 20px;
	background: #eaedf6;
	margin-bottom: 2px;
}

.QuestionContainer .HighlightQuest .LeftCon {
	width: 115px;
	float: left;
	font-family: arial;
}

.QuestionContainer .HighlightQuest .LeftCon .BoxNum {
	width: 50px;
	height: 50px;
	float: left;
	background: #6290c3;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-right: 2px;
}

.QuestionContainer .HighlightQuest .LeftCon .BoxNum p {
	font-size: 30px;
	margin: 0px;
	line-height: 34px;
}

.QuestionContainer .HighlightQuest .LeftCon .BoxNum h4 {
	font-size: 10px;
	font-weight: normal;
	margin: 0px;
	color: #fff;
}

.QuestionContainer .HighlightQuest .RightCon {
	float: left;
	font-family: arial;
}

.QuestionContainer .HighlightQuest .RightCon .Questions {
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	color: #3151a2;
}

.QuestionContainer .HighlightQuest .RightCon .WarningCon {
	color: #555555;
	width: 310px;
	float: left;
	margin: 0px;
	line-height: 16px;
	padding-bottom: 1px;
}

.QuestionContainer .HighlightQuest .RightCon .WarningCon .Warning {
	padding-left: 20px;
	color: #555555;
	font-size: 10px;
	margin: 0px;
}

.QuestionContainer .HighlightQuest .RightCon .Name {
	color: #a7a7a7;
	float: left;
	margin: 0px;
}

.QuestionContainer .HighlightQuest .RightCon .Name  a {
	color: #3151a2;
	text-decoration: underline;
}

.UIQuestions .FAQContent .UIAction {
	padding:0px 0px 10px 0px; 
}
/******************************	END new style for Questions ***************************************/



/*********************FAQ UICategories***************************/

.UIAnswersPortlet .UICategoriesContainer {
	padding: 0px 5px 2px 5px;
	font-family: verdana, arial, tahoma;
  width: 200px;
}

.UIAnswersPortlet .UICategoriesContainer .AnswerToolbar .CenterBar {
	padding-left: 10px;
	font-size: 12px; 
	text-align: center;
}

/*********************FAQ UIAnswersContainer***************************/

.UIAnswersPortlet .UIAnswersContainer .FAQViewCategoriesColumn {
	width:200px;
}

.UIAnswersPortlet .UIAnswersContainer .MessageNoPermission {
	font-size: 20px; 
	text-align: center;
	width: 90%;
}







