.UIForumPageIterator {    
	float:right;
	margin: 0px ;
	padding: 3px 0px 0px 5px ;
}

.UIForumPageIterator .PageIteratorContainer {    
  float: right ;
  overflow: hidden; 
}

.UIForumPageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  line-height: 18px ; 
  float: right ;
  margin-right: 15px;
}

.UIForumPageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ;
}

.UIForumPageIterator .Icon {
  float: left ;
  margin: 0px 2px 0px 0px ;
  width: 18px ; height: 17px ;
}

.UIForumPageIterator .TotalPages {
  float: left ;
  line-height: 16px ; 
}

.UIForumPageIterator .PagesTotalNumber {
  float: left ;
  line-height: 17px ; 
  color: #0183f1;
  margin-left: 5px;
}

.UIForumPageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('background/ScrollDoubleBackArrows.gif') no-repeat ;
  cursor: pointer ;
}

.UIForumPageIterator .NextTopPageIcon {
  background: url('background/ScrollDoubleNextArrows.gif') no-repeat ;
  cursor: pointer ;
}

.UIForumPageIterator .LastPageIcon {
  background: url('background/ScrollSingleBackArrow.gif') no-repeat ;
  cursor: pointer ; 
}

.UIForumPageIterator .NextPageIcon {
  background: url('background/ScrollSingleNextArrow.gif') no-repeat ;
  cursor: pointer ;
}

.UIForumPageIterator .DisableLastTopPageIcon {
  vertical-align: middle ;
  background: url('background/DoubleBackArrows.gif') no-repeat ;
}

.UIForumPageIterator .DisableNextTopPageIcon {
  background: url('background/DoubleNextArrows.gif') no-repeat ;
}

.UIForumPageIterator .DisableLastPageIcon {
  background: url('background/SingleBackArrow.gif') no-repeat ;
}

.UIForumPageIterator .DisableNextPageIcon {
  background: url('background/SingleNextArrow.gif') no-repeat ;
}
/* End */

.UIForumPageIterator .Number {
  float: left ;
  text-align: center;
  margin: 0px 2px 0px 0px;
  line-height: 17px;
}

.UIForumPageIterator .PageSelected {
  line-height: 15px;
  height: 15px ;
  border: 1px solid #dfdfdf;
  color: #f16701;
  font-weight: bold;
  padding: 0px 6px;
  cursor: default;
}

.UIForumPageIterator .PageNormal {
	margin: 0px 0px 0px 0px ;
  padding: 1px 7px;
  border: 1px solid #dfdfdf;
  color: #333333 ;
  background: white;
}

.UIForumPageIterator .Number a {
  padding: 1px 6px 1px 7px;
}

.UIForumPageIterator .Number a:hover {
  padding: 1px 6px 1px 7px;
  color: #058ee6 ;
  border: 1px solid #777777;
}


.UIForumPortlet .GotoPageIcon {
	background: url('background/OpenPopup17x21.gif') no-repeat ;
	margin-top: 3px;
	float: right; 
	width: 21px; height: 17px;
}

.UIForumPortlet .GotoPageIcon .UIPopupCategory {
	left:-30px;
	position: absolute;
	top: 2px;
	width:120px;
	z-index: 1010;
}

.UIForumPortlet .SearchForm .UIPopupCategory .InputPage {
	padding: 2px 6px;
}

.UIForumPortlet .SearchForm .UIPopupCategory .InputPage input{
	width: 95px;
	height: 12px;
	font-size: 11px;
}

.UIForumPortlet .GotoPageIcon .UIPopupCategory .InputPage {
	padding:2px 6px 0px 0px;
}

.UIForumPortlet .GotoPageIcon .UIPopupCategory .InputPage input{
	width:30px;
	height: 12px;
	font-size: 12px;
}