.UIForumStatisticPortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}

.UIForumQuickReplyPortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}

.UIForumPollPortlet .UIForumPortlet {
	padding: 0px;
	margin: 0px;
	border: none;
}

.UIForumPollPortlet {
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}

.UIForumPollPortlet .UIForumContainer {
	padding: 10px 0px 0px 0px;
	width: 98%;
	margin: auto;
}

.UIWindow .UIForumPollPortlet {
	border: none;
	margin: 0px;
}

.UIForumRulePortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}

.UIForumLinkPortlet {
	padding: 0px 0px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}

.UIForumModeratePortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}

.UIForumModeratePortlet .UIForumContainer {
	padding: 0px;
}

.UIForumIconStatePortlet {
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
}