.UIForumStatisticPortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
	min-height: auto;
}

.UIForumQuickReplyPortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
	min-height: auto;
}

.UIForumPollPortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
	min-height: auto;
}

.UIForumRulePortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
	min-height: auto;
}

.UIForumModeratePortlet {
	padding: 0px 10px 10px 10px;
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
	min-height: auto;
}

.UIForumModeratePortlet .UIForumContainer {
	padding: 0px;
}

.UIForumIconStatePortlet {
	border: 1px solid #b7b7b7;
	border-top: none;
	margin: -3px 1px 0px 4px;
	min-height: auto;
}
