.UIPollPortlet .UIAddPollForm {
	background-color: #ffffff;
	padding: 8px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout {
	background-color: #f7f7f7 ;
	padding: 20px 20px 15px;
}

.UIPollPortlet .UIAddPollForm .Line {
	background: url('background/Line1x2.gif') repeat-x ;
	height: 2px ;
	margin: 4px auto 10px auto ;
}

.UIPollPortlet .UIAddPollForm .PollOptionConntent {
	padding: 5px 0px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout .UIFormInputSet .Title {
	color: black;
	margin: 10px 0px 0px 3px;
}

.UIPollPortlet .UIAddPollForm .Label {
	text-align: left;
	padding: 4px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid td.FieldLabel {
	width: 140px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid td.FieldIcon {
	width: 110px;
	padding: 4px 0px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid .QuestionInput input {
	width: 350px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout .OptionField input {
	width: 135px;
}

.UIPollPortlet .UIAddPollForm .HorizontalLayout .OptionField .checkbox {
	width: 16px;
}

.UIPollPortlet .UIAddPollForm .Icon {
	width: 16px; height: 16px;
	float: left;
	margin: 0px 2px;
}

.UIPollPortlet .UIAddPollForm .AddNewNodeIcon {
	cursor: pointer;
}

.UIPollPortlet .UIAddPollForm .DeletePortalIcon {
	cursor: pointer;
}

.UIPollPortlet .UIKSPopupAction .UIPopupWindow {
	visibility: visible;
}

