@import url('RichTextArea.css');

@import url('Wysiwyg.css');

.gwt-RichTextArea {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-top: none;
}

.UIWikiRichTextEditor {
  margin-bottom: 20px;
  margin-top: 4px;
  width: 99.9%;
  clear: both;
}

.UIWikiRichTextEditor .xToolbar div.clearfloats {
  background-color: transparent;
  clear: left;
  float: none;
  height: 1px;
  line-height: 1px;
  font-size: 1px;
  margin: 0;
}

.UIWikiRichTextEditor .textarea {
  height: 450px;
  visibility: hidden;
}

.UIWikiRichTextEditor .gwt-MenuBar-horizontal table {
  margin: 0;
  width: 328px;
}

.gwt-PopupPanel table {
  width: auto;
}

.gwt-PopupPanel .xPagesSelector .xSearchForm input {
  width:350px;
}