
.UIWikiPortlet .UIWikiToolBar{
  float:right;
  width: 100px;
}

.UIWikiPortlet .UIWikiToolBar .BrowseMenu {
	top: 30px;
	right: 0px;  
}

.UIWikiPortlet .UIWikiToolBar .Icon { 
	line-height: 30px; 
	padding: 0px 25px 0px 8px;
	margin: 0;
}

.UIWikiPortlet .UIWikiToolBar a { 
	display: block;
}

.UIWikiPortlet .UIWikiToolBar a:hover { 
	text-decoration: none;
}

.UIWikiApplicationControlArea .UIWikiToolBar .BrowseActionComponent {
  position:relative;
  z-index: 2;
}

.UIWikiPortlet .UIWikiApplicationControlArea .UIWikiToolBar .HoverMenu .Icon {
	line-height: 14px;
	display: block;
	padding: 6px 15px 8px 15px;
	border-bottom: 1px solid #d7d7d7;
	color: #555;
	background-color: #ececec;
	font-size: 12px;
	white-space: nowrap;
}

.UIWikiPortlet .UIWikiApplicationControlArea .UIWikiToolBar .HoverMenu .Icon:hover {
	background: #fff;
}

.UIWikiApplicationControlArea .UIWikiToolBar .MoreLink {
  background: url('../background/BrowseDownIcon.png') no-repeat 90% center;
  cursor: pointer;
}

.UIWikiApplicationControlArea .UIWikiToolBar .MoreLink:hover {
  background-color: #ececec;
}