
.sidebarTDContainer {
	width: 220px;
	float: right;
}

#UIContainer-pagebody {
	padding: 0px;
}

#UIContainer-sidebar {
	padding: 0px;
}

#UIContainer-KS {
	padding: 0px;
}

/*
.UIBannerPortlet {
	background: #fff url('DefaultSkin/background/BannerPortlet.gif') repeat-x top;
	height: 84px;
}
*/

.UIBannerPortlet .BannerTitle_{
	float: left;
	background: #fff url('DefaultSkin/background/BannerTitle.jpg') no-repeat top left;
	width: 300px; height: 80px;
}

.UIBannerPortlet .MiddleBanner_ .LoginContainer{
	float: right; width: 240px;
}

.UIBannerPortlet .MiddleBanner_ .LeftContainer{
	background: url('DefaultSkin/background/LeftContainer.gif') no-repeat left;
	padding-left: 10px;
}

.UIBannerPortlet .MiddleBanner_ .RightContainer{
	background: url('DefaultSkin/background/RightContainer.gif') no-repeat right;
	padding-right: 5px;
}

.UIBannerPortlet .MiddleBanner_ .CenterContainer{
	background: url('DefaultSkin/background/CenterContainer.gif') repeat-x ;
	height: 53px;
}

.UIBannerPortlet .LoginContainer .TextAcount {
	line-height:24px;
	color: gray;
}

.UIBannerPortlet .MiddleBanner_ .ActionButton{
	float: right;
	margin:0px 4px 0px 0px;
}

.UIBannerPortlet .MiddleBanner_	.LeftButton{
	background: url('DefaultSkin/background/LeftButton.gif') no-repeat left;
	padding-left: 10px;
}

.UIBannerPortlet .MiddleBanner_	.RightButton{
	background: url('DefaultSkin/background/RightButton.gif') no-repeat right;
	padding-right: 9px;
}

.UIBannerPortlet .MiddleBanner_	.CenterButton{
	background: url('DefaultSkin/background/CenterButton.gif') repeat-x ;
	line-height: 20px;
	padding: 0px 8px;
	height: 20px;
	color:#025193;
	font-weight: bold;
	height: 20px;
	white-space: nowrap;
}
.UIBannerPortlet .MiddleBanner_	.CenterButton a{
	color: #025193;
}
.UIBannerPortlet .MiddleBanner_	.CenterButton a:hover{
	color: #000;
}
.UIBannerPortlet .MiddleBanner_	.SignIn{
	width: 76px;
	float: left;
	margin: 0px 7px;
	}
	
.UIBannerPortlet .MiddleBanner_	.SignOut{
	width: 86px;
	float: left;
	}
.UIBannerPortlet .MiddleBanner_	.YourAccount{
	width: 113px;
	float: right;
	margin: 0px 7px;
	}
/***************************************************************************************************/

.UIHomePagePortlet {
	padding: 12px 0px 4px 4px;
}

/*****
.UIHomePagePortlet .TryNowIcon{
	background: url('DefaultSkin/background/TryNowIcon.gif') no-repeat top right;
}
****/

.PortletDecoration {
}

.PortletDecoration .PortletDecorationTL {
	background: url('DefaultSkin/background/HomePortletKS.png') no-repeat left top;
	padding-left: 10px;
}

.PortletDecoration .PortletDecorationTR {
	background: url('DefaultSkin/background/HomePortletKS.png') no-repeat right -10px;
	padding-right: 10px;
}

.PortletDecoration .PortletDecorationTC {
	background: url('DefaultSkin/background/HomePortletKS.png') repeat-x center -22px;
	height: 9px;
}

.PortletDecoration .HomePortletAdBackround {
	background: white ;
	padding: 20px 0px 0px 0px;
}

.UIHomePagePortlet .PortletDecoration .HomePortletAdBackround {
	padding: 8px;
}

.PortletDecoration .PortletDecorationML {
	background: url('DefaultSkin/background/PortletDecorationML.png') repeat-y left;
	padding-left: 3px;
}

.PortletDecoration .PortletDecorationMR {
	background: url('DefaultSkin/background/PortletDecorationMR.png') repeat-y right;
	padding-right: 3px;
}

.PortletDecoration .PortletDecorationMC {
	background: white;
	padding: 8px;
	height: 312px;
}

.PortletDecoration .PortletDecorationBL {
	background: url('DefaultSkin/background/HomePortletKS.png') no-repeat left -33px;
	padding-left: 10px;
}

.PortletDecoration .PortletDecorationBR {
	background: url('DefaultSkin/background/HomePortletKS.png') no-repeat right -46px;
	padding-right: 10px;
}

.PortletDecoration .PortletDecorationBC {
	background: url('DefaultSkin/background/HomePortletKS.png') repeat-x center -59px;
	height: 10px;
}

.UIHomePagePortlet .HomeBackground {
	background: url('DefaultSkin/background/HomeBackground.jpg') repeat-x center;
	height: 243px;
}

.UIHomePagePortlet .CheckIcon {
	background: url('DefaultSkin/background/CheckIcon.gif') no-repeat left ;
	line-height: 18px;
	padding-left: 20px;
	overflow: hidden;
/*	width: 80%; */
	white-space: nowrap;
}

.UIHomePagePortlet .HomeBackground .HomeImageLeft {
	background: url('DefaultSkin/background/KSHomePageLeft.jpg') no-repeat left;
	height: 243px;
}

.UIHomePagePortlet .HomeBackground .HomeImageRight {
	background: url('DefaultSkin/background/KSHomePageRight.jpg') no-repeat right;
	height: 243px;
}

.UIHomePagePortlet .HomeBackground .Label1 {
	color:#B5B5B5;
	font-size:28px;
	padding:129px 0 0 236px;
	text-align:left;
}

.UIHomePagePortlet .HomeBackground .Label2 {
	color:#8f8f8f;
	font-family:times New Roman;
	text-align:left;
	font-size: 41px;
	padding-left: 245px;
}

.UIHomePagePortlet .Decorator .DecoratorML {
	background: url('DefaultSkin/background/BgDecorator.jpg') no-repeat left top;
	padding-left: 5px;
}

.UIHomePagePortlet .Decorator .DecoratorMR {
	background: url('DefaultSkin/background/BgDecorator.jpg') no-repeat right top;
	padding-right: 5px;
}

.UIHomePagePortlet .Decorator .DecoratorMC {
	background: url('DefaultSkin/background/BgDecorator.jpg') repeat-x left -192px ;
	height: 192px;
}

.UIHomePagePortlet .Decorator .ForumIcon {
	background:transparent url(DefaultSkin/background/ForumIcon.jpg) no-repeat 20px bottom;
	height: 96px;
	padding-left: 110px;
}

.UIHomePagePortlet .Decorator .ForumLabel {
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.UIHomePagePortlet .Decorator .ForumLabel .Label {
	line-height: 20px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

.UIHomePagePortlet .Decorator .ForumLabel .Title {
	line-height: 30px;
	font-size: 24px;
	color:#1363c8;
}

.UIHomePagePortlet .Decorator .FAQIcon {
	background: url('DefaultSkin/background/FAQIcon.jpg') no-repeat 20px bottom;
	height: 95px;
	padding-left: 110px;
}

.UIHomePagePortlet .Decorator .AnswersIcon {
	background: url('DefaultSkin/background/AnswersIcon.gif') no-repeat 20px bottom;
	height: 90px;
	padding-left: 110px;
}

.UIHomePagePortlet .Decorator .FAQLabel {
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.UIHomePagePortlet .Decorator .FAQLabel .Label {
	line-height: 20px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

.UIHomePagePortlet .Decorator .FAQLabel .Title {
	line-height: 30px;
	font-size: 24px;
	color:#1363c8;
}

.UIHomePagePortlet .Decorator .Button {
	height: 30px; width: 90px;
}

/***************************************************************************************************/

.SideBar {
	padding: 1px 3px;
}


.SideBar .DownloadButton{
	background: #f1f1f1 url('DefaultSkin/background/DownloadButton.jpg') no-repeat ;
	width: 159px;
	height: 110px;
	margin: auto;
	cursor: pointer;
	text-align: center;
}

.SideBar .DownloadButton .TextDownload{
	font-size: 15px;
	font-weight: bold;
}

.SideBar .ArowIcon{
	text-align: center;
	margin: 10px 10px;
}

.SideBar .DotLine{
	background: url('DefaultSkin/background/DotLine1x2.gif') repeat-x ;
	height: 2px;
	margin: 0px 10px 12px 10px;
}

.SideBar .LeftButton {
	background: url('DefaultSkin/background/BgButton.gif') no-repeat left top;
	padding-left: 17px;
	margin: 0px 25px 0px 25px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/BgButton.gif') no-repeat right -56px;
	padding-right: 16px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/BgButton.gif') repeat-x left -112px;
	height: 56px;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	color: white;
}


.SideBar .CenterButton	.TextCreatDemo{
	font-size: 11px;
	white-space: nowrap;
	font-weight: normal;
}

.SideBar .SignUp {
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 70px;
	color: #e63c00;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
}

.SideBar .ProVersion {
	font-family: tahoma;
	font-weight: bold;	
	color: #1d7ce1;
	text-align: center;
	font-size: 12px;
}

/*========================KS Guided Tour===========================*/
.UIKSGuidedTour {
	background:transparent url(DefaultSkin/background/LeftKSGuidedTour.gif) repeat-y left ;
}

.UIKSGuidedTour .LeftKSGuidedTour {
	float: left;
	width: 226px; 
}

.UIKSGuidedTour .LeftKSGuidedTour .Header {
	width: 226px;
	background:transparent url(DefaultSkin/background/Header.gif) no-repeat left ;
	height: 33px;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton {
	margin-top: 2px;
	cursor: pointer;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton {
	margin-top: 2px;
	cursor: pointer;
}
.UIKSGuidedTour .LeftKSGuidedTour .OverButton {
	margin-top: 2px;
	cursor: pointer;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton .ButtonL {
	background:transparent url(DefaultSkin/background/HightLineButtonL.gif) no-repeat scroll left ;
	padding-left:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton .ButtonR {
	background:transparent url(DefaultSkin/background/HightLineButtonR.gif) no-repeat scroll right ;
	padding-right:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton .ButtonC {
	background:transparent url(DefaultSkin/background/HightLineButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.UIKSGuidedTour .LeftKSGuidedTour .OverButton .ButtonL {
	background:transparent url(DefaultSkin/background/OverButtonL.gif) no-repeat scroll left ;
	padding-left:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .OverButton .ButtonR {
	background:transparent url(DefaultSkin/background/OverButtonR.gif) no-repeat scroll right ;
	padding-right:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .OverButton .ButtonC {
	background:transparent url(DefaultSkin/background/OverButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton .ButtonL {
	background:transparent url(DefaultSkin/background/NormalButtonL.gif) no-repeat scroll left ;
	padding-left:2px;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton .ButtonR {
	background:transparent url(DefaultSkin/background/NormalButtonR.gif) no-repeat scroll right ;
	padding-right:2px;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton .ButtonC {
	background:transparent url(DefaultSkin/background/NormalButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 18px;
}

.UIKSGuidedTour .LeftKSGuidedTour .SignUpButton {
	background:transparent url(DefaultSkin/background/SignUpButton.gif) no-repeat ;
	line-height:50px;
	width:185px; height: 81px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: white;
	margin: 12px auto;
	cursor: pointer;
}

.UIKSGuidedTour .RightKSGuidedTour {
	margin-left: 227px;
	padding: 8px;
	background: white;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle {
	margin: 8px;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle .HeadTitleL {
	background:transparent url(DefaultSkin/background/HeadTitleL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle .HeadTitleR {
	background:transparent url(DefaultSkin/background/HeadTitleR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle .HeadTitleC {
	background:transparent url(DefaultSkin/background/HeadTitleC.gif) repeat-x ;
	line-height:41px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #427EB8;
}

.UIKSGuidedTour .RightKSGuidedTour .CheckTitleIcon {
	line-height:30px;
	font-size: 12px;
	padding-left: 24px;
	margin-left: 8px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS1 {
	background:transparent url(DefaultSkin/background/ShowImageKS1.gif) no-repeat left;
	height: 420px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS2 {
	background:transparent url(DefaultSkin/background/ShowImageKS2.png) no-repeat right;
	height: 420px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS3 {
	background:transparent url(DefaultSkin/background/ShowImageKS3.gif) no-repeat right;
	height: 420px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS4 {
	background:transparent url(DefaultSkin/background/ShowImageKS4.png) no-repeat left;
	height: 420px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarTL {
	background:transparent url(DefaultSkin/background/TitleBarTL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarTR {
	background:transparent url(DefaultSkin/background/TitleBarTR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarTC {
	background:transparent url(DefaultSkin/background/TitleBarTC.gif) repeat-x ;
	height:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarBL {
	background:transparent url(DefaultSkin/background/TitleBarBL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarBR {
	background:transparent url(DefaultSkin/background/TitleBarBR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarBC {
	background:transparent url(DefaultSkin/background/TitleBarBC.gif) repeat-x ;
	height:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarMC {
	background: #78B3E2 url(DefaultSkin/background/TitleBarMC.jpg) repeat-x ;
	border-left: 1px solid #33669A;
	border-Right: 1px solid #33669A;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 8px 0px;
}

.UIKSGuidedTour .RightKSGuidedTour .H4 {
	background:transparent url(DefaultSkin/background/H4.gif) no-repeat left top;
	height: 430px; width: 592px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .H5 {
	background:transparent url(DefaultSkin/background/H5.gif) no-repeat left;
	height: 386px; width: 513px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .KSGuidedTour2 .TitleBar{
	margin-top: 90px;
}

.UIKSGuidedTour .RightKSGuidedTour .KSGuidedTour3 .TitleBar{
	margin-top: 90px;
}

.UIKSGuidedTour .RightKSGuidedTour .H1 {
	background:transparent url(DefaultSkin/background/H1.gif) no-repeat left;
	height: 318px; width: 470px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .H2 {
	background:transparent url(DefaultSkin/background/H2.gif) no-repeat left;
	height: 237px;width: 506px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .H3 {
	background:transparent url(DefaultSkin/background/H3.gif) no-repeat left;
	height: 315px;width: 491px;
	margin: 4px;
}


/*==============Toolbar Container===================*/
.TxtBlue{
	color: #0068ff;
}

.UIToolbarContainer .NormalContainerBlock .ToolbarContainer{
	background: #343a50;
	border: none;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
	background: url(DefaultSkin/background/LineToolbar.gif) no-repeat right;
}

.UIStarToolBarPortlet{
	background: url(DefaultSkin/background/LogoGTN.png) no-repeat center center;
	width: auto;
}


.UIWorkingWorkspace {
	background: #eeeeee;
	width: 100%;
}

.UIToolbarContainer .UIStarToolBarPortlet .UIHorizontalTabs .UITab{
	width: 110px !important;
}


.UIToolbarContainer .ToolbarContainer a{
	padding:0 5px 0 5px;
	color: #ffd400;
	background: none;
	font-weight: normal;
}

.UIToolbarContainer .GroupIcon {
	margin-left:0px;
}

.UINavigationPortlet .UINavigationBar .LeftNavigationBar{
	background: none !important;
	padding:32px 0 0 160px !important;/* orientation=lt */
	padding:32px 160px 0px 0px !important;/* orientation=rt */
}

.UINavigationPortlet .UINavigationBar .RightNavigationBar{
	background: none !important;
}

.UINavigationPortlet .UINavigationBar .MiddleNavigationBar{
	background: none !important;
}

.UISiteBody .UINavigationPortlet {
	 background: #202640 url(DefaultSkin/background/LogoKS.gif) no-repeat 30px 20px;/* orientation=lt */
	 background: #202640 url(DefaultSkin/background/LogoKSrt.gif) no-repeat right 20px;/* orientation=rt */
	 height: 70px;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .LeftTab {
	background:none !important;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .RightTab {
	background:none !important;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .MiddleTab {
	background:none !important;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .TabIcon{
	background:none !important;
}

.UINavigationPortlet .UITab .HighlightNavigationTab a {
	color:#fbcb0f !important;
	font-weight: normal;
}

.UINavigationPortlet .UITab .NormalNavigationTab a {
	color:#abacb1 !important;
	font-weight: normal;
}

.UINavigationPortlet .UITab .SelectedNavigationTab a {
	color:#fbcb0f !important;
	font-weight: normal;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .LeftTab {
	background:none !important;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .RightTab {
	background:none !important;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .MiddleTab {
	background:none !important;
}

.UIBreadcumbsPortlet {
	display:none;
}

.UIWorkingWorkspace .UIPageBody {
	margin:auto;
	width:985px;
}

.UIPageBody .VIEW-PAGEBODY .UIPage{
	padding: 0px;
}

.UIPageBody .VIEW-PAGEBODY .UIPage .UIComponentBlock {
	background:none;
}

/*===================HomePage Portlet=====================*/

.UIHomePagePortlet .HomeImage {
	background:url("DefaultSkin/background/HomeImage.png") no-repeat center; /* orientation=lt */
	background:url("DefaultSkin/background/HomeImage-rt.png") no-repeat center; /* orientation=rt */ 
	height:293px; width:976px;
	color: white;
}

.UIHomePagePortlet .HomeImage .Label{
	font-size: 52px;
	font-family: Hattori;
	padding: 54px 0px 0px 640px;/* orientation=lt */
	padding: 54px 640px 0px 0px;/* orientation=rt */
}

.UIHomePagePortlet .HomeImage .VersionKS{
	font-size: 35px;
	font-family: Hattori;
	padding: 0px 0px 0px 400px;/* orientation=lt */
	padding: 0px 400px 0px 0px;/* orientation=rt */
}

.UIHomePagePortlet .UserSelect{
	margin: 12px 0px;
}

.UIHomePagePortlet .UserSelect .CommunityMembers{
	background:url("DefaultSkin/background/CommunityMembers.png") no-repeat center;/* orientation=lt */
	background:url("DefaultSkin/background/CommunityMembers-rt.png") no-repeat center;/* orientation=rt */
	float: left;/* orientation=lt */
	float: right;/* orientation=rt */
	width: 490px;
	height: 94px;
}

.UIHomePagePortlet .UserSelect .CommunityMembers .Label{
	padding: 20px 0px 5px 85px;/* orientation=lt */
	padding: 20px 85px 5px 0px;/* orientation=rt */
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.UIHomePagePortlet .UserSelect .CommunityMembers .Title{
	margin: 0px 0px 0px 102px;/* orientation=lt */
	margin: 0px 102px 0px 0px;/* orientation=rt */
	font-size: 16px;
	font-weight: bold;
}

.UIHomePagePortlet .UserSelect .EOrPUse{
	background:url("DefaultSkin/background/EOrPUse.png") no-repeat center;/* orientation=lt */
	background:url("DefaultSkin/background/EOrPUseRT.png") no-repeat center;/* orientation=rt */
	float: left;/* orientation=lt */
	float: right;/* orientation=rt */
	width: 490px;
	height: 94px;
}

.UIHomePagePortlet .UserSelect .EOrPUse .Label{
	padding: 20px 0px 6px 130px;/* orientation=lt */
	padding: 20px 130px 6px 0px;/* orientation=rt */
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.UIHomePagePortlet .UserSelect .EOrPUse .Title{
	margin: 0px 0px 0px 145px;/* orientation=lt */
	margin: 0px 145px 0px 0px;/* orientation=rt */
	font-size: 16px;
	font-weight: bold;
}

.UIHomePagePortlet .KSPortlet .RightPortlet{
	float: right;/* orientation=lt */
	float: left;/* orientation=rt */
	width: 246px;
}

.UIHomePagePortlet .KSPortlet .LeftPortlet{
	margin-right: 250px;/* orientation=lt */
	margin-left: 250px;/* orientation=rt */
}

.UIHomePagePortlet .KSPortlet .LeftPortlet p{
	font-size: 14px;
	padding-left: 10px;/* orientation=lt */
	padding-right: 10px;/* orientation=rt */
}

.UIHomePagePortlet .KSPortlet .IconIM{
	float: left;
	width: 105px;
	padding-top: 60px;
	text-align: center;
	margin: 13px 0px 10px 0px;
	font-weight: bold;
	color: #565759;
	display: block;
}

.UIHomePagePortlet .KSPortlet .BlockWebsite {
	margin-bottom:20px;
	text-align:center;
	white-space:nowrap;
	width:108px;
}

.FL {
	float:left;
}

.UIHomePagePortlet .KSPortlet .TxtLinkIcon {
	color:#565759;
	display:block;
	font-size:11px;
	font-weight:bold;
	margin-top:3px;
}

.UIHomePagePortlet .KSPortlet .IconWebsite {
	display:block;
	height:52px;
	margin:auto;
	width:55px;
}

.UIHomePagePortlet .KSPortlet .QuestionsIM{
	background:url("DefaultSkin/background/HomePortletKS.png") no-repeat center -74px;
}

.UIHomePagePortlet .KSPortlet .BlogIM{
	background:url("DefaultSkin/background/HomePortletKS.png") no-repeat center -128px;
}

.UIHomePagePortlet .KSPortlet .ResuorceIM{
	background:url("DefaultSkin/background/HomePortletKS.png") no-repeat center -182px;
}

.UIHomePagePortlet .KSPortlet .SupportIM{
	background:url("DefaultSkin/background/HomePortletKS.png") no-repeat center -238px;
}

.UIHomePagePortlet .KSPortlet .TrainingIM{
	background:url("DefaultSkin/background/HomePortletKS.png") no-repeat center -294px;
}

.UIHomePagePortlet .KSPortlet .WebsiteIM{
	background:url("DefaultSkin/background/HomePortletKS.png") no-repeat center -349px;
}

.UIHomePagePortlet .KSProduct{
	padding: 10px;
	height: 199px;
}

.UIHomePagePortlet .KSProduct h1{
	color: #f58220;
	font-size: 18px;
	font-weight: normal;
	margin: 4px 0px;
}

.UIHomePagePortlet .KSProduct .ForumProduct{
	float: left;/* orientation=lt */
	float: right;/* orientation=rt */
	width: 212px;
}

.UIHomePagePortlet .KSProduct .AnswersProduct{
	float: left;/* orientation=lt */
	float: right;/* orientation=rt */
	width: 212px;
	margin-left: 20px;/* orientation=lt */
	margin-right: 20px;/* orientation=rt */
}

.UIHomePagePortlet .KSProduct .FAQProduct{
	float: left;/* orientation=lt */
	float: right;/* orientation=rt */
	width: 212px;
	margin-left: 20px;/* orientation=lt */
	margin-right: 20px;/* orientation=rt */
}

.UIHomePagePortlet .KSProduct .ArowGreyIcon{
	background:url("DefaultSkin/background/ArowGreyIcon.gif") no-repeat left 8px;/* orientation=lt */
	background:url("DefaultSkin/background/ArowGreyIcon-rt.gif") no-repeat right 8px;/* orientation=rt */
	padding-left: 16px;/* orientation=lt */
	padding-right: 16px;/* orientation=rt */
	font-size: 12px;
	color: #565759;
	line-height: 20px;
}

.UIHomePagePortlet .ArowBlackIcon{
	background:url("DefaultSkin/background/ArowBlackIcon.gif") no-repeat left 8px;/* orientation=lt */
	background:url("DefaultSkin/background/ArowBlackIcon-rt.gif") no-repeat right 8px;/* orientation=rt */
	padding-left: 26px;/* orientation=lt */
	padding-right: 26px;/* orientation=rt */
	font-size: 14px;
	color: #565759;
	line-height: 26px;
	margin-left: 10px;/* orientation=lt */
	margin-right: 10px;/* orientation=rt */
}


