.UIForumPortlet .UICategories {
}

.UICategories .UIForumWorkingWorkspace {
	width: auto;
	padding: 0px 10px;
}

/**************************** UICategories ForumToolBar *********************************/

.UIForumCategory .ForumToolbar {
	margin: 5px 0px 0px 0px;
}

.UIForumCategory .ForumToolbar a {
	color: black;
}

.UIForumCategory .ForumToolbar a:hover {
	color: #126ca5;
}

.UIForumCategory .ForumToolbar .ToolbarActionsContainer {
	float: right;
	width: 137px;
	margin: 2px 0px 0px 0px;
}

.UIForumCategory .ForumToolbar .ManageCategoryButton {
	cursor: pointer;
	padding-left: 22px;
	line-height: 22px;
	height: 22px;
}

.UIForumCategory .ForumToolbar .SearchIcon {
	background-position: left center;
	cursor: pointer;
	padding-left: 22px;
	line-height: 22px;
	height: 22px;
	width: auto;
} 

.UIForumCategory .ForumToolbar .SeparatorLine {
	float: right;
	width: 2px; height: 19px;
	margin: 0px 5px 0px 5px;
}

.UIForumCategory .ForumToolbar .StatusIcon {
	background-position: left center;
	line-height: 22px;
	margin: 0px;
	padding-left: 22px;
	width: auto; height: auto;
}

.UIForumCategory .ForumToolbar .DownArrow1Icon {
	background-position:right center;
	padding-right:16px;
}