<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>wiki</display-name>

  <filter>
    <filter-name>ResourceRequestFilter</filter-name>
    <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>ResourceRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- ============To override UIMaskWorkspace template for Preview wiki page============== -->
  <listener>
    <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
  </listener>
  
    <!-- This is the entry point for all component-based GWT services. -->
  <servlet>
    <servlet-name>gwtrpc</servlet-name>
    <servlet-class>org.exoplatform.wiki.webui.WikiRemoteServiceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>GateInServlet</servlet-name>
    <servlet-class>org.gatein.wci.api.GateInServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GateInServlet</servlet-name>
    <url-pattern>/gateinservlet</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>gwtrpc</servlet-name>
    <url-pattern>*.gwtrpc</url-pattern>
  </servlet-mapping>
   
</web-app>