.UIModeratorManagementForm {
	padding: 10px;
	background: #ffffff;
}

.UIModeratorManagementForm .UIForumPageIterator {
	padding: 0px;
}

.UIModeratorManagementForm .UIComponentModerator {
	margin: auto;
	width: 99%;
}

*+html .UIModeratorManagementForm .UIComponentModerator {
	width: 95%;
}

.UIModeratorManagementForm .UITabPane .UITabContentContainer .UITabContent {
	border-bottom: none;
}

.UIModeratorManagementForm .UITabPane .UIAction {
	border-bottom: white;
}

.UIModeratorManagementForm .ModeratorsManagementContainer {
	border: 1px solid #b7b7b7;
	background: #f3f3f3;
}

.UIModeratorManagementForm .ModeratorsManagementContainer .ManagementContent {
	padding: 14px;
}

.UIModeratorManagementForm .ManagementContent .UIGrid .ActionContainer {
	width: 40px;
	margin: 0px auto;
}

.UIModeratorManagementForm .ModeratorsManagement .HorizontalLayout {
	border: none;
}

.UIModeratorManagementForm .UITabPane .TabPaneContent {
	padding: 0px;
}

.UIModeratorManagementForm .ModeratorsGroup .UIFormWithTitle {
	margin: 10px auto 0px auto;
}

.UIModeratorManagementForm .ModeratorsGroup .HorizontalLayout .UIFormInputSet {
	padding: 0px;
}

.UIModeratorManagementForm .ModeratorsGroup .UIFormInputSet .FormContainer {
	border: none;
	padding: 0px;
}

.UIModeratorManagementForm .ModeratorsGroup .UIGrid .IconContent {
	width: 55px;
	margin: auto;
	overflow: auto;
}

.UIModeratorManagementForm .ModeratorsGroup .UIFormGrid td.FieldLabel {
	width: 100px;
}

.UIModeratorManagementForm .ModeratorsGroup .UIFormGrid input.radio {
	margin: 0px;
}

.UIModeratorManagementForm .ModeratorsGroup .AddIcon16x16 {
	width: 16px;
	height: 16px;
	margin: 0px 2px;
}

.UIModeratorManagementForm .ModeratorsGroup .SelectUserIcon {
	background: url('../skinIcons/16x16/icons/SmallUserIcon.gif') no-repeat;
}

.UIModeratorManagementForm .ModeratorsGroup .SelectMemberIcon {
	background: url('../skinIcons/16x16/icons/SmallGroupIcon.gif') no-repeat;
}

.UIModeratorManagementForm .ModeratorsGroup .AddAnyIcon {
	background: url('../skinIcons/16x16/icons/SmallMemberIcon.gif') no-repeat;
}

.UIModeratorManagementForm #ModForums {
	float: left;
}

.UIModeratorManagementForm #ModCategorys {
	float: left;
}

.UIModeratorManagementForm #Signature {
	height: 70px;
}

.UIModeratorManagementForm .ForumUserProfile .textarea {
	height: 50px;
}