.UIForumPortlet .UIAddPollForm {
	background-color: #ffffff;
	padding: 8px;
}

.UIForumPortlet .UIAddPollForm .HorizontalLayout {
	background-color: #f7f7f7;
	padding: 20px 20px 15px;
}

.UIForumPortlet .UIAddPollForm .Line {
	background: url('background/Line1x2.gif') repeat-x;
	height: 2px;
	margin: 4px auto 10px auto;
}

.UIForumPortlet .UIAddPollForm .PollOptionConntent {
	padding: 5px 0px;
}

.UIForumPortlet .UIAddPollForm .HorizontalLayout .UIFormInputSet .Title {
	color: black;
	margin: 10px 0px 0px 3px;
}

.UIForumPortlet .UIAddPollForm .Label {
	text-align: left;
	padding: 4px;
}

.UIForumPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid td.FieldLabel {
	width: 140px;
}

.UIForumPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid td.FieldIcon {
	width: 110px;
	padding: 4px 0px;
}

.UIForumPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid .QuestionInput input {
	width: 400px;
}

.UIForumPortlet .UIAddPollForm .HorizontalLayout .UIFormGrid .TimeOutInput input {
	width: 60px;
}

.UIForumPortlet .UIAddPollForm .Icon {
	width: 16px;
	height: 16px;
	float: left;
	margin: 0px 2px;
}

.UIForumPortlet .UIAddPollForm .AddNewNodeIcon {
	cursor: pointer;
}

.UIForumPortlet .UIAddPollForm .DeletePortalIcon {
	cursor: pointer;
}