@import url('DefaultSkin/icons/16x16/Stylesheet.css');

.SideBarContent {
  width: 550px;
  height: 300px;
  border: #E4E4E4 solid 1px;
  margin: 5px 0 5px 0;
}

.SideBarContent .BarContent {
  background: white;
  padding: 3px 3px 3px 6px;
  color: black;
  font-weight: bold;
  height: 16px;
}

.SideBarContent .SideContent {
  padding-top: 5px;
  background: whiteSmoke;
  height: 270px;
  overflow: auto;
}

.UITreeExplorer {
  _overflow-x: hidden;
  _width: 183px;
}

.UITreeExplorer .Node {
  clear: both;
  margin-left: 15px; /* orientation=lt */
  margin-right: 20px; /* orientation=rt */  
  padding-left: 4px;
  white-space: normal;
}

.UITreeExplorer .Node a {
  display: block;
  /*white-space: normal;*/
}

.UITreeExplorer .LastNode {
  
}

.UITreeExplorer .NodeLabel {
  line-height: 20px;
  font-size: 12px;
  margin-left: 20px;
}

.UITreeExplorer .Bold {
  font-weight: bold;
}

.UITreeExplorer .NodeLabel span {
  font-style: italic;
  color: #666;
}

.UITreeExplorer .ExpandIcon {
  width: auto;
  height: auto;
  padding-right: 19px; /* orientation=rt */
  display: block;
}

.UITreeExplorer .CollapseIcon {
  width: auto;
  padding-right: 19px; /* orientation=rt */
  display: block;
}

.UITreeExplorer .EmptyIcon {
  width: auto;
  height: auto;
  padding-right: 19px; /* orientation=rt */
  display: block;
}

.UITreeExplorer .TreeNodeType {  
}

.UITreeExplorer .TreeNodeType a:hover {
  text-decoration: none;
  cursor:default;
  p
}

.UITreeExplorer .Space {
  background: url('DefaultSkin/background/SpaceNode.gif') no-repeat left 1px; /* orientation=lt */
}

.UITreeExplorer .Wiki {
  background: url('DefaultSkin/background/WikiNode.gif') no-repeat left 1px; /* orientation=lt */
}

.UITreeExplorer .Wikihome {
  background: url('DefaultSkin/background/PageNode.gif') no-repeat left 1px; /* orientation=lt */
}

.UITreeExplorer .Page {
  background: url('DefaultSkin/background/PageNode.gif') no-repeat left 1px; /* orientation=lt */
}

.UITreeExplorer .Hover {
  background-color: #D0DFF0;
}
