@import url('DefaultSkin/icons/16x16/Stylesheet.css');

.UIWikiPortlet .UITreeExplorer .Node {
  white-space: normal;
  padding: 2px 0px;
}

.UIWikiPortlet .UITreeExplorer .Node a {
  display: inline;
  color: #555;
  line-height: 18px;
  /*white-space: normal;*/
}

.UIWikiPortlet .UITreeExplorer .LastNode {
  
}

.UIWikiPortlet .UITreeExplorer .NodeLabel {
  line-height: 22px;
  margin-left: 20px;
}

.UIWikiPortlet .UITreeExplorer .Bold {
  font-weight: bold;
}

.UIWikiPortlet .UITreeExplorer .ExpandIcon {
  background-position: 0 7px;
  width: auto;
  height: auto;
  padding-left: 15px; /* orientation=lt */
  padding-right: 15px; /* orientation=rt */
  display: block;
}

.UIWikiPortlet .UITreeExplorer .CollapseIcon {
  background-position: 0 7px;
  width: auto;
  padding-left: 15px; /* orientation=lt */
  padding-right: 15px; /* orientation=rt */
  display: block;
}

.UIWikiPortlet .UITreeExplorer .EmptyIcon {
  background-position: 0 7px;
  width: auto;
  height: auto;
  padding-left: 15px; /* orientation=lt */
  padding-right: 15px; /* orientation=rt */
  display: block;
}

.UIWikiPortlet .UITreeExplorer .NodeGroup { 
	padding-left: 20px;
}

.UIWikiPortlet .UITreeExplorer .TreeNodeType {  
}


.UIWikiPortlet .UITreeExplorer .TreeNodeType a:hover {
  text-decoration: none;
  cursor:default;
}

.UIWikiPortlet .UITreeExplorer .Space {
  background: url('DefaultSkin/background/SpaceNode.gif') no-repeat left 1px; /* orientation=lt */
  text-transform: capitalize;
}

.UIWikiPortlet .UITreeExplorer .Wiki {
  background: url('DefaultSkin/background/WikiNode.gif') no-repeat left 1px; /* orientation=lt */
  text-transform: capitalize;
}

.UIWikiPortlet .UITreeExplorer .Wikihome {
  background: url('DefaultSkin/background/PageNode.gif') no-repeat left 3px; /* orientation=lt */
}

.UIWikiPortlet .UITreeExplorer .Page {
  background: url('DefaultSkin/background/PageNode.gif') no-repeat left 3px; /* orientation=lt */
}

.UIWikiPortlet .UITreeExplorer .Hover a {
  font-weight: bold;
  color: #0053a7;
}

.UIWikiPortlet .UITreeExplorer .NodeLabel a:hover {
  color: #0053a7;
  cursor: pointer;
}
