.UIWikiPageEditForm .UISubmitToolBar .Delete {
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -72px;
}

.UIWikiPageEditForm .UISubmitToolBar .SavePage {
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -142px;
}

.UIWikiPageEditForm .UISubmitToolBar .SaveTemplate {
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -142px;
}

.UIWikiPageEditForm .UISubmitToolBar .MinorEdit {
  background: url("/wiki/skin/DefaultSkin/webui/background/quote_icon.gif") no-repeat 3px center;
}
