
.UIWikiPageEditForm .UISubmitToolBar .ActionButton {
	float: left;
}

.UIWikiPageEditForm .UISubmitToolBar .Delete {
	background: none;
	border: none;
	color: #1a5db3;
}

.UIWikiPageEditForm .UISubmitToolBar .Delete:hover {
	border: none;
	text-decoration: underline;
}

.UIWikiPageEditForm .UISubmitToolBar .SavePage {
	margin-right: 10px;
}

.UIWikiPageEditForm .UISubmitToolBar .SaveTemplate {
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -142px;
}
