
.UIWikiPageEditForm .UISubmitToolBar .ActionButton {
	float: left;
}

.UIWikiPageEditForm .UIEditUpper  .UISubmitToolBar {
	float: right;
	padding-top: 15px;
}

.UIWikiPageEditForm .UISubmitToolBar .Delete {
	background: none;
	border: none;
	color: #1a5db3;
}

.UIWikiPageEditForm .UISubmitToolBar .Delete:hover {
	border: none;
	text-decoration: underline;
}

.UIWikiPageEditForm .UISubmitToolBar .SavePage {
	margin-right: 10px;
}

.UIWikiPageEditForm .UISubmitToolBar .DisableButton {
    opacity: 0.40;
}

.UIWikiPageEditForm .UISubmitToolBar .DisableButton:HOVER {
    cursor: wait;
    color: black;
}