.sidebarTDContainer {
	width: 220px;
	float: right;
}

.pagebodyTDContainer {
	margin-right: 225px;
}

#UIContainer-pagebody {
	padding: 0px;
}

#UIContainer-sidebar {
	padding: 0px;
}

#UIContainer-KS {
	padding: 0px;
}

.UIBannerPortlet {
	background: #fff url('DefaultSkin/background/BannerPortlet.gif') repeat-x top;
	height: 84px;
}

.UIBannerPortlet .BannerTitle_{
	float: left;
	background: #fff url('DefaultSkin/background/BannerTitle.gif') no-repeat top left;
	width: 300px; height: 80px;
}

.UIBannerPortlet .MiddleBanner_ .LoginContainer{
	float: right; width: 240px;
}

.UIBannerPortlet .MiddleBanner_ .LeftContainer{
	background: url('DefaultSkin/background/LeftContainer.gif') no-repeat left;
	padding-left: 10px;
}

.UIBannerPortlet .MiddleBanner_ .RightContainer{
	background: url('DefaultSkin/background/RightContainer.gif') no-repeat right;
	padding-right: 5px;
}

.UIBannerPortlet .MiddleBanner_ .CenterContainer{
	background: url('DefaultSkin/background/CenterContainer.gif') repeat-x ;
	height: 53px;
}

.UIBannerPortlet .LoginContainer .TextAcount {
	line-height:24px;
	color: gray;
}

.UIBannerPortlet .MiddleBanner_ .ActionButton{
	float: right;
	margin:0px 4px 0px 0px;
}

.UIBannerPortlet .MiddleBanner_  .LeftButton{
	background: url('DefaultSkin/background/LeftButton.gif') no-repeat left;
	padding-left: 10px;
}

.UIBannerPortlet .MiddleBanner_  .RightButton{
	background: url('DefaultSkin/background/RightButton.gif') no-repeat right;
	padding-right: 9px;
}

.UIBannerPortlet .MiddleBanner_  .CenterButton{
	background: url('DefaultSkin/background/CenterButton.gif') repeat-x ;
	line-height: 20px;
	padding: 0px 8px;
	height: 20px;
	color:#025193;
	font-weight: bold;
	height: 20px;
	white-space: nowrap;
}
.UIBannerPortlet .MiddleBanner_  .CenterButton a{
	color: #025193;
}
.UIBannerPortlet .MiddleBanner_  .CenterButton a:hover{
	color: #000;
}
.UIBannerPortlet .MiddleBanner_  .SignIn{
	width: 76px;
	float: left;
	margin: 0px 7px;
	}
	
.UIBannerPortlet .MiddleBanner_  .SignOut{
	width: 86px;
	float: left;
	}
.UIBannerPortlet .MiddleBanner_  .YourAccount{
	width: 113px;
	float: right;
	margin: 0px 7px;
	}
/***************************************************************************************************/

.UIHomePagePortlet {
	padding: 1px 0px 4px 4px;
}

/*****
.UIHomePagePortlet .TryNowIcon{
	background: url('DefaultSkin/background/TryNowIcon.gif') no-repeat top right;
}
****/

.PortletDecoration {
}

.PortletDecoration .PortletDecorationTL {
	background: white url('DefaultSkin/background/PortletDecorationTL.gif') no-repeat left top;
	padding-left: 3px;
}

.PortletDecoration .PortletDecorationTR {
	background: white url('DefaultSkin/background/PortletDecorationTR.gif') no-repeat right top;
	padding-right: 3px;
}

.PortletDecoration .PortletDecorationTC {
	background: white ;
	height: 3px;
}

.PortletDecoration .HomePortletAdBackround {
	background: white ;
	padding: 20px 0px 0px 0px;
}

.UIHomePagePortlet .PortletDecoration .HomePortletAdBackround {
	padding: 8px;
}

.PortletDecoration .PortletDecorationBL {
	background: url('DefaultSkin/background/PortletDecorationBL.gif') no-repeat left top;
	padding-left: 3px;
}

.PortletDecoration .PortletDecorationBR {
	background: url('DefaultSkin/background/PortletDecorationBR.gif') no-repeat right top;
	padding-right: 3px;
}

.PortletDecoration .PortletDecorationBC {
	background: url('DefaultSkin/background/PortletDecorationBC.gif') repeat-x ;
	height: 5px;
}

.UIHomePagePortlet .HomeBackground {
	background: url('DefaultSkin/background/HomeBackground.jpg') repeat-x center;
	height: 243px;
}

.UIHomePagePortlet .CheckIcon {
	background: url('DefaultSkin/background/CheckIcon.gif') no-repeat left ;
	line-height: 18px;
	padding-left: 20px;
	overflow: hidden;
	width: 80%;
	white-space: nowrap;
}

.UIHomePagePortlet .HomeBackground .HomeImageLeft {
	background: url('DefaultSkin/background/KSHomePageLeft.jpg') no-repeat left;
	height: 243px;
}

.UIHomePagePortlet .HomeBackground .HomeImageRight {
	background: url('DefaultSkin/background/KSHomePageRight.jpg') no-repeat right;
	height: 243px;
}

.UIHomePagePortlet .HomeBackground .Label1 {
	color:#b5b5b5;
	font-size:22px;
	padding: 90px 0px 0px 245px;
	text-align:left;
}

.UIHomePagePortlet .HomeBackground .Label2 {
	color:#8f8f8f;
	font-family:times New Roman;
	text-align:left;
	font-size: 41px;
	padding-left: 245px;
}

.UIHomePagePortlet .Decorator .DecoratorML {
	background: url('DefaultSkin/background/BgDecorator.jpg') no-repeat left top;
	padding-left: 5px;
}

.UIHomePagePortlet .Decorator .DecoratorMR {
	background: url('DefaultSkin/background/BgDecorator.jpg') no-repeat right top;
	padding-right: 5px;
}

.UIHomePagePortlet .Decorator .DecoratorMC {
	background: url('DefaultSkin/background/BgDecorator.jpg') repeat-x left -192px ;
	height: 192px;
}

.UIHomePagePortlet .Decorator .ForumIcon {
	background:transparent url(DefaultSkin/background/ForumIcon.jpg) no-repeat 20px bottom;
	height: 96px;
	padding-left: 110px;
}

.UIHomePagePortlet .Decorator .ForumLabel {
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.UIHomePagePortlet .Decorator .ForumLabel .Label {
	line-height: 20px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

.UIHomePagePortlet .Decorator .ForumLabel .Title {
	line-height: 30px;
	font-size: 24px;
	color:#1363c8;
}

.UIHomePagePortlet .Decorator .FAQIcon {
	background: url('DefaultSkin/background/FAQIcon.jpg') no-repeat 20px bottom;
	height: 95px;
	padding-left: 110px;
}

.UIHomePagePortlet .Decorator .FAQLabel {
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}

.UIHomePagePortlet .Decorator .FAQLabel .Label {
	line-height: 20px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

.UIHomePagePortlet .Decorator .FAQLabel .Title {
	line-height: 30px;
	font-size: 24px;
	color:#1363c8;
}

.UIHomePagePortlet .Decorator .Button {
	height: 30px; width: 90px;
}

/***************************************************************************************************/

.SideBar {
	padding: 3px;
}


.SideBar .DownloadButton{
	background: #f1f1f1 url('DefaultSkin/background/DownloadButton.jpg') no-repeat ;
	width: 159px;
	height: 110px;
	margin: auto;
	cursor: pointer;
	text-align: center;
}

.SideBar .DownloadButton .TextDownload{
	font-size: 15px;
	font-weight: bold;
}

.SideBar .ArowIcon{
	text-align: center;
	margin: 10px 10px;
}

.SideBar .DotLine{
	background: url('DefaultSkin/background/DotLine1x2.gif') repeat-x ;
	height: 2px;
	margin: 0px 10px 12px 10px;
}

.SideBar .LeftButton {
	background: url('DefaultSkin/background/BgButton.gif') no-repeat left top;
	padding-left: 17px;
	margin: 0px 25px 0px 25px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/BgButton.gif') no-repeat right -56px;
	padding-right: 16px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/BgButton.gif') repeat-x left -112px;
	height: 56px;
	font-family: tahoma;
	font-weight: bold;
	text-align: center;
	color: white;
}


.SideBar .CenterButton  .TextCreatDemo{
	font-size: 11px;
	white-space: nowrap;
	font-weight: normal;
}

.SideBar .SignUp {
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 70px;
	color: #e63c00;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
}

.SideBar .ProVersion {
	font-family: tahoma;
	font-weight: bold;	
	color: #1d7ce1;
	text-align: center;
	font-size: 12px;
}

/*********************************Navigation Portlet**********************************/


.UINavigationPortlet {
  !position: relative;
}

.UINavigationPortlet .UINavigationBar {
  height: 33px;
  background: url('DefaultSkin/background/Navigation.gif') repeat-x top center;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs {
  height: 33px;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs .TabsContainer {
  overflow: auto;
  float: none;
  height: auto;
}

.UINavigationPortlet .UINavigationBar .RightNavigationBar {
	background:none;
}

.UINavigationPortlet .UINavigationBar .MiddleNavigationBar {
	background:none;
}

.UINavigationPortlet .UINavigationBar .LeftNavigationBar {
  line-height: 33px;
  background:none;
  padding-left: 3px; 
}

.UINavigationPortlet .UITab a.TabLabel {
	display: block;
	padding: 0px 0 0px 20px; 
}

.UINavigationPortlet .MenuItemContainer {
	white-space: nowrap;
	border: solid #b7b7b7 1px;
	background: #f3f3f3;
	text-align: left; 
}

.UINavigationPortlet .MenuItemContainer .MenuItemDecorator {
  border: 1px solid #fcfcfc;
  background: #f3f3f3;
  padding-bottom: 6px;
}

.UINavigationPortlet .MenuItemContainer .MenuItem {
  border-bottom: 1px solid #fff;
	cursor: pointer;
	line-height: 24px;
	height: 24px; width: auto;
	display: block;
	white-space: nowrap;
	font-weight: normal;
	padding-left: 5px;
}

.UINavigationPortlet .MenuItemContainer .MenuItem a {
	padding: 0px 20px 0px 25px; 
	display: block;
}

.UINavigationPortlet .MenuItemContainer .MenuItem a:hover {
	color: #3e8df0;
	background: url('DefaultSkin/background/HoverItem.gif') repeat-x bottom;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem {
	line-height: 24px;
	width: auto; 
	background: url('DefaultSkin/background/HoverItem.gif') repeat-x bottom;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem a {
	color: #3e8df0;
}

.UINavigationPortlet .MenuItemContainer .ItemIcon {
  height: 24px; width: auto;
}

.UINavigationPortlet .MenuItemContainer .MenuItem .ArrowIcon {
  height: 24px; 
  width: auto;
  background: url('DefaultSkin/background/Button.gif') no-repeat right -48px;
}	

/*============ Scroll Buttons =====================*/

.UINavigationPortlet .ScrollButtons {
	float: right; 
	padding-top: 10px;
	display: none;
}

.UINavigationPortlet .ScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat left -15px; 
  padding-left: 18px; 
  margin: 0px 5px;
}

.UINavigationPortlet .ScrollRightButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat right -15px; 
  width: 15px;
  height: 15px;
}

.UINavigationPortlet .DisableScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat left -30px; 
  padding-left: 18px; 
  margin: 0px 5px;
}

.UINavigationPortlet .DisableScrollRightButton { 
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat right -30px; 
  width: 15px;
  height: 15px;
}

.UINavigationPortlet .HighlightScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat left top; 
  padding-left: 18px;
  margin: 0px 5px;
}

.UINavigationPortlet .HighlightScrollRightButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat right top;
  width: 15px;
  height: 15px;
}

/*###########################--UINavigation Tab--############################*/

.UIHorizontalTabs {
}

.UIHorizontalTabs .CenterHorizontalTabs {
  overflow-y: hidden;
  background: url('DefaultSkin/background/NormalTabStyle.gif') repeat-x center top;
  padding: 0px 6px;
}

.UIHorizontalTabs .TabsContainer {
 	height: 24px;
}

.UIHorizontalTabs .UITab {
  float: left; 
  font-weight: bold;
  text-align: center;
  width: auto;
}

/*###########################--NavigationTabTab--############################*/
.UIHorizontalTabs .UITab .NormalNavigationTab {
  line-height: 33px; 
  margin-left: 1px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .LeftTab {
  line-height: 33px;
  padding-left: 2px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .RightTab {
  line-height: 33px; 
  padding-right: 2px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .MiddleTab {
  line-height: 33px;
  text-align: center;
  padding: 2px 8px 0;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .TabIcon {
  color: #fff;
  line-height: 31px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab a {
  color: #fff;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .DropDownArrowIcon {
  padding-right: 20px;
  background: url(DefaultSkin/background/NavDownArrow.gif) no-repeat right; 
  cursor: pointer;
}

/*###############-Hightlight Navigation Tab  -################*/

.UIHorizontalTabs .UITab .HighlightNavigationTab {
  line-height: 22px; 
  margin-left: 1px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .LeftTab {
  line-height: 33px; 
  background: none;
  padding-left: 2px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .RightTab {
  line-height: 33px; 
  padding-right: 2px;
  background: none;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .MiddleTab {
  line-height: 33px; 
  text-align: center;
  padding: 2px 8px 0;
  background: none;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .TabIcon {
  color: #fff;
  line-height: 31px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab a {
  color: #fff;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .DropDownArrowIcon {
  padding-right: 20px; 
  background: url(DefaultSkin/background/NavDownArrow.gif) no-repeat right; 
  cursor: pointer;
}

/*###############-Selected Navigation Tab-################*/

.UIHorizontalTabs .UITab .SelectedNavigationTab {
  line-height: 33px; 
  margin-left: 1px; 
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .LeftTab {
  line-height: 33px; 
  background: url('DefaultSkin/background/NavigationTab.gif') no-repeat left -1px;
  padding-left: 4px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .RightTab {
  line-height: 33px; 
  background: url('DefaultSkin/background/NavigationTab.gif') no-repeat right -1px;
  padding-right: 4px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .MiddleTab {
  line-height: 33px;
  background: url('DefaultSkin/background/NavigationTab.gif') repeat-x left -33px;
  text-align: center;
  padding: 0 8px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .TabIcon {
  color: #f57a00;
  line-height: 33px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab a {
  color: #f57a00;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .DropDownArrowIcon {
  padding-right: 20px; 
  background: transparent url(DefaultSkin/background/NavDownArrow.gif) no-repeat scroll right center;  
  cursor: pointer;
}

/*###########################-- NormalTabStyle --############################*/

.UIHorizontalTabs .NormalTabStyle .NormalTab {
  line-height: 24px; 
  margin-right: 1px; 
  color: #202020; 
  font-weight: normal;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab a {
	line-height: 24px;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .LeftTab {
  padding-left: 12px; 
  line-height: 24px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') no-repeat left -24px;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') no-repeat right -24px;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .MiddleTab {
  line-height: 24px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') repeat-x center -48px;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab {
  line-height: 24px;
  margin-right: 1px;
  color: #0666d2; font-weight: normal;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .LeftTab {
  line-height: 24px;
  padding-left: 12px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') no-repeat left -72px;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') no-repeat right -72px;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .MiddleTab {
  line-height: 24px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') repeat-x center -96px;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab {
  line-height: 24px;
  margin-right: 1px;
  color: #307dcc; 
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .LeftTab {
  line-height: 24px;
  padding-left: 15px; 
  background: url('DefaultSkin/background/NormalTabStyle.gif') no-repeat left -120px;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .RightTab {
  line-height: 24px;
  padding-right: 3px; 
  background: url('DefaultSkin/background/NormalTabStyle.gif') no-repeat right -120px;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .MiddleTab {
  line-height: 24px;
  background: url('DefaultSkin/background/NormalTabStyle.gif') repeat-x center -144px;
  cursor: pointer;
  font-weight: normal;
  padding: 0px 4px 0px 4px;
}

/*###########################-- MessageTabDialog --############################*/

/*==============================NormalTab for MessageTab=====================*/
.UIHorizontalTabs .MessageTabDialog .NormalTab {
  line-height: 27px;
  margin-right: 1px;
  color: #202020; font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .LeftTab {
  padding-left: 2px;
  line-height: 27px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .RightTab {
  line-height: 27px;
  padding-right: 7px;
  background: url('DefaultSkin/background/MessageTabDialog.gif') repeat-y right -182px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .MiddleTab {
  line-height: 27px;
  cursor: pointer;
  padding: 0px 8px 0px 4px;
  color: black; font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab div:hover{
  color: orange;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .TabIcon {
  float: left;
  width: 32px; height: 21px;
  margin-top: 4px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .InfoIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -105px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .ErrorIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -21px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .WarningIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -63px;
}

/*==============================Disable Tab for MessageTab=====================*/

.UIHorizontalTabs .MessageTabDialog .DisabledTab {
  line-height: 27px;
  margin-right: 2px;
  color: #202020; font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .LeftTab {
  padding-left: 2px;
  line-height: 27px;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .RightTab {
  line-height: 27px;
  padding-right: 7px;
  background: url('DefaultSkin/background/MessageTabDialog.gif') repeat-y right -182px;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .MiddleTab {
  line-height: 27px;
  cursor: pointer;
  padding: 0px 8px 0px 4px;
  color: gray;  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .TabIcon {
  float: left;
  width: 32px; height: 21px;
  margin-top: 4px;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .InfoIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -84px ;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .ErrorIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center top ;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .WarningIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -42px;
}
/*==============================Selected Tab for MessageTab=====================*/

.UIHorizontalTabs .MessageTabDialog .SelectedTab {
  line-height: 27px;
  color: #058ee6;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .LeftTab {
  line-height: 27px;
  padding-left: 2px;
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat left -126px;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .RightTab {
  line-height: 27px;
  padding-right: 7px;
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat right -126px;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .MiddleTab {
  line-height: 27px;
  background: url('DefaultSkin/background/MessageTabDialog.gif') repeat-x center -155px;
  cursor: pointer;
  padding: 0px 8px 0px 4px;
  color: #058ee6;  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab  div:hover{
  color: orange;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .TabIcon {
  float: left;
  width: 32px; height: 21px;
  margin-top: 4px;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .InfoIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -105px;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .ErrorIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -21px;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .WarningIcon {
  background: url('DefaultSkin/background/MessageTabDialog.gif') no-repeat center -63px;
}

/*========================KS Guided Tour===========================*/
.UIKSGuidedTour {
	background:transparent url(DefaultSkin/background/LeftKSGuidedTour.gif) repeat-y left ;
}

.UIKSGuidedTour .LeftKSGuidedTour {
	float: left;
	width: 226px; 
}

.UIKSGuidedTour .LeftKSGuidedTour .Header {
	width: 226px;
	background:transparent url(DefaultSkin/background/Header.gif) no-repeat left ;
	height: 33px;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton {
	margin-top: 2px;
	cursor: pointer;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton {
	margin-top: 2px;
	cursor: pointer;
}
.UIKSGuidedTour .LeftKSGuidedTour .OverButton {
	margin-top: 2px;
	cursor: pointer;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton .ButtonL {
	background:transparent url(DefaultSkin/background/HightLineButtonL.gif) no-repeat scroll left ;
	padding-left:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton .ButtonR {
	background:transparent url(DefaultSkin/background/HightLineButtonR.gif) no-repeat scroll right ;
	padding-right:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .HightLineButton .ButtonC {
	background:transparent url(DefaultSkin/background/HightLineButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.UIKSGuidedTour .LeftKSGuidedTour .OverButton .ButtonL {
	background:transparent url(DefaultSkin/background/OverButtonL.gif) no-repeat scroll left ;
	padding-left:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .OverButton .ButtonR {
	background:transparent url(DefaultSkin/background/OverButtonR.gif) no-repeat scroll right ;
	padding-right:8px;
}

.UIKSGuidedTour .LeftKSGuidedTour .OverButton .ButtonC {
	background:transparent url(DefaultSkin/background/OverButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 12px;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton .ButtonL {
	background:transparent url(DefaultSkin/background/NormalButtonL.gif) no-repeat scroll left ;
	padding-left:2px;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton .ButtonR {
	background:transparent url(DefaultSkin/background/NormalButtonR.gif) no-repeat scroll right ;
	padding-right:2px;
}

.UIKSGuidedTour .LeftKSGuidedTour .NormalButton .ButtonC {
	background:transparent url(DefaultSkin/background/NormalButtonC.gif) repeat-x ;
	line-height:38px;
	font-weight: bold;
	font-size: 12px;
	padding-left: 18px;
}

.UIKSGuidedTour .LeftKSGuidedTour .SignUpButton {
	background:transparent url(DefaultSkin/background/SignUpButton.gif) no-repeat ;
	line-height:50px;
	width:185px; height: 81px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: white;
	margin: 12px auto;
	cursor: pointer;
}

.UIKSGuidedTour .RightKSGuidedTour {
	margin-left: 227px;
	padding: 8px;
	background: white;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle {
	margin: 8px;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle .HeadTitleL {
	background:transparent url(DefaultSkin/background/HeadTitleL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle .HeadTitleR {
	background:transparent url(DefaultSkin/background/HeadTitleR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .HeadTitle .HeadTitleC {
	background:transparent url(DefaultSkin/background/HeadTitleC.gif) repeat-x ;
	line-height:41px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #427EB8;
}

.UIKSGuidedTour .RightKSGuidedTour .CheckTitleIcon {
	line-height:30px;
	font-size: 12px;
	padding-left: 24px;
	margin-left: 8px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS1 {
	background:transparent url(DefaultSkin/background/ShowImageKS1.gif) no-repeat left;
	height: 420px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS2 {
	background:transparent url(DefaultSkin/background/ShowImageKS2.png) no-repeat right;
	height: 420px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS3 {
	background:transparent url(DefaultSkin/background/ShowImageKS3.gif) no-repeat right;
	height: 420px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .ShowImageKS4 {
	background:transparent url(DefaultSkin/background/ShowImageKS4.png) no-repeat left;
	height: 420px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarTL {
	background:transparent url(DefaultSkin/background/TitleBarTL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarTR {
	background:transparent url(DefaultSkin/background/TitleBarTR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarTC {
	background:transparent url(DefaultSkin/background/TitleBarTC.gif) repeat-x ;
	height:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarBL {
	background:transparent url(DefaultSkin/background/TitleBarBL.gif) no-repeat scroll left ;
	padding-left:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarBR {
	background:transparent url(DefaultSkin/background/TitleBarBR.gif) no-repeat scroll right ;
	padding-right:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarBC {
	background:transparent url(DefaultSkin/background/TitleBarBC.gif) repeat-x ;
	height:5px;
}

.UIKSGuidedTour .RightKSGuidedTour .TitleBar .TitleBarMC {
	background: #78B3E2 url(DefaultSkin/background/TitleBarMC.jpg) repeat-x ;
	border-left: 1px solid #33669A;
	border-Right: 1px solid #33669A;
	font-size: 12px;
	color: white;
	text-align: center;
	padding: 8px 0px;
}

.UIKSGuidedTour .RightKSGuidedTour .H4 {
	background:transparent url(DefaultSkin/background/H4.gif) no-repeat left;
	height: 347px; width: 592px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .H5 {
	background:transparent url(DefaultSkin/background/H5.gif) no-repeat left;
	height: 386px; width: 513px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .KSGuidedTour2 .TitleBar{
	margin-top: 90px;
}

.UIKSGuidedTour .RightKSGuidedTour .KSGuidedTour3 .TitleBar{
	margin-top: 90px;
}

.UIKSGuidedTour .RightKSGuidedTour .H1 {
	background:transparent url(DefaultSkin/background/H1.gif) no-repeat left;
	height: 318px; width: 470px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .H2 {
	background:transparent url(DefaultSkin/background/H2.gif) no-repeat left;
	height: 237px;width: 506px;
	margin: 4px;
}

.UIKSGuidedTour .RightKSGuidedTour .H3 {
	background:transparent url(DefaultSkin/background/H3.gif) no-repeat left;
	height: 315px;width: 491px;
	margin: 4px;
}

/*=======================Breadcumbs=========================*/

.UIWindow .UIBreadcumbsPortlet {
  margin: 0px;
}

.UIBreadcumbsPortlet {
  margin: 0 0 3px 0;
}

.UIBreadcumbs {
  line-height: 25px ;
}

.UIBreadcumbs a {
  float: left ; 
  color: #6d7fa1 ; 
}

.UIBreadcumbs a.Selected {
  color: black;
}

.UIBreadcumbs .HomeIcon {
  float: left; 
  margin: 4px 5px 0 0 ; 
}

.UIBreadcumbs .LeftBreadcumbsBar {
  background: url('DefaultSkin/background/BreadcumbBG.gif') repeat-x left top;
  height: 25px;
}

.UIBreadcumbs .RightBreadcumbsBar {
  height: 25px;
  background: none;
}

.UIBreadcumbs .BreadcumbsInfoBar {
  height: 25px; 
  line-height: 25px;
  padding-left: 10px; 
  background: none;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
  float: left;
  margin: 5px 0px 0px 0px;
}
/*==========================UIFooterPortlet===========================*/
.UIFooterPortletKS {
  background: url('DefaultSkin/background/FooterBG.gif') repeat-x top; 
  margin: 0;
}

.UIFooterPortletKS .LeftFooter{
  background: url('DefaultSkin/background/FooterBG.gif') repeat-x top; 
}

.UIFooterPortletKS .RightFooter{
   background: url('DefaultSkin/background/FooterBG.gif') repeat-x top; 
}

.UIFooterPortletKS .RepeatFooter {
  padding: 0px;
  margin: 0px;
  padding: 14px 0 0 20px; 
}

.UIFooterPortletKS .FooterInfoContainer {
  line-height: 25px ;
}

.UIFooterPortletKS .CopyrightInfo {
  background: url('DefaultSkin/background/FooterLogo.gif') no-repeat top left;
  text-align: left; 
  color: #395c88;
  padding-left: 80px; 
  line-height: 30px;
}