@import url('extension/Stylesheet.css') ;

.UIWikiSettingContainer {
  margin: 20px 10px 20px 10px;
  display: block;  
}

.UIWikiSettingContainer .SettingItems {
  float: left;
  width: 20%;
  border: none;
  padding: 5px;
}

.UIWikiSettingContainer .Item {
  height: 20px;
}

.UIWikiSettingContainer .Selected {
  font-weight: bold;
}

.UIWikiSettingContainer .Content {
  margin-left: 23%;
}

.UIWikiSettingContainer div.Spliter {
  cursor: default;
  left: 150px;
}

