@import url('extension/Stylesheet.css') ;

.UIWikiSettingContainer {
  display: block;  
}

.UIWikiSettingContainer .SettingItems {
  float: left;
  width: 130px; 
  padding: 10px 16px;
}

.UIWikiSettingContainer .Item {
  padding: 4px 7px;
}

.UIWikiSettingContainer .Item a {
  font-size: 13px;
  color:#363636; 
} 

.UIWikiSettingContainer .Item a:hover {
  text-decoration:none;
}

.UIWikiSettingContainer .Selected {
  color: #ffffff;
  background-color:#808080;
  border-radius: 2px;
}

.UIWikiSettingContainer .Selected a {
  color:#fff;
}

.UIWikiSettingContainer .Content {
  margin-left: 180px;
  padding: 10px 0px; 
}

.UIWikiPortlet .UIWikiSettingContainer .Spliter {
  cursor: default;
  left: 162px;
}
 
 .UIWikiSettingContainer .UIForm .UIFormGrid td {
   border: none;
}
 
 .UIWikiSettingContainer .UIForm .UIFormGrid {
   border: none;
}

