.UIWikiPortlet .UIWikiPageInfo .UIWikiPageInfoLayoutTable {
	width: 100%;	
}

.UIWikiPortlet .UIWikiPageInfo .UIWikiPageInfoLayoutCell {
	width: 50%;	
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem {
	border: 1px solid #d7d7d7;
	margin: 10px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemTitle {
	padding: 8px 15px;
	font-weight: bold;
	color: #515151;
	background-color: #e6e6e6;
	font-size: 12px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody {
	padding: 1px 0px 0px 1px;
	margin: 0;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .tableview {
	padding: 5px;
	width: 100%;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .tableview tr {
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .EvenClass {
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody td {
	background: #f7f7f7;
	border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #545454;
    line-height: 30px;
	padding: 0px 15px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .label {
	background: #f4f4f4;
	font-weight: bold;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .Name {
	color: #4175b2;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .Editor {
	color: #4175b2;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .Time {
	background: #f9f9f9;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoItem .UIPageInfoItemBody .tableview th {
	background: #f4f4f4;
	border: none;
	border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #545454;
    line-height: 30px;
	padding: 0px 15px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy {
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content {
	color: #666666;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content .NodeLabel a {
	background: url(/wiki/skin/DefaultSkin/webui/background/ArrowInvertIcon.gif) no-repeat left 5px;
	color: #4175b2;
	padding-left: 10px;
	margin: 0px;
	display: block;
	cursor: pointer;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content .NodeLabel a:hover {
	text-decoration: underline;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content .NodeGroup {
	padding-left: 15px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content .NodeGroup .EmptyIcon {
	background: none;
	padding: 0px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content .NodeGroup .Page {
	background: none;
	padding: 0px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .content .NodeGroup .NodeLabel {
	margin: 0px;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoHierarchy .label {
	color: #666666;
	padding: 10px 15px;
	display: block;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoRelatedPage .UIPageInfoItemBody td {
	background: none;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoRelatedPage .UIPageInfoItemBody .ActionContainer a:hover {
	text-decoration: none;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoChanges .UIPageInfoItemBody .AddButton {
	background: none;
	color: #4175b2;
	line-height: 15px;
	font-weight: bold;
	text-decoration: underline;
}

.UIWikiPortlet .UIWikiPageInfo .UIPageInfoChanges .UIPageInfoItemBody .AddButton:hover {
    color: #058EE6;
	text-decoration: none;
}