.UIForumPortlet .UIMergeTopicForm {
	background-color: #ffffff;
	padding: 8px;
}

.UIForumPortlet .UIMergeTopicForm .HorizontalLayout {
	border: 1px solid #AEAEAE;
	background-color: #f7f7f7;
	padding: 8px 0px 0px 0px;
}