.UIWikiPageControlArea .UIPageToolBar .MovePage {
	background:url("background/MovePage.gif") no-repeat 5px center;	
}

.UIWikiPageControlArea .UIPageToolBar .WatchPage {
	background:url("background/watch_off.png") no-repeat 5px center;	
}

.UIWikiPageControlArea .UIPageToolBar .UnWatchPage {
	background: url("background/watch_on.png") no-repeat 5px center;	
}

.UIWikiPageControlArea .UIPageToolBar .Info {
  background: url("/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/MiscIcons/Info.png") no-repeat 5px center;
}

.UIWikiPageControlArea .UIPageToolBar .AddPageActionComponent {
  position:relative;
}

.UIWikiPageControlArea .UIPageToolBar .MoreComponent {
  position:relative;
}