.UICategories .UIForumWorkingWorkspace {
	width: auto;
	padding: 0px 10px;
}

.UICategories .UIForumWorkingWorkspace .UIForumCategory {
	margin: 0 0 7px 0;
}

/**************************** UICategories ForumToolBar *********************************/
.UIForumCategory .ForumToolbar .ToolbarActionsContainer {
	float: right;
	min-width: 137px;
}

.UIForumCategory .ForumToolbar .ManageCategoryButton {
	cursor: pointer;
	padding-left: 22px;
}

.UIForumCategory .ForumToolbar .SearchIcon {
	background-position: left center;
	cursor: pointer;
	padding-left: 22px;
	width: auto;
	height: auto;
}

.UIForumCategory .ForumToolbar .DownArrow1Icon {
	background-position: right center;
	padding-right: 16px;
}