
.UIAdvancePageIterator {
  margin-bottom: 20px;
  position: relative;
}

.UIAdvancePageIterator .PageIteratorContainer {
  padding: 20px 0px 20px 300px;
  border-top: 1px solid #c2c2c2;
}

.UIAdvancePageIterator .PageIteratorContainer .RightPageIteratorBlock {
  float:left;
}

.UIAdvancePageIterator .PageIteratorContainer .LeftPageIteratorBlock {
  float:left;
  line-height:18px;
  margin-right:15px;
}

.UIAdvancePageIterator .TotalPages {
  float:left;
  line-height:16px;
}

.UIAdvancePageIterator .PagesTotalNumber {
  color:#165FB3;
  float:left;
  line-height:17px;
  margin-left:5px;
  font-weight: bold;
}

.UIAdvancePageIterator .LastTopPage {
  color:#165FB3;
  cursor:pointer;
  vertical-align:middle;
}

.UIAdvancePageIterator .DisableLastTopPage {
  color: grey;
  vertical-align:middle;
}

.UIAdvancePageIterator .LastPage {
  color:#165FB3;
  cursor:pointer;
}

.UIAdvancePageIterator .DisableLastPage {
  color: grey;
}

.UIAdvancePageIterator .Disable {
  background:none repeat scroll 0 0 white;
  border:1px solid #165fb3;
  margin:0;
  padding:1px 7px;
}

.UIAdvancePageIterator a {
  color:#000000;
}

.UIAdvancePageIterator .Number {
  float:left;
  line-height:12px;
  margin:0 2px 0 0;
  text-align:center;
}

.UIAdvancePageIterator .Number a {
  padding:1px 6px 0px 7px;
  line-height: 16px;
}

.UIAdvancePageIterator .PageNormal {
  background:none repeat scroll 0 0 white;
  border:1px solid #165fb3;
  color:#165FB3;
  padding:1px 7px;
}

.UIAdvancePageIterator .PageSelected {
  color:white;
  background: #165fb3;
  border:1px solid #165fb3;
  margin:0;
  padding:1px 7px;
}

.UIAdvancePageIterator .NextPage {
  color:#165FB3;
  cursor:pointer;
}

.UIAdvancePageIterator .DisableNextPage {
  color:grey;
}

.UIAdvancePageIterator .NextTopPage {
  color:#165FB3;
  cursor:pointer;
}

.UIAdvancePageIterator .DisableNextTopPage {
  color:grey;
}

.UIAdvancePageIterator .GotoPageIcon {
  background:url("/wiki/skin/DefaultSkin/webui/UIAdvancePageIterator/background/OpenPopup17x21.gif") no-repeat scroll 0 0 transparent;
  float:left;
  height:17px;
  width:21px;
}

.UIAdvancePageIterator .GotoPageIcon .UIPopupCategory {
  left:-30px;
  position:absolute;
  top:-10px;
  width:120px;
  z-index:1010;
  border:none;
}

.UIAdvancePageIterator .UIRightClickPopupMenu {
  display:none;
  position:absolute;
}

.UIAdvancePageIterator .UIContextMenuContainer {
  background:none;
  border:none;
}


.UIAdvancePageIterator .GotoPageIcon .UIPopupCategory .InputPage {
 padding:2px 6px 0 0;
}

.UIAdvancePageIterator .GotoPageIcon .UIPopupCategory .InputPage input {
  font-size:12px;
  height:16px;
  width:30px;
}

.UIAdvancePageIterator .UIActionForum {
  padding:2px 3px;
}

.UIAdvancePageIterator .UIActionForum .NormalButtom {
  margin:0;
}

.UIAdvancePageIterator .UIActionForum .NormalButtom .ButtonMiddle {
  background:#165fb3;
  line-height:21px;
  padding: 0px 8px;
  color: white;
}

.UIAdvancePageIterator .UIActionForum .NormalButtom .ButtonMiddle a{
  color: white;
}

.UIAdvancePageIterator .UIRightClickPopupMenu .UIRightPopupMenuContainer a:hover {
  text-decoration: none;
  background-color: transparent;
}

.UIAdvancePageIterator .UIRightClickPopupMenu a {
  display:block;
}

.UIAdvancePageIterator .UIContextMenuContainer .TopLeftRightClickPopupMenu {
  background:url("../background/MenuBrowseBG.png") no-repeat left top;
  padding-left: 5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .TopRightRightClickPopupMenu {
  background:url("../background/MenuBrowseBG.png") no-repeat right -6px;
  padding-right: 5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .TopCenterRightClickPopupMenu {
  background:url("../background/MenuBrowseBG.png") repeat-x center -12px;
  height:5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .MiddleLeftRightClickPopupMenu {
  background:url("../background/MenuBrowseML.png") repeat-y left;
  padding-left: 5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .MiddleRightRightClickPopupMenu {
  background:url("../background/MenuBrowseMR.png") repeat-y right;
  padding-right: 5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .MiddleCenterRightClickPopupMenu {
  background:white;
  padding:5px;
}


.UIAdvancePageIterator .UIRightClickPopupMenu .UIRightPopupMenuContainer {
  background:white;
  padding:5px 0;
  margin: 0px;
}

.UIAdvancePageIterator .UIContextMenuContainer .BottomLeftRightClickPopupMenu {
  background:url("../background/MenuBrowseBG.png") no-repeat left -18px;
  padding-left: 5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .BottomRightRightClickPopupMenu {
  background:url("../background/MenuBrowseBG.png") no-repeat right -24px;
  padding-right: 5px;
}

.UIAdvancePageIterator .UIContextMenuContainer .BottomCenterRightClickPopupMenu {
  background:url("../background/MenuBrowseBG.png") repeat-x center -30px;
  height:5px;
}