<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</Pattern>
    </layout>
  </appender>

<!--
  <appender name="FILE"
    class="ch.qos.logback.core.FileAppender">
    <file>${log.output.path}/wiki-migration.log</file>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</Pattern>
    </layout>
  </appender>
-->
  <root level="trace">
    <appender-ref ref="STDOUT"/>
    <!--appender-ref ref="FILE"/-->
  </root>
</configuration>