.UIForumPortlet .UIAutoPruning {
	background-color: #ffffff;
	padding: 8px;
}

.UIForumPortlet .UIAutoPruning .AutoPruningContainer {
	background-color: #f7f7f7;
	padding: 8px;
	border: 1px solid #b4b4b4;
}

.UIForumPortlet .UIAutoPruning .UIFormWithTitle {
	margin: 8px auto;
}