.ExpandIcon {  
  width: 16px;
  background: url('DefaultSkin/tree_plus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/tree_plus.gif') no-repeat right center; /* orientation=rt */ 
}

.EmptyIcon { 
  width: 16px;
  background: url('DefaultSkin/tree_square.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/tree_square.gif') no-repeat right center; /* orientation=rt */ 
}

.CollapseIcon  {  
  width: 16px;
  background: url('DefaultSkin/tree_minus.gif') no-repeat left center; /* orientation=lt */
  background: url('DefaultSkin/tree_minus.gif') no-repeat right center; /* orientation=rt */ 
}