.UIForumPortlet .UITagForm {
	padding: 10px;
	background: #ffffff;
}

.UIForumPortlet .UITagForm .TagContent {
	border: 1px solid #c7c7c7;
}

.UIForumPortlet .UITagForm .TagControlBar {
	background: url('background/BgTitleTag1x25.gif') repeat-x;
	line-height: 25px;
	padding: 0px 5px 0px 10px;
}

.UIForumPortlet .UITagForm .TagTitle {
	float: left;
	font-weight: bold;
}

.UIForumPortlet .UITagForm .TagIcon {
	float: right;
	margin: 5px 3px;
}

.UIForumPortlet .UITagForm .TagsList {
	padding: 10px 1px 20px 1px;
}

.UIForumPortlet .UITagForm .TagsList a {
	line-height: 20px;
	color: #3d3d3d;
	display: block;
}

.UITagForm .TagsList a:hover {
	color: #126ca5;
}

.UITagForm .TagsList .IconHolder {
	line-height: 26px;
	padding-left: 32px;
	background-position: 10px center;
}

.UITagForm .TagsList .Selected {
	background-color: #e8e8ef;
}

.UITagForm .TagsList .unSelected {
	background-color: #fce7e7;
}

.UIForumPortlet .Color {
	background: url('background/Color.gif') no-repeat;
	line-height: 16px;
	height: 16px;
	padding-left: 28px;
	margin: 2px 0px;
}

.UIForumPortlet .Blue {
	background-position: left top;
}

.UIForumPortlet .DarkGoldenRod {
	background-position: left -24px;
}

.UIForumPortlet .Green {
	background-position: left -48px;
}

.UIForumPortlet .Yellow {
	background-position: left -72px;
}

.UIForumPortlet .BlueViolet {
	background-position: left -96px;
}

.UIForumPortlet .Orange {
	background-position: left -120px;
}

.UIForumPortlet .DarkBlue {
	background-position: left -144px;
}

.UIForumPortlet .IndianRed {
	background-position: left -168px;
}

.UIForumPortlet .DarkCyan {
	background-position: left -192px;
}

.UIForumPortlet .LawnGreen {
	background-position: left -216px;
}

.UIForumPortlet .Violet {
	background-position: left -240px;
}

.UIForumPortlet .Red {
	background-position: left bottom;
}

.BlueTagIcon {
	background: url('icons/BlueTagIcon.gif') no-repeat;
}

.DarkGoldenRodTagIcon {
	background: url('icons/DarkGoldenRodTagIcon.gif') no-repeat;
}

.GreenTagIcon {
	background: url('icons/GreenTagIcon.gif') no-repeat;
}

.YellowTagIcon {
	background: url('icons/YellowTagIcon.gif') no-repeat;
}

.BlueVioletTagIcon {
	background: url('icons/BlueVioletTagIcon.gif') no-repeat;
}

.OrangeTagIcon {
	background: url('icons/OrangeTagIcon.gif') no-repeat;
}

.DarkBlueTagIcon {
	background: url('icons/DarkBlueTagIcon.gif') no-repeat;
}

.IndianRedTagIcon {
	background: url('icons/IndianRedTagIcon.gif') no-repeat;
}

.DarkCyanTagIcon {
	background: url('icons/DarkCyanTagIcon.gif') no-repeat;
}

.LawnGreenTagIcon {
	background: url('icons/LawnGreenTagIcon.gif') no-repeat;
}

.VioletTagIcon {
	background: url('icons/VioletTagIcon.gif') no-repeat;
}

.RedTagIcon {
	background: url('icons/RedTagIcon.gif') no-repeat;
}