.UIForumForm {
	padding: 10px;
}

.UIForumForm .HorizontalLayout .newForum {
	padding: 15px 0px;
}

.UIForumForm .HorizontalLayout .newForum textarea {
	height: 100px;
}

.UIForumPortlet .UIForm .forumPermission .textarea {
	height: 46px;
}

.UIForumForm .HorizontalLayout .moderationOptions {
	width: 510px;
	padding: 20px 0px 60px 0px;
}

.UIForumForm .HorizontalLayout .moderationOptions  .UIFormGrid td.FieldLabel {
	padding: 4px 0px;
}

.UIForumForm .HorizontalLayout .moderationOptions textarea {
	width: 260px;
	height: 40px;
	margin: 0px;
}

.UIForumForm .HorizontalLayout .moderationOptions input.checkbox {
	padding: 0px 1px;
}

.UIForumForm .ForumPermission {
	padding: 5px;
}

.UIForumForm .ForumPermission input {
	float: left;
}

.UIForumForm .ForumPermission .SelectUserIcon {
	background: url('../skinIcons/16x16/icons/SmallUserIcon.gif') no-repeat;
}

.UIForumForm .ForumPermission .SelectMemberIcon {
	background: url('../skinIcons/16x16/icons/SmallGroupIcon.gif') no-repeat;
}

.UIForumForm .ForumPermission .AddAnyIcon {
	background: url('../skinIcons/16x16/icons/SmallMemberIcon.gif') no-repeat;
}

.UIForumForm .ForumPermission .UIAction {
	padding: 0px 0px 5px 0px;
}

/********KS-2315*********/
.UIFormForum  .UIFormInput .UIFormUploadInput .UploadIframe iframe {
	width: 360px;
}