.UITopicForm {
	width: 850px;
	padding: 5px 5px 0px 5px;
}

.UITopicForm .UIFormInputSet .UIFormGrid td.FieldLabel {
	text-align: left;
	white-space: nowrap;
}

.UITopicForm .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 5px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadContent input {
	width: 450px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadContent checkbox {
	padding-left: 5px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadContent textarea {
	width: 430px;
	height: 205px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadOptions checkbox {
	padding-left: 5px;
}

.UITopicForm .HorizontalLayout .ThreadPermission .SelectUserIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/UserIcon.png') no-repeat;
}

.UITopicForm .HorizontalLayout .ThreadPermission .SelectMemberIcon {
	background: url('../skinIcons/16x16/icons/SmallGroupIcon.gif') no-repeat;
}

.UITopicForm .HorizontalLayout .ThreadPermission .AddAnyIcon {
	background: url('../skinIcons/16x16/icons/SmallMemberIcon.gif') no-repeat;
}

.UITopicForm .HorizontalLayout .ThreadPermission .FormContainer {
	border: none;
	padding: 0px 15px;
}

.UITopicForm .UITabContent {
	min-height: 268px;
	height: auto;
}

.UITopicForm .UIFormTabPane {
	padding: 0px;
}

.UITopicForm .UIFormTabPane .UITabPane .TabPaneContent {
	padding: 0px 8px;
}

.UITopicForm .UIFormTabPane .ThreadPermission .HorizontalLayout {
	border: 1px solid #B7B7B7;
	padding-top: 8px;
}

.UITopicForm .UIFormWithTitle {
	margin: auto;
	padding-top: 5px;
}

.UITopicForm .HorizontalLayout .ThreadOption .UIFormGrid {
	width: auto;
}

.UITopicForm .HorizontalLayout .ThreadOption .UIFormGrid td.FieldComponent {
	width: auto;
}

.UITopicForm .HorizontalLayout .ThreadOption .selectbox {
	float: left;
}

.UITopicForm .HorizontalLayout .ThreadPermission .UIFormGrid {
	width: 500px;
}

.UITopicForm .ThreadPermission input {
	float: left;
}

.UITopicForm .UIForm .UIFormGrid td.FieldComponent {
	width: 700px;
}

.UITopicForm .UIFormTabPane .UITabContent .FieldComponent div {
	width: 98%;
	float: left;
}