.UITopicForm {
	width: 620px;
	padding: 10px;
}

.UITopicForm .UIFormInputSet .UIFormGrid td.FieldLabel {
	text-align: left ;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadContent input {
	width: 430px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadContent checkbox {
	padding-left: 5px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadContent textarea { 
	width: 430px; height: 205px;
}

.UITopicForm .UIForm .HorizontalLayout .ThreadOptions checkbox {
	padding-left: 5px;
}

.UITopicForm .HorizontalLayout .ThreadPermission .SelectUserIcon {
	/*background: url('../skinIcons/16x16/icons/SmallUserIcon.gif') no-repeat;*/
}

.UITopicForm .HorizontalLayout .ThreadPermission .SelectMemberIcon {
	background: url('../skinIcons/16x16/icons/SmallGroupIcon.gif') no-repeat;
}

.UITopicForm .HorizontalLayout .ThreadPermission .AddAnyIcon {
	background: url('../skinIcons/16x16/icons/SmallMemberIcon.gif') no-repeat;
}

.UITopicForm .HorizontalLayout .ThreadPermission .FormContainer {
	border: none;	
	padding:0px 15px;
}

.UITopicForm .UITabContent {
	min-height: 268px;
	height: auto;
}

.UITopicForm .UIFormTabPane .ThreadPermission .HorizontalLayout {
	border:1px solid #B7B7B7;
	padding-top: 8px;
}

.UITopicForm .UIFormWithTitle {
	margin: auto;
	padding-top: 5px;
}

.UITopicForm .HorizontalLayout .ThreadPermission td.FieldLabel {
	width: 000px;
}

.UITopicForm .ThreadPermission input {
	float: left ;
}

.UITopicForm #messageContent___Frame {
	height: 200px ;	width: 435px; 
}