.UIMoveCategoryForm {
	padding: 10px;
	background: #ffffff;
}

.UIMoveCategoryForm .TitleMoveThreads {
	padding-left: 10px;
	line-height: 20px;
	font-weight: bold;
	width: 90%;
}

.UIMoveCategoryForm .UITree {
	border: 1px solid #a5a5a5;
	padding: 3px 1px;
	overflow-y: auto;
	height: 235px;
}

.UIMoveCategoryForm .UITree {
	height: 300px;
}

.UIMoveCategoryForm .UITree .TreeContainer {
	background: none;
}

.UIMoveCategoryForm .TreeContainer .Node {
	width: auto;
	padding: 0px 0px 0px 20px;
}

.UIMoveCategoryForm .TreeContainer .Node .NodeLabel a {
	font-weight: normal;
	color: #272727;
	margin: 0px;
	line-height: 22px;
}

.UIMoveCategoryForm .TreeContainer .Node .Icon {
	height: 22px; width: 22px;
	margin: 0px; float: left ;
}

.UIMoveCategoryForm .TreeContainer .Node .NodeLabel a:hover {
	color: #058ee6;
}

.UIMoveCategoryForm .TreeContainer .Selected {
	background: #d8d9ee;
	margin: 0px;
	height: 22px;
}

.UIMoveCategoryForm .UIForm .HorizontalLayout {
	padding-top: 3px;
	padding-bottom: 3px;
}