.UIForumPortlet .UIMergePostForm {
	padding: 10px;
	background-color: white;
}

.UIForumPortlet .UIMergePostForm .MergePostsContainer {
	border: 1px solid #c7c7c7;
	background: #f7f7f7;
	padding: 8px;
}

.UIForumPortlet .UIMergePostForm .UIForm .HorizontalLayout {
	border: none;
	padding: 0px 20px;
}

.UIForumPortlet .UIMergePostForm .UIForm .HorizontalLayout select {
	width: 374px;
}

.UIForumPortlet .UIMergePostForm .UIForm .HorizontalLayout .Textinput {
	width: 370px;
}

.UIForumPortlet .UIMergePostForm .UIForm .HorizontalLayout .TexMessage {
	width: 370px;
	height: 200px;
}