@import url('popup/Stylesheet.css') ;

body, html, div, table, tr, td, img, form {
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
}

.UIPollPortlet .UIGrid {
	width: 100%;
}

.UIPollPortlet .UIPollContainer {
	padding: 10px;
}

.UIPageDesktop #UIWindow-forum {
	width:870px;
}

.UIPollPortlet .Cursor {
  cursor:pointer;
}

.UIPollPortlet .FloatLeft {
  float:left;
}

.UIPollPortlet .UIRightClickPopupMenu .FixHeight {
	height:0px;
	width:0px;
}

.UIPollPortlet .UITopicPoll {
	margin: 0px;
}

.UIPollPortlet .UITopicPoll .UITabPane {
	height: auto;
}

.UIPollPortlet .UITopicPoll .UITabContentContainer {
	border-top: solid 1px #b7b7b7;
}

.UIPollPortlet .UITopicPoll .ForumToolbar .Lable {
	float: left;
	font-weight: bold;
	font-size: 12px;
	line-height: 26px;
	padding-left: 10px;
}

.UIPollPortlet .UITopicPoll .ForumToolbar .Icon {
	float: right;
	padding-left: 23px;
	line-height: 20px;
	margin: 3px 10px 0px 10px;
}

.UIPollPortlet .UITopicPoll .ForumToolbar .DownArrow1Icon {
	width: 16px;
	height: 26px;
	margin: 0px 14px 0px 3px;
	padding: 0px;
}

.UIPollPortlet .UITopicPoll .ForumToolbar .ForumSeparatorLine {
	float: right;
	margin: 4px 4px 0px 4px;
}

.UIPollPortlet .UITopicPoll .TopicPollContainer {
	border: 1px solid #b7b7b7;
}

.UIPollPortlet .UITopicPoll .TopicPollContainer .PollTime {
	background: url('background/BgPollTitle1x20.gif') repeat-x;
	height: 20px; line-height: 20px;
	text-align: center;
}

.UIPollPortlet .UITopicPoll .TopicPollContainer .UIFormTabPane {
	margin: 0px 10px 10px 10px;
}

.UIPollPortlet .UITopicPoll .TopicPollContainer .TopicPollContent {
	border: 1px solid #d2d2d2;
	padding: 10px 15px;
	margin: 0px auto 10px auto;
	background: white;
}
/* Fix only IE7 */
.UIPollPortlet .UITopicPoll .TopicPollContainer .TopicPollContent {
	*min-width: 300px;
	*overflow-y: hidden;
	*overflow-x: auto;
}

.UIPollPortlet .UITopicPoll .TopicPollContainer .TopicPollContent .PollQuestion {
	font-weight: bold;
	line-height: 20px;
}

.UIPollPortlet .UITopicPoll .TopicPollContainer .UIForm .HorizontalLayout {
	border: none;
}

.UIPollPortlet .UITopicPoll .UIForm .HorizontalLayout .UIFormGrid td.FieldLabel {
	text-align: left;
	line-height: 22px;
	padding: 2px;
}

.UIPollPortlet .UITopicPoll .UIForm .HorizontalLayout .UIFormGrid td.FieldComponent {
	padding: 4px 0px 0px 15px;
	line-height: 20px;
}

/******************************** ViewPollForm *******************************/
.UIPollPortlet .ViewPollForm {
	padding: 0px 15px;
}

.UIPollPortlet .ViewPollForm .UIGrid .Number {
	text-align: center;
}

.UIPollPortlet .ViewPollForm .TotalVotes {
	font-weight: bold;
	text-align: right;
	line-height: 22px;
}

.UIPollPortlet .ViewPollForm .Chart {
	float: left;
	height: 14px;
}

.UIPollPortlet .ViewPollForm .Percen {
	padding: 0px;
	margin: 0px;
	border: none;
	background: none;
	height: auto;
	width: 96% ;
}

.UIPollPortlet .ViewPollForm .Percentage {
	float: right;
	width: 28px;
	padding: 0px;
	margin: 0px 0px 0px 2px;
	border: none;
	background: none;
	line-height: 20px;
	height: auto;
}

.UIPollPortlet .ViewPollForm .BackgroudColor {
	padding: 2px 0px 0px 0px;
	margin: 0px;
	background: none;
	border: none;
	width: 100%;
	height: auto ;
}

.UIPollPortlet .ViewPollForm .UIAction {
	padding: 0px;
}

.UIPollPortlet .ParentMaskLayer {
	position:relative ;
	z-index:0;
}

.UIPollPortlet .KSMaskLayer {
	left:0px;	top:0px;
	z-index:5;
	position:absolute ;
	visibility:visible;
}

.UIPollPortlet .DeletePollIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat;
}

.UIPollPortlet .EditPollIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/EditIcon.gif') no-repeat;
}

.UIPollPortlet .ForumToolbar {
}

.UIPollPortlet .ForumToolbar .CollapseButton {
	float:right;
	width:16px; height:16px; 
	margin:5px 5px 0px 0px;
	cursor:pointer;
}

.UIPollPortlet .ForumToolbar .ExpandButton {
	float:right;
	width:16px; height:16px; 
	margin:5px 5px 0px 0px;
	cursor:pointer;
}

.UIPollPortlet a {
	color:#000000;
}

.UIPollPortlet a:hover {
	color:#058ee6;
}

.UIPollPortlet .ForumToolbar .Title {
	float:left;
	font-weight:bold;
	margin:6px 0px 0px 8px;
}

.UIPollPortlet .ForumToolbar .Title span {
	font-weight:normal;
}

.UIPollPortlet .ForumToolbar .ForumSeparatorLine {
	background:url(background/SeparatorLine2x19.gif) no-repeat;
	width:2px; height:19px;
	margin:3px;
}

.UIPollPortlet .ForumToolbar .LeftBar {
	background:url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left:3px;
	height:26px;
}

.UIPollPortlet .ForumToolbar .RightBar {
	background:url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right:3px;
	height:26px;
}

.UIPollPortlet .ForumToolbar .CenterBar {
	background:url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height:26px;
}































