@import url('popup/Stylesheet.css') ;
@import url('UIPoll/Stylesheet.css') ;

body, html, div, table, tr, td, img, form {
	font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
}

.UIPollPortlet .UIGrid {
	width: 100%;
}

.UIPollPortlet .UIPollContainer {
	padding: 10px;
}

.UIPollPortlet .UIPollManagement .Label {
	padding: 15px 0px 0px 10px;
}

.UIPollPortlet .UIPollManagement .SelectBoxInput {
	padding: 5px 15px;
}

.UIPollPortlet .UIPollManagement .selectbox {
	width: 275px;
}

.UIPollPortlet .Cursor {
  cursor:pointer;
}

.UIPollPortlet .FloatLeft {
  float:left;
}

.UIPollPortlet .FloatRight{
  float:right;
}

.UIPollPortlet .UIRightClickPopupMenu .FixHeight {
	height:0px;
	width:0px;
}

/******************************** ViewPollForm *******************************/
.UIPollPortlet .ViewPollForm {
	padding: 0px 15px;
}

.UIPollPortlet .ViewPollForm .UIGrid .Number {
	text-align: center;
}

.UIPollPortlet .ViewPollForm .TotalVotes {
	font-weight: bold;
	text-align: right;
	line-height: 22px;
}

.UIPollPortlet .ViewPollForm .Chart {
	float: left;
	height: 14px;
}

.UIPollPortlet .ViewPollForm .Percen {
	padding: 0px;
	margin: 0px;
	border: none;
	background: none;
	height: auto;
	width: 96% ;
}

.UIPollPortlet .ViewPollForm .Percentage {
	float: right;
	width: 28px;
	padding: 0px;
	margin: 0px 0px 0px 2px;
	border: none;
	background: none;
	line-height: 20px;
	height: auto;
}

.UIPollPortlet .ViewPollForm .BackgroudColor {
	padding: 2px 0px 0px 0px;
	margin: 0px;
	background: none;
	border: none;
	width: 100%;
	height: auto ;
}

.UIPollPortlet .ViewPollForm .UIAction {
	padding: 0px;
}

.UIPollPortlet .ParentMaskLayer {
	position:relative ;
	z-index:0;
}

.UIPollPortlet .KSMaskLayer {
	left:0px;	top:0px;
	z-index:5;
	position:absolute ;
	visibility:visible;
}

.UIPollPortlet .DeletePollIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat;
}

.UIPollPortlet .ForumToolbar {
}

.UIPollPortlet .ForumToolbar .CollapseButton {
	background: url('background/Collapser.gif') no-repeat ;
}

.UIPollPortlet .EditPollIcon {
	background:url("/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/EditIcon.gif") no-repeat;
}

.UIPollPortlet .ForumToolbar .IconRight {
	float:right;
	width:16px; height:16px; 
	margin:5px 5px 0px 0px;
	cursor:pointer;
}

.UIPollPortlet .ForumToolbar .ExpandButton {
	background: url('background/Expand.gif') no-repeat ;
}

.UIPollPortlet a {
	color:#000000;
}

.UIPollPortlet a:hover {
	color:#058ee6;
}

.UIPollPortlet .ForumToolbar .Title {
	float:left;
	font-weight:bold;
	margin:6px 0px 0px 8px;
}

.UIPollPortlet .ForumToolbar .Title span {
	font-weight:normal;
}

.UIPollPortlet .ForumToolbar .ForumSeparatorLine {
	background:url(background/SeparatorLine2x19.gif) no-repeat;
	width:2px; height:19px;
	margin:3px;
}

.UIPollPortlet .ForumToolbar .LeftBar {
	background:url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left:3px;
	height:26px;
}

.UIPollPortlet .ForumToolbar .RightBar {
	background:url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right:3px;
	height:26px;
}

.UIPollPortlet .ForumToolbar .CenterBar {
	background:url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height:26px;
}

.UIPollPortlet .EditPoll .AddPollIdIcon {
	float:left;
	height:16px;
	width:16px;
	margin: 3px 0px 0px 14px;
	background: url("/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCirclePlus.gif") no-repeat ;	
}

.UIPollPortlet .EditPoll {
	margin:auto;
	width:460px;
	padding-bottom: 5px;
}

.UIPollPortlet .EditPoll .ActionBar{
	margin:auto;
	width:180px;
}

.UIPollPortlet #m_pollId{
	width: 250px;
}

.UIPollPortlet .MenuPollId {
	border:1px solid gray;
	left:-4px;
	position:absolute;
	top:18px;
	width:230px;
}
}

.UIPollPortlet .MenuPollId .MenuItem {
	background: #EEFFF0;
	height:24px;
	line-height:24px;
	opacity:0.9;
	padding:5px 0 5px 10px;
	cursor:pointer;
}

.UIPollPortlet .MenuPollId .MenuItem a{
	color:#3E3E3E; 
}

.UIPollPortlet .MenuPollId .MenuItem a:hover{
	color:#058EE6; 
}






























