@import url('UIMoveCategoryForm/Stylesheet.css') ;

.UIFAQPortlet {
  padding: 5px; height: 400px;
  min-width: 940px;
  border: 1px solid #b7b7b7;
}

.UIFAQPortlet .UIBreadcumbs {
  padding:0px ;
}

.UIFAQPortlet .UIBreadcumbs .OpenIcon {
  float: left;
  background: url('background/FAQPortlet.gif') no-repeat left -243px;
  width: 16px; height: 14px;
  margin: 8px 8px 0px 8px;
}

.UIFAQPortlet .UIBreadcumbs .Selected {
  float: left;
  font-weight: boldd;
}

.UIFAQPortlet .UIBreadcumbs .BreadcumbsInfoBar {
	line-height: 29px;
	overflow: auto;
}

.UIFAQPortlet .UICategoriesSummary {
  margin: 5px;
}

.UIFAQPortlet .FAQIcon {
  background: url('background/FAQPortlet.gif') no-repeat left -465px;
  padding-left: 28px;
  height: 18px;
  line-height: 18px;
  margin: 8px 0px;
  white-space: nowrap;
}
/**************************** UIForumPortlet ForumToolBar *********************************/
.UIFAQPortlet .UIQuestions {
  margin-top: 5px;
}

.UIFAQPortlet .FAQToolbar {
  height: 28px;
  _width: 99.7%;
}

.UIFAQPortlet a {
  color: #000000;
}

.UIFAQPortlet a:hover {
  color: #058ee6;
}

.UIFAQPortlet .FAQToolbar .Title {
  float: left;
  font-weight: bold;
  margin: 6px 0px 0px 8px;
}

.UIFAQPortlet .FAQToolbar .SeparatorLine {
  float: left;
  background: url(background/FAQPortlet.gif) no-repeat left -188px;
  width: 2px; height: 22px;
  margin: 3px;
}

.UIFAQPortlet .FAQToolbar .LeftBar {
  background: url('background/FAQPortlet.gif') no-repeat left -29px;
  padding-left: 3px;
}

.UIFAQPortlet .FAQToolbar .RightBar {
  background: url('background/FAQPortlet.gif') no-repeat right -29px;
  padding-right: 3px;
}

.UIFAQPortlet .FAQToolbar .CenterBar {
  background: url('background/FAQPortlet.gif') repeat-x top;
  height: 28px;
}

.UIFAQPortlet .FAQToolbar .UIPopupCategory {
  left: 0px;
  position: absolute;
  top: 24px;
  width: auto;
  z-index: 100;
}

.UIFAQPortlet .FAQToolbar .UIRightClickPopupMenu {
  width:175px;
}

.UIFAQPortlet .FAQToolbar .UIRightClickPopupMenu .LineMenu {
  width:150px;
  margin: 4px auto;
  border-top: solid 1px #7b7b7b;
}

.UIFAQPortlet .FAQToolbar .UIRightClickPopupMenu {
  min-width:190px;
  white-space: nowrap;
}

.UIFAQPortlet .FAQToolbar .ControlbarCotainer {
  float: left;
}

.UIFAQPortlet .FAQToolbar .SearchForm {
  float: right;
  width: 260px;
  padding-right: 10px;
}

.UIFAQPortlet .FAQToolbar .SearchForm .SearchIcon {
  background: url('background/FAQPortlet.gif') no-repeat left -210px;
  float: right;
  height:16px;
  margin:6px 3px 0px 3px;
  width:16px;
  cursor: pointer;
}

.UIFAQPortlet .FAQToolbar .SearchForm .AdvancedSearch {
  background: url('background/FAQPortlet.gif') no-repeat left -226px;
  float:right;
  height:16px;
  margin:6px 3px 0px 3px;
  width:19px;
  cursor: pointer;
}

.UIFAQPortlet .UISearchForm input {
  float:right;
  margin:4px 5px 0px 5px;
  width:150px;
  height: 13px;
}

/******************************  OverButton  ***************************************/
.UIFAQPortlet .DefaultStyle {
  background: none;
  float: left;
  margin: 3px 3px 0px 3px; 
}

.UIFAQPortlet .DefaultStyle .LeftOverButton {
  padding-left: 5px;
}

.UIFAQPortlet .DefaultStyle .RightOverButton {
  padding-right: 5px;
}

.UIFAQPortlet .DefaultStyle .CenterOverButton {
  padding-left: 3px;
}
/*FAQAction*/
.UIFAQPortlet .FAQBar {
  background: none;
  height: 22px;
}

.UIFAQPortlet .FAQBarAction .LeftOverButton {
  background: url('background/FAQPortlet.gif') no-repeat left -440px;
}

.UIFAQPortlet .FAQBarAction .RightOverButton {
  background: url('background/FAQPortlet.gif') no-repeat right -440px;
}

.UIFAQPortlet .FAQBarAction .CenterOverButton {
  background: url('background/FAQPortlet.gif') repeat-x center -417px;
  line-height: 22px;
}

/******************************  FAQContent  ***************************************/

.UIFAQPortlet .FAQContainer {
  border: 1px solid #c7c7c7;
  border-top: 0px;
  overflow: auto;
  height: 300px; 
  _width: 99.5%;
}

.UIFAQPortlet .HorizontalLayout {
  background-color:#F3F3F3;
	border:1px solid #C7C7C7;
	margin:10px;
	padding:10px;
}

.UIFAQPortlet .FAQContainer .FAQContent {
  padding: 8px;
}

.UIFAQPortlet .LockFunction {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
}

.UIFAQPortlet .FAQContainer .FAQContent .FAQCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -465px;
  padding-left: 28px;
  height: 18px;
  line-height: 18px;
  margin: 8px 0px;
  white-space: nowrap;
}

.UIFAQPortlet .UIQuestions .FAQContainer .UIFAQPopupCategory {
  left: 40px;
  position: absolute;
  top: 15px;
  width: auto;
  z-index: 100;
}

.UIFAQPortlet .FAQContainer .FAQContent .FAQCategory .UIContextMenuContainer .LineMenu {
  width:150px;
  margin: 4px auto;
  border-top: solid 1px #7b7b7b;
}

.UIFAQPortlet .FAQContainer .FAQContent .Sup-Title {
  font-weight: bold;
}

/******************************  UIFAQ Sup-Category  ***************************************/

.UIFAQPortlet .UIFAQSupCategory{
  margin: 5px;
}


.UIFAQPortlet .FAQContainer .FAQContent .Sup-Icon {
  background: url('background/FAQPortlet.gif') no-repeat left -166px;
  padding-left: 28px;
  height: 18px;
  line-height: 18px;
  margin: 8px 0px;
  white-space: nowrap;
}

.UIFAQPortlet .FAQContainer .FAQContent .Question {
  background: url('background/questionIcon.PNG') no-repeat left 0px;
  height: 16px ; width: 28px;
  float: left;
}

.UIFAQPortlet .FAQContainer .FAQContent .NotResponse {
  background: url('background/NotResponse.gif') no-repeat left 0px;
  height: 16px ; width: 28px;
  float: left;
}

.UIFAQPortlet .NotApproved {
  background:transparent url(background/question_not_approved.gif) no-repeat left center;
  width: 16px;
  height: 18px;
  float: left;
}

.UIFAQPortlet .QuestionContainer {
  margin: 8px 0px;
}


.UIFAQPortlet .ViewQuestionNotApproved {
  display:table-cell;
  float: left;
  line-height:18px;
  padding-right: 5px ;
  white-space:normal;
  max-width: 95%;
}

.UIFAQPortlet .FAQContainer .FAQContent .questionTitle {
  max-width: 800px ;
  z-index: 5 ;
  display: none ;
  border:1px solid #7E7E7F;
  background:#F6F6F6 none repeat scroll 0%;
	margin:1px;
	padding:5px 5px 2px 5px;
	margin-top: 5px ;
	white-space:normal;
	position:absolute;
}

.UIFAQPortlet .FAQContainer .FAQContent .Question-Title {
  color: #1555b5;
}

.UIFAQPortlet .FAQContainer .FAQContent .categoryTitle {
  max-width: 800px ;
  z-index: 10 ;
  display: none ;
  border:1px solid #7E7E7F;
  background:#F6F6F6 none repeat scroll 0%;
	margin:1px;
	padding:5px 5px 2px 5px;
	margin-top: 5px ;
	white-space:normal;
	position:absolute;
}
/******************************  Response  ***************************************/

.UIFAQPortlet .FAQContainer .FAQContent .ResponseContent {
  padding: 0px 8px 8px 26px;
}

.UIFAQPortlet .FAQContainer .FAQContent .Response {
  background: url('background/DotLine.gif') repeat-x bottom;
  padding-bottom: 4px;
  padding-left: 10px ;
}

.UIFAQPortlet .ResponseContent .Response {
  background: url('background/DotLine.gif') repeat-x bottom;
  padding-bottom: 4px;
  padding-left: 10px ;
}

.UIFAQPortlet .ResponseContent .AttachmentContent {
  background: url('background/DotLine.gif') repeat-x bottom;
  padding-bottom: 4px;
  padding-left: 10px ;
}

.UIFAQPortlet .ResponseContent .RelatedQuestions {
  background: url('background/DotLine.gif') repeat-x bottom;
  padding: 4px 0px;
  padding-left: 10px ;
}

.UIFAQPortlet .ResponseContent .ResponsActions {
  border-bottom: 1px solid #c7c7c7;
  padding: 4px 0px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .AttachmentBox {
  float: left;
  padding: 10px 10px 0px 10px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .LabelBox {
  float: left;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Image {
  float: left;
  margin: 0px 10px 0px 0px;
  width: 100px; height: 100px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .AttachmentIcon {
  float:left;
  height:20px;
  width:20px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .AttachmentLabel {
  color:#1555B5;
  float:left;
  font-weight:bold;
  line-height:20px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Action {
  padding-top:50px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Action .View {
  background: url('background/FAQPortlet.gif') no-repeat left -729px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Action .Icon {
  cursor:pointer;
  float:left;
  line-height:20px;
  margin-right:10px;
  padding-left:20px;
}

.UIFAQPortlet .ResponseContent .AttachmentContent .Download {
  background: url('background/FAQPortlet.gif') no-repeat left -752px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UIAction {
  float: right;
  margin: 0px;
  width: 500px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UserResponse {
  float: left;
  padding: 8px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UIAction .ActionContainer {
  margin: 0px;
}

.UIFAQPortlet .ResponseContent .ResponsActions .UIAction .IconButton {
  line-height: 22px;
  padding-left: 20px;
}

/******************************  UI Add  ***************************************/

.UIFAQPortlet .UIAddCategory {
  padding: 8px;
  border: 1px solid #c7c7c7;
  background: #f7f7f7;
}

.UIFAQPortlet .UIAddquestion {
  padding: 8px;
  border: 1px solid #c7c7c7;
}

.UIFAQPortlet .UIFormUploadInput input{
  width: auto;
}

.UIFAQPortlet .LanguageQuestion {
  background: url('background/FAQPortlet.gif') repeat-x center -838px;
  border: 1px solid #7f9db9;
  border-bottom: none;
  height: 28px;
  line-height: 28px ;
  font-weight: bold;
  padding-left: 8px;
  margin-top: 4px;
  width: 394px;
  _width: 396px;
}

.UIFAQPortlet .AddLanguage .LanguageTitle {
  float: left;
  padding:6px 0px 0px 12px;
}

.UIFAQPortlet .AddLanguage .UIAction {
  float: right;
  width: 140px;
  padding: 3px 0px 0px 0px;
}

.UIFAQPortlet .SelectUserIcon {
  background: url('background/Worker.gif') no-repeat left ;
  width: 16px; height: 16px;
}

.UIFAQPortlet .SelectGroupIcon {
  background: url('background/group.png') no-repeat left ;
  width: 16px; height: 16px;
}

.UIFAQPortlet .SelectMemberShipIcon {
  background: url('background/membership.png') no-repeat left ;
  width: 16px; height: 16px;
}

.UIFAQPortlet .UISettingForm {
  padding:8px;
}

.UIFAQPortlet .UIPopupViewQuestion {
	padding: 8px;
}

.UIFAQPortlet .UIPopupViewQuestion .ViewQuestion {
	padding-left: 20px;
	background-color: #EFEFEF;
}

.UIFAQPortlet .ResultSearchCategory {
	padding: 2px;
}

.UIFAQPortlet .ResultSearchCategory .TitleMoveThreads {
	line-height: 30px;
	padding-left: 1px;
	font-weight:bold;
}

.UIFAQPortlet .ResultSearchQuestion {
	padding: 2px;
}

.UIFAQPortlet .ResultSearchQuestion .TitleMoveThreads {
	line-height: 30px;
	padding-left: 1px;
	font-weight:bold;
}

.UIFAQPortlet .ResultQuickSearch {
	padding: 2px;
}

.UIFAQPortlet .UIResultContainer .UIGrid {
	width: 97%;
	margin: auto;
}

.UIFAQPortlet .ResultQuickSearch .TitleMoveThreads {
	line-height: 30px;
	padding-left: 1px;
	font-weight:bold;
}

#xEditingArea(height: 200px;)

.UIFAQPortlet .UIWatchManager {
	padding: 2px;
}

.UIFAQPortlet .UIWatchManager .UIGrid {
	width: 97%;
	margin: auto;
}
/******************************   Search  ***************************************/

.UIFAQPortlet .UIAdvanceSearch {
  padding: 8px;
  border: 1px solid #c7c7c7;
}

.UIFAQPortlet .UIAdvanceSearch .SearchContent .HorizontalLayout {
  padding: 8px;
  background: #ffffff;
  border-top: 0px;
}

.UIFAQPortlet .FAQUIQuestionInfo .HorizontalLayout {
  padding: 0px;
  margin: 0px;
  border-top: 0px;
}

/******************************  UISenToFriend  ***************************************/

.UIFAQPortlet .UISendMailForm {
  padding: 8px;
  background: #ffffff;
  border-top: 0px;
}

.UIFAQPortlet .UISendMailForm input{
  width: 500px ;
}

.UIFAQPortlet .UISendMailForm #Message___Frame{
  width: 500px ;
  height: 300px;
}

.UIFAQPortlet .UISendMailForm #To{
  width: 400px ;
}

.UIFAQPortlet .UISendMailForm #FAQSelectCateList{
  width: 150px ;
}

/******************************  UIFAQPageIterator  ***************************************/
.UIFAQPageIterator {    
  float:right;
  margin: 0px ;
  width: 420px;
  padding: 3px 0px 0px 0px ;
}

.UIFAQPageIterator .PageIteratorContainer {    
  float: right ;
  overflow: hidden ; 
  padding: 3px;
}

.UIFAQPageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  line-height: 18px ; 
  float: right ;
  margin-right: 15px;
}

.UIFAQPageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ;
}

.UIFAQPageIterator .Icon {
  float: left ;
  margin: 0px 2px 0px 0px ;
  width: 18px ; height: 17px ;
}

.UIFAQPageIterator .TotalPages {
  float: left ;
  line-height: 16px ; 
}

.UIFAQPageIterator .PagesTotalNumber {
  float: left ;
  line-height: 17px ; 
  color: #0183f1;
  margin-left: 5px;
}

.UIFAQPageIterator .Number {
  float: left ;
  text-align: center;
  margin: 0px 2px 0px 0px;
  line-height: 17px;
  width: 15px ;
}

.UIFAQPageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('background/FAQPortlet.gif') no-repeat left -910px;
  cursor: pointer ;
}

.UIFAQPageIterator .NextTopPageIcon {
   background: url('background/FAQPortlet.gif') no-repeat left -927px;
  cursor: pointer ;
}

.UIFAQPageIterator .LastPageIcon {
   background: url('background/FAQPortlet.gif') no-repeat left -943px;
  cursor: pointer ; 
}

.UIFAQPageIterator .NextPageIcon {
   background: url('background/FAQPortlet.gif') no-repeat left -960px;
  cursor: pointer ;
}

.UIFAQPageIterator .DisableLastTopPageIcon {
  vertical-align: middle ;
   background: url('background/FAQPortlet.gif') no-repeat left -978px;
}

.UIFAQPageIterator .DisableNextTopPageIcon {
   background: url('background/FAQPortlet.gif') no-repeat left -995px;
}

.UIFAQPageIterator .DisableLastPageIcon {
   background: url('background/FAQPortlet.gif') no-repeat left -1012px;
}

.UIFAQPageIterator .DisableNextPageIcon {
   background: url('background/FAQPortlet.gif') no-repeat left -1029px;
}

/******************************  UI AddNew/Edit Question  ***************************************/

.UIFAQPortlet .UIQuestionForm textarea {
	font-size:11px;
	height:150px;
	width:400px;
	float:left ;
	margin-top: 0px;
}

.UIFAQPortlet .ViewAttachFile {
	line-height: 18px;
	margin: 0px 0px 3px 5px; 
	white-space:normal; 
}

.UIFAQPortlet .ViewFormAttachment {
	background-color:#F3F3F3;
	border:1px solid #C7C7C7;
	margin:5px;
	padding:5px; 
	max-width: 100% ;
}

.UIFAQPortlet .FileAttachment {
	float: left; 
	width: 100%; 
	padding-bottom:5px; 
	white-space:normal; 
}

/******************************  UIResponseQuestion  ***************************************/
.UIFAQPortlet .UIResponseForm textarea {
	font-size:11px;
	height:150px;
	width:530px;
}

/******************************  UIRAddRelationForm  ***************************************/
.UIFAQPortlet .ViewQuestionsToSelect{
	margin: 10px 10px 10px 10px;
	background-color:#F3F3F3; 
	padding-bottom: 5px;
	max-height: 400px;
	overflow: auto;
	_height: 400px;
}

/******************************  UIQuestinoManager  ***************************************/
.UIFAQPortlet .ResponseForm textarea {
	font-size:11px;
	height:150px;
	width:530px;
}

/******************************  UIQuestionsInfo  ***************************************/
.UITabPane .UITabContentContainer .UIIETabContent {
	_padding: 15px 7px 30px;
}

/******************************  Icon  ***************************************/

.UIFAQPortlet .FAQToolbar .Icon {
  padding:0px 2px 0px 26px;
  line-height: 22px;
}

.UIFAQPortlet .FAQToolbar .AddCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -58px;
}

.UIFAQPortlet .FAQToolbar .ShowQuestions {
  background: url('background/FAQPortlet.gif') no-repeat left -80px;
}

.UIFAQPortlet .FAQToolbar .Setting {
  background: url('background/FAQPortlet.gif') no-repeat left -102px;
}

.UIFAQPortlet .FAQToolbar .Print {
  background: url('background/FAQPortlet.gif') no-repeat left -122px;
}

.UIFAQPortlet .FAQToolbar .Rss {
  background: url('background/FAQPortlet.gif') no-repeat left -143px;
}

.UIFAQPortlet .FAQToolbar .SubCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -58px;
}

.UIFAQPortlet .FAQToolbar .AddQuestion {
  background: url('background/FAQPortlet.gif') no-repeat left -510px;
}

.UIFAQPortlet .Langguage {
  background: url('background/FAQPortlet.gif') no-repeat left -800px;
  height: 12px;
  width: 12px;
}

.UIFAQPortlet .AddCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -57px;
}

.UIFAQPortlet .ActionsPrint {
  background: url('background/FAQPortlet.gif') no-repeat left -685px;
}

.UIFAQPortlet .ActionsEdit {
  background: url('background/FAQPortlet.gif') no-repeat left -619px;
}

.UIFAQPortlet .ActionsDelete {
  background: url('background/FAQPortlet.gif') no-repeat left -642px;
}

.UIFAQPortlet .SendToFriend {
  background: url('background/FAQPortlet.gif') no-repeat left -707px;
}

.UIFAQPortlet .EditCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -258px;
}

.UIFAQPortlet .DeleteCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -279px;
}

.UIFAQPortlet .MoveCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -302px;
}

.UIFAQPortlet .AddNewQuestion {
  background: url('background/FAQPortlet.gif') no-repeat left -508px;
}

.UIFAQPortlet .MoveDown {
  background: url('background/FAQPortlet.gif') no-repeat left -325px;
}

.UIFAQPortlet .MoveUp {
  background: url('background/FAQPortlet.gif') no-repeat left -346px;
}

.UIFAQPortlet .Setting {
  background: url('background/FAQPortlet.gif') no-repeat left -368px;
}

.UIFAQPortlet .Watch {
  background: url('background/FAQPortlet.gif') no-repeat left -391px;
}

.UIFAQPortlet .EditSubCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -258px;
}

.UIFAQPortlet .DeleteSupCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -551px;
}

.UIFAQPortlet .MoveSupCategory {
  background: url('background/FAQPortlet.gif') no-repeat left -572px;
}

.UIFAQPortlet .ResponseQuestion {
  background: url('background/FAQPortlet.gif') no-repeat left -595px;
}

.UIFAQPortlet .MoveQuestion {
  background: url('background/FAQPortlet.gif') no-repeat left -660px;
}

.UIFAQPortlet .Edit {
  background: url('background/FAQPortlet.gif') no-repeat left -616px;
}

.UIFAQPortlet .Delete {
  background: url('background/FAQPortlet.gif') no-repeat left -638px;
}

.UIFAQPortlet .Print {
  background: url('background/FAQPortlet.gif') no-repeat left -682px;
}

.UIFAQPortlet .FAQToolbar .ShowQuestionNotYetAnswer {
  background: url('background/FAQPortlet.gif') no-repeat left -80px;
}

.UIFAQPortlet .QuestionManagament {
  background: url('background/FAQPortlet.gif') no-repeat left -872px;
}

.UIFAQPortlet .QuestionIcon {
  background:transparent url(background/FAQPortlet.gif) no-repeat scroll left -818px;
  width: 16px; height: 16px;
}

.UIFAQPortlet .CategoryIcon {
  background:transparent url(background/FAQPortlet.gif) no-repeat scroll left -466px;
  width: 17px; height: 17px;
}

.FAQCategoryViewMove {
  float: left;
  background: url('background/FAQPortlet.gif') no-repeat left -465px;
  height:18px;
  width:18px;
  margin-left: 5px;
  margin-right: 5px ;
}

.FAQCategoryView {
  background: url('background/FAQPortlet.gif') no-repeat left -465px;
  line-height:18px;
  margin: 5px 0px 5px 8px;
  padding-left: 25px;
}

.FAQCategoryTreeView {
  background: url('background/categoryIcon.PNG') no-repeat left 0px;
  line-height:18px;
  margin: 5px 0px 5px 8px;
  padding-left: 25px;
}

.FAQQuestionView {
  float: left;
  background: url('background/FAQPortlet.gif') no-repeat left -818px;
  padding-left: 18px;
  height: 18px;
  margin: 8px 0px;
  margin-right: 5px ;
}

.UIFAQPortlet .Send {
  background: url('background/FAQPortlet.gif') no-repeat left -706px;
}
.AddRelation {
  background: url('background/AddIcon.gif') no-repeat left top;
  height:16px;
  width:16px;
  float: left;
}

.UIFAQPortlet .UIQuestionManagerForm .ItemIcon {
  height:24px;
  width:24px;
}

.UIFAQPortlet .CheckIcon {
  background: url('background/icon.png') no-repeat left;
  height:16px;
  width:16px;
}

.UIFAQPortlet .TrueIcon {
	background:transparent url(background/FAQPortlet.gif) no-repeat scroll left -797px;
	line-height:16px;
	margin-left:15px;
	padding-right:15px;
}

.UIFAQPortlet .LanguageSelectIcon {
  background: url('background/FAQPortlet.gif') no-repeat left -792px;
  line-height:16px;
	padding-right:15px;;
}

.UIFAQPortlet .FalseIcon {
  background: url('background/FAQPortlet.gif') no-repeat left -893px;
  line-height:16px;
	margin-left:15px;
	padding-right:15px;
}

.UIPrintPreview {
	background: white ;
	height: 100% ;
}

.UIPrintPreview .FAQContainer {
	border: 1px solid #c7c7c7;
	height: auto;
}

.UIPrintPreview .FAQContainer .FAQContent{
	height: auto;
}

.UIPrintPreview .FAQContainer .DefaultAction {
	display:none ;
}

.UIFAQPortlet .BoxLanguageMenu {
  position: relative;
  border: 0px ;
}

.UIFAQPortlet .UILanguageMenu {
  left: 4px ;
  top: 0px ;
}

.UIFAQPortlet .MaxView {
	background: url('background/ViewIcon.gif') no-repeat left center;
}

.UIFAQPortlet .JPGIcon {
	background: url('background/JPGIcon.gif') no-repeat left center;
}

.UIFAQPortlet .FileAttachmentIcon {
	background: url('background/AttachmentIcon.gif') no-repeat left top;
	padding-left: 20px;
}

.UIFAQPortlet .WatchManager {
	background: url('background/FAQYey.gif') no-repeat right bottom;
	padding: 10px 14px 0px 4px;
}

.UIFAQPortlet .EditWatchIcon {
	background: url('background/EditWatch.gif') no-repeat left center;
	width: 16px ;
	height: 16px;
	margin: 0px 3px;
}

.UIFAQPortlet .DeleteWatchIcon {
	background: url('background/DeleteWatch.gif') no-repeat left center;
	width: 16px;
	height: 16px;
	margin: 0px 3px;
}

.UIFAQPortlet .LinkWatchIcon {
	background: url(background/FAQPortlet.gif) no-repeat scroll left -466px;
	height:17px;
	width:17px;
	margin: 0px 3px;
	padding-top: 3px;
}

.UIPrintPreview .AttachmentContent .LabelBox .Action{
  display:none;
}

.UIFAQPortlet .ResponseContent .RelatedQuestionsView {
  background: url('background/DotLine.gif') repeat-x bottom;
  padding: 4px 0px;
}

/******************************  Icon in search result  ***************************************/

.UIFAQPortlet .NotResponseSearch {
  background: url('background/NotResponse.gif') no-repeat left center;
  padding-left: 28px;
  line-height: 18px;
  margin-top:4px;
  height: 18px ;
}

.UIFAQPortlet .QuestionSearch {
  background: url('background/questionIcon.PNG') no-repeat left center;
  padding-left: 28px;
  line-height: 18px;
  margin: 4px 0px;
  height: 18px ;
}

.UIFAQPortlet .FAQCategorySearch {
  background: url('background/FAQPortlet.gif') no-repeat left -465px;
  padding-left: 28px;
  height: 18px;
  line-height: 18px;
  margin: 4px 0px;
}

.UIFAQPortlet .SubCategoryForm .UIFormGrid {
  width: 100%;
}

.UIFAQPortlet .SubCategoryForm .UIFormGrid .UIFormGrid {
  width: auto;
}

.UIFAQPortlet .UICategoryForm .UIFormGrid {
  width: 100%;
}

.UIFAQPortlet .UICategoryForm .UIFormGrid .UIFormGrid {
  width: auto;
}

.UIFAQPortlet .UIAttachMentForm .SelectFileFrame {
  margin: 0px;
}

.UIFAQPortlet .UIRightClickPopupMenu .ItemIcon {
	line-height: 16px;
}