.UIWikiPageEditForm .ActionContainer {
	padding: 6px 0px;
}

.UIWikiPageEditForm .UIEditorTabs {
	float: left;
	height: auto;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
	padding: 6px 0px 6px 2px;
}

.UIWikiPageEditForm .UIEditorTabs .RichText {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 4px -239px;
}

.UIWikiPageEditForm .UIEditorTabs .Help {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 4px -215px;
}

.UIWikiPageEditForm .UIEditorTabs .SourceEditor {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 5px -27px;
}

.UIWikiPageEditForm .UIEditorTabs .PreviewPage {
	background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat 3px -192px;
}
