.UIForumPortlet {
	padding-top: 1px;
	background: #ffffff;
}

*+html .UIForumPortlet {
	height: 470px;
}

.UIMaskWorkspace .UIForumPortlet {
	min-height: 10px;
	padding: 0px;
	background: white;
	margin: 0px;
}

.UIMaskWorkspace .UIForumPortlet .UIMoveTopicForm {
	padding: 0px 10px;
}

.UIMaskWorkspace .UIForumPortlet .UIMovePostForm .UITree {
	height: 215px;
}

.UIMaskWorkspace .UIForumPortlet .UIMovePostForm .NodeLabel {
	line-height: 20px;
}
/**************************** UIQuickSearchForm **************************/
.UIForumPortlet .UIQuickSearchForm .SearchForm {
	padding: 2px 10px 0px 0px;
}

.UIForumPortlet .UIQuickSearchForm .Label {
	float: right;
	line-height: 20px;
	margin: 2px 0px;
	color: #595b6a;
}

.UIForumPortlet .UIQuickSearchForm .Input {
	margin: 0px 8px 0px 10px;
	float: right;
}

.UIForumPortlet .UIQuickSearchForm .Input input {
	width: 130px;
	height: 15px;
}

.UIForumPortlet .UIQuickSearchForm .Search {
	background: url('icons/16x16/SearchIcon.gif') no-repeat;
	height: 16px;
	width: 16px;
	float: right;
	cursor: pointer;
	margin: 3px 5px 0px 0px;
}

.UIForumPortlet .UIQuickSearchForm .AdvancedSearch {
	background: url('icons/16x16/FindIcon.gif') no-repeat;
	height: 16px;
	width: 16px;
	float: right;
	cursor: pointer;
	margin: 3px 0px 0px 2px;
}

.UIForumPortlet .UIQuickSearchForm .ForumSeparatorLine {
	float: right;
	margin: -3px 7px;
}

.UIForumPortlet .AdvancedSearchIcon {
	background: url('icons/16x16/FindIcon.gif') no-repeat left center;
	cursor: pointer;
}
/******************************************** UIBreadcumbs ****************************************/
.UIForumPortlet .UIBreadcumbs {
	background: #f6f6f6;
	border: 1px solid #e2e2e2;
	padding: 0px 15px 0px 10px;
	margin: 10px 10px;
	height: 28px;
}

.UIForumPortlet .UIBreadcumbs .CenterBreadcumbs {
	height: 28px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar {
	float: left;
	background: none;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .OpenIcon {
	float: left;
	background: url('icons/24x24/OpenFolder.gif') no-repeat;
	width: 24px;
	height: 24px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar a.Selected {
	float: left;
	color: #1e1f21;
	font-weight: bold;
	padding: 0px 5px;
	line-height: 25px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .Selected {
	float: left;
	color: #1e1f21;
	padding: 0px 5px;
	line-height: 25px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .RightArrowIcon {
	float: left;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat;
	width: 16px;
	height: 16px;
	margin: 6px 0px 0px 0px;
}

.UIForumPortlet .UIBreadcumbs .RSSBar {
	float: right;
}

.UIForumPortlet .UIBreadcumbs .RSSBar .ForumSeparatorLine {
	background: url('background/SeparatorLine2x27.gif') no-repeat left;
	padding-left: 7px;
	white-space: nowrap;
}

.UIForumPortlet .UIBreadcumbs .RSSBar .RSSIcon {
	padding: 0px 0px 0px 28px;
	line-height: 25px;
	background: url('icons/16x16/RSSIcon.gif') no-repeat left;
}

.UIForumPortlet .UIBreadcumbs .ShareLink a:hover {
	text-decoration: underline;
	color: #058EE6;
}

.UIForumPortlet .UIBreadcumbs .ShareLink a {
	line-height: 24px;
	cursor: pointer;
	color: #000000;
}
/******************************************** UIForumActionBar ****************************************/
.UIForumPortlet .UIForumActionBar {
	background: #ffffff;
	border: 1px solid #cccccc;
	margin: 7px 10px;
	padding: 2px 5px;
	zoom: 1;
}

.UIForumPortlet .UIForumActionBar a:hover {
	color: #0053a7;
}

.UIForumPortlet .UIForumActionBar .Icon {
	padding: 0px 2px 0px 26px;
	background-position: left center;
	white-space: nowrap;
}

.UIForumPortlet .UIForumActionBar .SeparatorLineForum {
	background: url('background/SeparatorLineToolbar1x27.gif') no-repeat right center;
	height: 25px;
	margin: 0px 2px;
	padding: 0 10px 0 5px;
}

.UIForumPortlet .UIForumActionBar #OpenBookMark.SeparatorLineForum {
	background: none;
}

.UIForumPortlet .UIForumActionBar .RightLine {
	float: right;
}

.UIForumPortlet .UIForumActionBar .AddCategory {
	background: url('icons/24x24/AddCategory.gif') no-repeat left center;
}

.UIForumPortlet .UIForumActionBar .DefaultStyle .DisableAction {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.UIForumPortlet .ToolbarActionsTag {
	float: right;
	margin: 2px 6px 0px 0px;
	cursor: pointer;
}

/******************************************** UIForumDescription ****************************************/
.UIForumPortlet .UIForumDescription {
	border: 1px solid #cdcdcd;
	line-height: 16px;
	padding: 7px 10px;
	margin: 0px 0px 10px 0px;
	zoom: 1;
}

.UIForumPortlet .UIForumDescription .ForumLabel {
	color: #373737;
	font-size: 12px;
}

.UIForumPortlet .UIForumDescription .NameForum {
	color: #373737;
	font-size: 12px;
	font-weight: bold;
}

.UIForumPortlet .UIForumDescription .Description {
	color: #5a5a5a;
	padding: 0px 5px;
}

/******************************************** ForumContains ****************************************/
.UIForumPortlet .ForumContains {
	line-height: 42px;
	padding: 0px 0px 0px 15px;
}

.UIForumPortlet .UIForumIconState {
	border: 1px solid #cdcdcd;
	margin: 10px 0px;
}

.UIForumPortlet .ForumContains .IconPost {
	float: left;
	padding: 0px 31px;
	font-size: 12px;
	background-position: left center;
}

.UIForumPortlet .ForumContains .IconForum {
	float: left;
	padding: 0px 30px;
	background-position: left center;
}

/*=============================Content UICategoriesSummary====================*/
.UIForumPortlet .UICategoriesSummary {
	padding: 3px 10px;
}

.UIForumPortlet .ContentContainer .UserIcon {
	background: url('icons/24x24/UserIcon.gif') no-repeat;
	width: 24px;
	height: 22px;
	margin: 0px 4px;
}

.UIForumPortlet .ContentContainer .ChartIcon {
	background: url('icons/24x24/ChartIcon.gif') no-repeat;
	width: 24px;
	height: 22px;
	margin: 0px 4px;
}

.UIForumPortlet .ContentContainer {
	border: 1px solid #d1d3db;
	zoom: 1;
}

.UIForumPortlet .UICategoryInfo .ContentContainer {
	border-top: solid 1px #b7b7b7;
	padding-top: 1px;
}

*+html .UIForumPortlet .UICategoryInfo .ContentContainer {
	border-top: none;
	padding-top: 0px;
}

.UIForumPortlet .ContentContainer .ForumStatsList a {
	color: #058ee6;
}

.UIForumPortlet .ContentContainer .ForumStatusIcon {
	width: 24px;
	height: 24px;
	margin: auto;
}

.UIForumPortlet .ContentContainer .ForumTitle {
	font-weight: bold;
	padding-bottom: 4px;
	color: #204AA0;
}

.UIForumPortlet .ContentContainer .LastPostTitle {
	float: left;
	font-weight: bold;
	color: #204aa0;
	line-height: 18px;
}

.UIForumPortlet .ContentContainer .LastPostIcon {
	float: left;
	width: 18px;
	height: 18px;
}

.UIForumPortlet .ContentContainer .ForumQuantity {
	font-weight: normal;
	color: black;
	cursor: default;
}

.UIForumPortlet .ContentContainer .ModeratorContent {
	float: left;
	padding: 2px 8px 0px 0px;
}

.UIForumPortlet .ContentContainer .EmoticonsIcon {
	line-height: 18px;
	margin: 0px 4px;
	white-space: nowrap;
	font-weight: bold;
	padding-left: 20px;
}

.UIForumPortlet .ContentContainer .ForumDescription {
	line-height: 14px;
}

.UIForumPortlet .ContentContainer .LastPostInfos {
	line-height: 16px;
}

.UIForumPortlet .ContentContainer .LastPostInfos .LastPostCategory {
	display: none;
	left: 2px;
	top: 2px;
	width: auto;
	position: relative;
}

.UIForumPortlet .ContentContainer .PostBy {
	color: #038ee6;
}

.UIForumPortlet .ContentContainer .UITopicList .TagIcon {
	background-position: left center;
	padding: 5px 0 5px 22px;
	white-space: nowrap;
}

.UIForumPortlet .SelectFileFrame {
	white-space: normal;
	width: 300px;
}

.UIForumPortlet .ButtomAndPageListContainer {
	height: 24px;
	padding-top: 4px;
	margin: 5px 0;
}

.UIListTopicOld .UITopicList .IconContent {
	margin: auto;
	overflow: auto;
	width: 55px;
}

/*============================= BBCode====================*/
.UIForumPortlet .QuoteContent {
	padding: 10px;
}

.UIForumPortlet .Classquote {
	background: #ededf7;
	border: 1px solid #d8d8d8;
	padding: 6px 6px 6px 15px;
	margin: 2px 0px;
}

.UIForumPortlet .ClassCode {
	background: #ededed;
	border: 1px inset #7b7b7b;
	margin: 5px;
	overflow: auto;
}

.UIForumPortlet .ClassCode pre {
	padding: 5px;
}

.UIForumPortlet .highlight {
	font-weight: bold;
	color: blue;
}

.UIForumPortlet .IconBBCodeHelp {
	padding: 2px 8px;
	margin: 0px 0px 0px 5px;
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: inline;
	position: absolute;
}

.UIForumPortlet .UIBBCodeHelpPopup {
	position: absolute;
	bottom: 0px;
}

.UIForumPortlet .LeftBBCodeHelpPopup {
	position: absolute;
	top: -10px;
	z-index: 100;
}

.UIForumPortlet .RightBBCodeHelpPopup {
	position: absolute;
	top: -10px;
	z-index: 100;
}

.UIForumPortlet .LeftBBCodeHelpPopup .LeftBBCodeHelp {
	background: url('background/TopLeft28x49.png') no-repeat top left;
	left: 0px;
}

.UIForumPortlet .RightBBCodeHelpPopup .LeftBBCodeHelp {
	background: url('background/TopRightLeft31x47.png') no-repeat top right;
	right: 0px;
}

.UIForumPortlet .LeftBBCodeHelp {
	position: absolute;
	width: 18px;
	height: 49px;
	z-index: 10;
}

.UIForumPortlet .LeftBBCodeHelpPopup .ContentHelp {
	margin-left: 17px;
}

.UIForumPortlet .RightBBCodeHelpPopup .ContentHelp {
	margin-right: 17px;
}

.UIForumPortlet .ContentHelp {
	border-radius: 9px 9px 9px 9px;
	box-shadow: 1px 1px 4px #A7A7A7;
	background: #fff;
	border: 1px solid #717171;
	padding: 8px;
	white-space: normal;
	cursor: text;
}

/*============================= UITopicsTag	====================*/
.UITopicsTag .ForumContainer {
	margin: 2px 0px;
}

.UIForumContainer .ContentContainer .WidthStatus {
	width: 40px;
}

.UIForumContainer .ContentContainer .WidthRating {
	width: 96px;
}

.UIForumContainer .ContentContainer .WidthLastPost {
	width: 160px;
}

.UIForumContainer .ContentContainer .WidthReplies {
	width: 65px;
}

.UIForumContainer .ContentContainer .WidthCheck {
	width: 30px;
}

.UIForumContainer .ContentContainer .TxtPopupTag {
	left: 2px;
	top: 2px;
	width: 140px
}

.UIForumContainer .ContentContainer .NotAvailableTheard {
	text-align: center;
	padding: 15px 0px;
	font-weight: bold;
}

.UIForumPortlet .UITopicsTag .ForumToolbar .Title {
	font-weight: normal;
}