.UIForumPortlet {
	min-height: 470px;
	padding-bottom: 20px;
}

*html .UIForumPortlet {
	height: 470px;
}

/**************************** UIQuickSearchForm **************************/
.UIForumPortlet .UIQuickSearchForm .SearchForm {
	padding: 3px 10px 0px 0px;
}

.UIForumPortlet .UIQuickSearchForm .Label {
	float: right;
	line-height: 20px;
	margin: 2px 0px;
	color: #595b6a; 
}

.UIForumPortlet .UIQuickSearchForm .Input {
	margin: 0px 8px 0px 10px;
	float: right ;
}

.UIForumPortlet .UIQuickSearchForm .Input input {
	width: 130px;	height: 15px;
}

.UIForumPortlet .UIQuickSearchForm .Search {
	background: url('icons/16x16/SearchIcon.gif') no-repeat ;	
	height: 16px;	width: 16px;
	float: right;	cursor: pointer;
	margin: 3px 5px 0px 0px;
}

.UIForumPortlet .UIQuickSearchForm .AdvancedSearch {
	background: url('icons/16x16/FindIcon.gif') no-repeat ;	
	height: 16px; width: 16px;
	float: right; cursor: pointer;
	margin: 3px 0px 0px 2px;
}

.UIForumPortlet .UIQuickSearchForm .SeparatorLine {
	float: right;
	margin: -3px 7px;
}

.UIForumPortlet .AdvancedSearchIcon {
	background: url('icons/16x16/FindIcon.gif') no-repeat left center;	
	cursor: pointer;
	margin: 0px 20px;
}
/******************************************** UIBreadcumbs ****************************************/

.UIForumPortlet .UIBreadcumbs {
	background: #f6f6f6;
	border: 1px solid #e2e2e2;
	padding: 0px 15px 0px 10px;
	margin: 3px 10px;
	height: 28px;
}

.UIForumPortlet .UIBreadcumbs .CenterBreadcumbs{
	height: 28px;
}


.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar {
	float: left;
	background: none;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .OpenIcon {
	float:left;
	background: url('icons/24x24/OpenFolder.gif') no-repeat ;
	width: 24px; height: 24px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar a.Selected {
	float: left;
	color: #1e1f21;	font-weight: bold;
	padding: 0px 5px;
	line-height: 25px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .Selected {
	float: left;
	color: #1e1f21;	
	padding: 0px 5px;
	line-height: 25px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .RightArrowIcon {
	float: left;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat ;
	width: 16px; height: 16px;	
	margin: 6px 0px 0px 0px;
}

.UIForumPortlet .UIBreadcumbs .RSSBar {
	float: right;
}

.UIForumPortlet .UIBreadcumbs .RSSBar .SeparatorLine {
	background: url('background/SeparatorLine2x27.gif') no-repeat left;
	padding-left: 12px;
	white-space: nowrap;
}

.UIForumPortlet .UIBreadcumbs .RSSBar .RSSIcon {
	padding: 0px 0px 0px 28px;
	line-height: 25px;
	background: url('icons/16x16/RSSIcon.gif') no-repeat left;
}

.UIForumPortlet .UIBreadcumbs .ShareLink a:hover{
  text-decoration: underline;
  color: #058EE6;
}

.UIForumPortlet .UIBreadcumbs .ShareLink a {
  line-height: 24px; 
  cursor: pointer;
  color: #000000;
}
/******************************************** UIForumActionBar ****************************************/
.UIForumPortlet .UIForumActionBar {
	border: 1px solid #9499d8;
	margin: 7px 10px;
}

.UIForumPortlet .UIForumActionBar .ControlbarCotainer {
	border: 2px solid white;
	border-bottom: none;
	background: #F9F9FD url('background/BgToolbar1x28.gif') repeat-x top;
	padding-left: 5px;
}

.UIForumPortlet .UIForumActionBar .Icon {
	padding: 0px 2px 0px 26px;
	background-position: left center ;
	white-space: nowrap;
}

.UIForumPortlet .UIForumActionBar .SeparatorLine {
	float: left;
	background: url('background/SeparatorLineToolbar1x27.gif') no-repeat ;
	height: 27px;	width: 2px;
}

.UIForumPortlet .UIForumActionBar .AddCategory {
	background: url('icons/24x24/AddCategory.gif') no-repeat left center;
}

.UIForumPortlet .ToolbarActionsTag {
	float:right;
	margin: 2px 6px 0px 0px;
	width: 120px;	cursor: pointer ;
}

/******************************************** UIForumDescription ****************************************/
.UIForumPortlet .UIForumDescription {
	border: 1px solid #cdcdcd;
	line-height: 16px;
	padding: 7px 10px; 
	margin: 0px 0px 10px 0px;
}

.UIForumPortlet .UIForumDescription .ForumLabel {
	color: #373737;
	font-size: 12px;
}

.UIForumPortlet .UIForumDescription .NameForum {
	color: #373737;
	font-size: 12px;
	font-weight: bold;
}

.UIForumPortlet .UIForumDescription .Description {
	color: #5a5a5a;
	padding: 0px 5px;
}

/******************************************** ForumContains ****************************************/
.UIForumPortlet .ForumContains {
	line-height: 42px;
	padding: 0px 0px 0px 15px;
}

.UIForumPortlet .UIForumIconState {
	border: 1px solid #cdcdcd;
	margin: 10px 0px;
}


.UIForumPortlet .ForumContains .IconPost {
	float: left;
	padding: 0px 31px;
	font-size: 12px;
	background-position: left center;
}

.UIForumPortlet .ForumContains .IconForum {
	float: left;
	padding: 0px 30px;
	background-position: left center;
}

/*=============================Content UICategoriesSummary====================*/
.UIForumPortlet .UICategoriesSummary {
	padding: 3px 10px;
}

.UIForumPortlet .ContentContainer .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	padding: 0px;
}

.UIForumPortlet .ContentContainer .UserIcon {
	background: url('icons/24x24/UserIcon.gif') no-repeat ;
	width: 24px; height: 22px;
	margin: 0px 4px;
}

.UIForumPortlet .ContentContainer .ChartIcon {
	background: url('icons/24x24/ChartIcon.gif') no-repeat ;
	width: 24px; height: 22px;
	margin: 0px 4px;
}

.UIForumPortlet .ContentContainer {
	padding-left: 1px;
}

.UIForumPortlet .ContentContainer .UITopicList a {
	color: #058ee6;
}

.UIForumPortlet .ContentContainer .ForumStatsList a {
	color: #058ee6;
}

.UIForumPortlet .ContentContainer .UIGrid th {
	background: url(background/ForumTitleBar1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
	padding: 0px;
}

.UIForumPortlet .ContentContainer .UIGrid td {
	padding: 5px ;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
}

.UIForumPortlet .ContentContainer .ForumStatusIcon {
	width: 24px; height: 24px;
	margin: auto;
}

.UIForumPortlet .ContentContainer .ForumTitle {
	font-weight: bold;
	padding-bottom: 4px;
	color: #204AA0;
}

.UIForumPortlet .ContentContainer .LastPostTitle {
	float: left;
	font-weight: bold;
	color: #204aa0;
	line-height: 18px;
}

.UIForumPortlet .ContentContainer .LastPostIcon {
	float: left;
	width: 18px;	height: 18px;
}

.UIForumPortlet .ContentContainer .ForumQuantity {
	font-weight: normal;
	color: black;
	cursor: default;
}

.UIForumPortlet .ContentContainer .ModeratorContent {
	float: left;
	padding: 2px 8px 0px 0px;
}

.UIForumPortlet .ContentContainer .EmoticonsIcon {
	line-height: 18px;
	margin: 0px 4px;
	white-space: nowrap;
	font-weight: bold;
	padding-left: 20px;
}

.UIForumPortlet .ContentContainer .UIGrid .Tdbox	{
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	background-position: center;
}

.UIForumPortlet .ContentContainer .ForumDescription {
	line-height: 14px;
}

.UIForumPortlet .ContentContainer .LastPostInfos {
	line-height: 14px;
}

.UIForumPortlet .ContentContainer .UITopicList .PostBy {
	color: #038ee6;
}

.UIForumPortlet .ContentContainer .UITopicList .TagIcon {
	background-position: left center;
	padding:5px 0 5px 22px;
	white-space: nowrap;
}


.UIForumPortlet .SelectFileFrame {
	white-space: normal;
	width: 300px;
}

.UIForumPortlet .ButtomAndPageListContainer {
	height: 24px;
}

.UIListTopicOld .UITopicList .IconContent {
  margin:auto;
  overflow:auto;
  width:55px;
}

.UIForumPortlet .Cursor {
  cursor: pointer;
}

.UIForumPortlet .PostViewContainer .QuoteContent {
	padding: 10px;
}

.UIForumPortlet .PostViewContainer .Classquote {
	background: #ededf7;
	border: 1px solid #d8d8d8;
	padding: 6px 6px 6px 15px;
	margin: 2px 0px;
}

.UIForumPortlet .ClassCode {
  background: #ededed;
	border: 1px inset #7b7b7b;
	margin: 5px;
	overflow: auto;
}

.UIForumPortlet .ClassCode pre {
  padding: 5px;
}