.UIWikiPortlet .UIWikiPageControlArea .UIPageToolBar{
	float: right;
	margin-bottom: 0px;
}

.UIWikiPortlet .UIWikiPageControlArea .UIPageToolBar .Icon {
	float:right;
	padding: 6px 8px 6px 25px;
	margin: 0px;
	text-transform:capitalize;
	text-decoration: none;
	color: black;
}

.UIWikiPageControlArea .UIPageToolBar .DeletePage {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -450px;
}

.UIWikiPageControlArea .UIPageToolBar .EditPage {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -260px;
}

.UIWikiPageControlArea .UIPageToolBar .AddPage {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -480px;
}

.UIWikiPageControlArea .UIPageToolBar .MovePage {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -419px;	
}

.UIWikiPageControlArea .UIPageToolBar .WatchPage {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -360px;	
}

.UIWikiPageControlArea .UIPageToolBar .UnWatchPage {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -360px;	
}

.UIWikiPageControlArea .UIPageToolBar .PageInfo {
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -389px;
}

.UIWikiPageControlArea .UIPageToolBar .AddPageFromTemplate{
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -515px;
}

.UIWikiPageControlArea .UIPageToolBar .AddExtensionContainer.MoreLink {
  position:relative;
  padding: 6px 22px 6px 10px;
}

.UIWikiPageControlArea .UIPageToolBar .MoreExtensionContainer.MoreLink {
  position:relative;
  padding: 6px 22px 6px 8px;
}

.UIWikiPortlet .UIWikiPageControlArea .UIPageToolBar .HoverMenu .Icon {
	float: none;
	height: 14px;
	display: block;
	padding: 6px 8px 8px 25px;
	color: #555;
	font-size: 12px;
}


.UIWikiPageControlArea .UIPageToolBar .MoreLink {
  background: url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat right -281px;
  cursor: pointer;
}

.UIWikiPageControlArea .UIPageToolBar .MoreLink:hover {
  background-color: #ececec;
}

.UIWikiPageControlArea .UIPageToolBar .PagePermission {
	background:url("/wiki/skin/DefaultSkin/webui/background/UIPageToolBarIcon.png") no-repeat left -333px;
}


/**************For edit form***********************/

.UIWikiPageEditForm .UIPageToolBar{
	margin: 10px 0 0;
	float: right;
	width: 465px;
}

.UIWikiPortlet .UIWikiToolBar .Icon:hover {
  color: black;
}

.UIWikiPageEditForm .Icon {
	border-left: 1px solid #d6d6d6;
	float: left;
  padding: 0px 10px 0px 30px;
	margin: 0px;
	text-transform:capitalize;
	color: black;
	line-height: 18px;
}

.UIWikiPageEditForm .Icon:first-child {
	border-left: none;
}

.UIWikiPortlet .Icon:hover {
  text-decoration: none;
  color: #4283c7;
}