.UIForumPortlet .UISearchForm td.FieldComponent {
	padding: 4px 0px;
}

.UIForumPortlet .UISearchForm .UIFormGrid {
	width: 100%;
}

.UIForumPortlet .UISearchForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.UIForumPortlet .UISearchForm td.FieldLabel {
	padding: 4px 8px;
	line-height: 18px;
}

.UIForumPortlet .UISearchForm td.FieldLabelDate {
	width: 250px;
	padding: 4px 8px;
	line-height: 18px;
}

.UIForumPortlet .UISearchForm .textIn select {
	width: 150px;
}

.UIForumPortlet .UISearchForm .InputSearchForm .selectbox {
	width: 204px;
}

.UIForumPortlet .UIForumListSearch .TitleBar {
	line-height: 18px;
}

.UIForumPortlet .UIForumListSearch .ForumToolbar th {
	vertical-align: middle;
}

.UIForumPortlet .UIForumListSearch .TextBar {
	line-height: 18px;
	font-weight: normal;
	text-align: left;
	padding-left: 10px;
}

.UIForumPortlet .UIForumListSearch .TextBar .selectbox {
	width: 100px;
	text-align: center;
}