.UIForumPortlet .UIForumOptionForm {
	background-color: #ffffff;
	padding: 8px 8px 6px 8px;
}

.UIForumPortlet .UIForumOptionForm .HorizontalLayout {
	border: 1px solid #AEAEAE;
	background-color: #f7f7f7;
}

.UIForumPortlet .UIForumOptionForm .UIAction {
	padding: 10px 0px 0px 0px;
}

.UIForumPortlet .UIForumOptionForm .UIFormInput {
	border: solid 1px #ffffff;
}

.UIForumPortlet .UIForumOptionForm .UIFormInput {
	padding: 8px 10px 8px 0px;
}