@import url('skinIcons/16x16/Stylesheet.css') ;
@import url('skinIcons/24x24/Stylesheet.css') ;
@import url('popup/Stylesheet.css') ;
@import url('UICategories/Stylesheet.css') ;
@import url('UIForumContainer/Stylesheet.css') ;
@import url('UIForumLinks/Stylesheet.css') ;
@import url('UIForumPortlet/Stylesheet.css') ;
@import url('UIPrintView/Stylesheet.css') ;
@import url('UITopicDetail/Stylesheet.css') ;
@import url('UITopicPoll/Stylesheet.css') ;
@import url('UIForumPageIterator/Stylesheet.css') ;
@import url('UISearchForm/Stylesheet.css') ;

.UIWindow .UIForumPortlet {
	margin: 0px;
	border: none;
}

.UIForumPortlet {
	background: white;
	border: 1px solid #b7b7b7;
	margin: 7px;
}

.UIPageDesktop #UIWindow-forum {
	width: 870px;
}

.UIForumPortlet .UIRightClickPopupMenu .FixHeight {
	height: 0px;
	width: 0px;
}

.UIForumPortlet .UIRightClickPopupMenu .MenuItem {
	display: block;
}

.Vista .UIForumPortlet .UIRightClickPopupMenu {
	width: 180px;
}

/**************************** UIActionForum *********************************/
.UIForumPortlet .UIActionForum {
	padding: 2px 3px;
}

.UIForumPortlet .UIForumLinks .UIActionForum {
	padding: 0px;
}

.UIForumPortlet .UIActionForum .ActionButton {
	float: left;
}
 
.UIForumPortlet .UIActionForum .NormalStyle {
}
 
.UIForumPortlet .UIActionForum .NormalStyle .ButtonLeft {
	background: url('background/buttons/LeftNormalStyleButton7x22.gif') no-repeat left top;
	padding: 0px 0px 0px 7px;
}

.UIForumPortlet .UIActionForum .NormalStyle .ButtonRight {
	background: url('background/buttons/RightNormalStyleButton7x22.gif') no-repeat right top;
	padding: 0px 7px 0px 0px ;
}

.UIForumPortlet .UIActionForum .NormalStyle .ButtonMiddle {
	line-height: 20px;
	background: url('background/buttons/MiddleNormalStyleButton1x22.gif') repeat-x top;
}

.UIForumPortlet .UIActionForum .NormalStyle .IconButton {
	background-repeat: no-repeat;
	padding: 0px 3px 0px 20px;
	cursor: pointer;
}

.UIForumPortlet .LockActionForum .NormalStyle .IconButton {
	cursor: default;
}

.UIForumPortlet .UIActionForum .NormalStyle .LabelIcon {
	line-height: 20px;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .UIActionForum .NormalButtom {
	margin: 0px;
}
 
.UIForumPortlet .UIActionForum .NormalButtom .ButtonLeft {
	background: url('background/buttons/LeftButtom3x18.gif') no-repeat left top;
	padding: 0px 0px 0px 3px;
}

.UIForumPortlet .UIActionForum .NormalButtom .ButtonRight {
	background: url('background/buttons/RightButtom3x18.gif') no-repeat right top;
	padding: 0px 3px 0px 0px ;
}

.UIForumPortlet .UIActionForum .NormalButtom .ButtonMiddle {
	line-height: 18px;
	background: url('background/buttons/MiddleButtom1x18.gif') repeat-x top;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .ForumToolbar {
	height: 26px;
}

.UIForumPortlet .ForumToolbar .CollapseButton {
	float: right;
	width: 16px; height: 16px; 
	margin: 5px 5px 0px 0px;
	cursor: pointer;
}

.UIForumPortlet .ForumToolbar .ExpandButton {
	float: right;
	width: 16px; height: 16px; 
	margin: 5px 5px 0px 0px;
	cursor: pointer;
}

.UIForumPortlet a {
	color: #000000;
}

.UIForumPortlet a:hover {
	color: #058ee6;
}

.UIForumPortlet .ForumToolbar .Title {
	float: left;
	font-weight: bold;
	margin: 6px 0px 0px 8px;
}

.UIForumPortlet .ForumToolbar .Title span {
	font-weight: normal;
}

.UIForumPortlet .ForumToolbar .SeparatorLine {
	background: url(background/SeparatorLine2x19.gif) no-repeat;
	width: 2px; height: 19px;
	margin: 3px;
}

.UIForumPortlet .ForumToolbar .LeftBar {
	background: url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left: 3px;
}

.UIForumPortlet .ForumToolbar .RightBar {
	background: url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right: 3px;
}

.UIForumPortlet .ForumToolbar .CenterBar {
	background: url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height: 26px;
}

.UIForumPortlet .ForumToolbar .UIPopupCategory {
	left: 0px;
	position: absolute;
	top: auto;
	width: auto;
	z-index: 100;
}

.UIForumPortlet .ForumToolbar .UIRightClickPopupMenu {
	width:175px;
}

.UIForumPortlet .ForumToolbar .UIRightClickPopupMenu .LineMenu {
	width:150px;
	margin: 4px auto;
	border-top: solid 1px #7b7b7b;
}

.Vista .UIForumPortlet .ForumToolbar .UIRightClickPopupMenu {
	min-width:190px;
	white-space: nowrap;
}

/******************************	OverButton	***************************************/
.UIForumPortlet .UITopicContainer .DefaultStyle {
	border-top: 1px solid #d8d8d8;
}

.UIForumPortlet .UITopicDetail .DefaultStyle {
	border-top: 1px solid #d8d8d8;
}

.UIForumPortlet .DefaultStyle .LeftOverButton {
	padding-left: 5px;
}

.UIForumPortlet .DefaultStyle .RightOverButton {
	padding-right: 5px;
}

.UIForumPortlet .DefaultStyle .CenterOverButton {
	padding-left: 3px;
}
/*ForumAction*/
.UIForumPortlet .Forum {
	background: none;
	line-height: 22px;
}

.UIForumPortlet .ForumAction .LeftOverButton {
	background: url('background/LeftOverButton5x22.gif') no-repeat left top;
}

.UIForumPortlet .ForumAction .RightOverButton {
	background: url('background/RightOverButton5x22.gif') no-repeat right top;
}

.UIForumPortlet .ForumAction .CenterOverButton {
	background: url('background/CenterOverButton1x22.gif') repeat-x top;
	line-height: 22px;
}
/*ForumBarAction*/
.UIForumPortlet .ForumBar {
	background: none;
	float: left;
	line-height: 23px;
	margin: 3px 3px 0px 3px; 
}

.UIForumPortlet .ForumBarAction {
	float: left;
	line-height: 23px;
	margin: 3px 3px 0px 3px; 
}

.UIForumPortlet .ForumBarAction .LeftOverButton {
	background: url('background/LeftOverButton5x23.gif') no-repeat left top;
}

.UIForumPortlet .ForumBarAction .RightOverButton {
	background: url('background/RightOverButton5x23.gif') no-repeat right top;
}

.UIForumPortlet .ForumBarAction .CenterOverButton {
	background: url('background/CenterOverButton1x23.gif') repeat-x top;
	line-height: 23px;
}

/******************************	End OverButton	***************************************/

.UIForumPortlet .SelectedItem {
	background: #ffffcc ;
}

.UIForumPortlet .UIPageIterator .Number {
	padding: 0px 2px;
	margin: 0px;
}

.UIForumPortlet .ClassQuote {
	border: solid 1px #d8d8d8 ;
	padding: 8px 5px;
	background: #ededf7 ;
}

.UIForumPortlet .textAreaMultil {
	font-size:11px;
	height:70px;
	width:232px;
}

.UIForumPortlet .TextAreaMultil .UIPopupCategory{
	top : 18px;
	left: 15px;
}

.UIForumPortlet .TextAreaMultil .UIRightClickPopupMenu .ItemIcon {
  padding: 3px 0px 3px 10px;
}

.UIForumPortlet .TextAreaMultil .UIRightClickPopupMenu .MenuItem {
  width: 175px;
  max-height: 120px;
  overflow-x: hidden ;
}

.UIForumPortlet .TextAreaMultil .UIRightClickPopupMenu .MenuItems {
  max-height: 120px;
  overflow-y: auto ;
  width: 194px;
}


.UIForumPortlet .UISplitTopicForm .label {
	line-height: 20px;
	padding-right: 10px;
}

.UIForumPortlet .UISplitTopicForm .ListPost {
	padding-top: 10px;
}

.UIForumPortlet .UISplitTopicForm input {
	width: 300px;
}

.UIForumPortlet .UISplitTopicForm input.checkbox {
	width: 30px;
}

/*********************PopUp***************************/

.UIForumPortlet .UIGroupMembershipSelector .UIBreadcumbs {
	background: white;
	border: none;
	height: auto;
	margin: 0px;
	padding: 0px;
}

.UIForumPortlet .UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
	float: none;
}

.UIForumPortlet .ViewImg {
	width: 700px;
	height: auto ;
	min-height: 200px;
}

.UIForumPortlet #MessageContent___Frame {
	width: 435px;
	height: 200px;
}

.UIForumPortlet .ParentMaskLayer {
	position: relative ;
}

.UIForumPortlet .ParentMaskLayer .MaskLayerForum {
	left: 0px;
	top: 0px;
	visibility: visible;
	z-index: 1;
	position: absolute ;
}

.UIForumPortlet .ContentAction .UIPopupCategory {
	top: 0px;
	left: 0px; 
}

.UIForumPortlet .ToolbarActionsTag .UIPopupCategory {
 top: 0px;
 left: 0px; 
}

.UIForumPortlet .UIForm .HorizontalLayout {
	padding: 0px;
}

.UIForumPortlet .UITabPane {
	height: auto;
}

.UIForumPortlet .DisableMenuItem {
	display:block;
	line-height:16px;
	white-space:nowrap;
	cursor: none;
	filter: alpha(opacity: 50);
	-moz-opacity: 0.5;
}

.UIForumPortlet .DisableMenuItem {
	*color: #b7b7b7;
	_color: #b7b7b7;
}

.UIForumPortlet .PageListPostHidden .UIAction {
	padding: 0px;
	margin: 16px 0px 8px 0px;
}

.UIForumPortlet .UIForm .UIFormGrid td.FieldComponent  {
	white-space: nowrap;
}

.UIForumPortlet .Search {
	background: url('skinIcons/16x16/icons/SearchIcon.gif') no-repeat ;	
	height: 16px;
	width: 16px;
	float: right;
	margin: 3px 5px 0px 0px;
	cursor: pointer;
}

.UIForumPortlet .ViewTopicCreatedByUser .UIAction {
	_margin: 14px 0px 0px 0px;
}