@import url('skinIcons/16x16/Stylesheet.css') ;
@import url('skinIcons/24x24/Stylesheet.css') ;
@import url('popup/Stylesheet.css') ;
@import url('UICategories/Stylesheet.css') ;
@import url('UIForumContainer/Stylesheet.css') ;
@import url('UIForumLinks/Stylesheet.css') ;
@import url('UIForumPortlet/Stylesheet.css') ;
@import url('UIPrintView/Stylesheet.css') ;
@import url('UITopicDetail/Stylesheet.css') ;
@import url('UITopicPoll/Stylesheet.css') ;
@import url('UIForumPageIterator/Stylesheet.css') ;
@import url('UISearchForm/Stylesheet.css') ;
@import url('UISliderControl/Stylesheet.css') ;
@import url('UIForumPortletInfo/Stylesheet.css') ;

.UIWindow .UIForumPortlet {
	margin:0px;
	border:none;
}

.UIPageDesktop #UIWindow-forum {
	width:870px;
}

.UIForumPortlet .Cursor {
  cursor:pointer;
}

.UIForumPortlet .FloatLeft {
  float:left;
}

.UIForumPortlet .UIRightClickPopupMenu .FixHeight {
	height:0px;
	width:0px;
}

/**************************** Fix UIRightClickPopupMenu *********************************/
*html .UIForumPortlet  .SearchPopup .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	width:170px;
}

.UIForumPortlet  .SearchPopup .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	min-width:170px;
}

.UIForumPortlet .ForumToolbar .UIRightClickPopupMenu .ItemIcon {
	min-width:110px;
}

.UIForumPortlet .UIRightClickPopupMenu .ItemIcon {
	text-align:left;
	display: block;
	margin: 0px;
	min-width:60px;
	padding: 0px 0px 0px 28px;
	background-position: 6px;
	line-height: 24px;
	white-space: nowrap;
}

.UIForumPortlet .UIRightClickPopupMenu .ItemIcon:hover {
	color: orange;
	background-color: #DEE4F2;
} 

*html .UIForumPortlet .ForumToolbar .UIRightClickPopupMenu .ItemIcon {
	width:110px;
}

*html .UIForumPortlet .UIRightClickPopupMenu .ItemIcon {
	width:60px;
}

.UIForumPortlet .ContentAction .UIRightClickPopupMenu .ItemIcon:hover {
	background-color: #DEE4F2;
}

.UIForumPortlet .ContentAction .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	min-width: 150px;
}

*html .UIForumPortlet .ContentAction .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	width: 150px;
}

.Vista .UIForumPortlet .UIRightClickPopupMenu {
	width:180px;
}

.UIForumPortlet .UIRightClickPopupMenu .UIRightPopupMenuContainer a:hover {
	color: orange;
	background-color: transparent;
}

/**************************** UIActionForum *********************************/
.UIForumPortlet .UIActionForum {
	padding:2px 3px;
}

.UIForumPortlet .UIForumLinks .UIActionForum {
	padding:0px;
}

.UIForumPortlet .UIActionForum .ActionButton {
	float:left;
}
 
.UIForumPortlet .UIActionForum .NormalStyle {
}
 
.UIForumPortlet .UIActionForum .NormalStyle .ButtonLeft {
	background:url('background/buttons/LeftNormalStyleButton7x22.gif') no-repeat left top;
	padding:0px 0px 0px 7px;
}

.UIForumPortlet .UIActionForum .NormalStyle .ButtonRight {
	background:url('background/buttons/RightNormalStyleButton7x22.gif') no-repeat right top;
	padding:0px 7px 0px 0px ;
}

.UIForumPortlet .UIActionForum .NormalStyle .ButtonMiddle {
	line-height:18px;
	background:url('background/buttons/MiddleNormalStyleButton1x22.gif') repeat-x top;
}

.UIForumPortlet .UIActionForum .NormalStyle .IconButton {
	background-repeat:no-repeat;
	padding:0px 3px 0px 20px;
	cursor:pointer;
	height: 20px;
}

.UIForumPortlet .LockActionForum .NormalStyle .IconButton {
	cursor:default;
}

.UIForumPortlet .UIActionForum .NormalStyle .LabelIcon {
	line-height:18px;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .UIActionForum .NormalButtom {
	margin:0px;
}
 
.UIForumPortlet .UIActionForum .NormalButtom .ButtonLeft {
	background:url('background/buttons/LeftButtom3x18.gif') no-repeat left top;
	padding:0px 0px 0px 3px;
}

.UIForumPortlet .UIActionForum .NormalButtom .ButtonRight {
	background:url('background/buttons/RightButtom3x18.gif') no-repeat right top;
	padding:0px 3px 0px 0px ;
}

.UIForumPortlet .UIActionForum .NormalButtom .ButtonMiddle {
	line-height:18px;
	background:url('background/buttons/MiddleButtom1x18.gif') repeat-x top;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .ForumToolbar {
}

.UIForumPortlet .ForumToolbar .CollapseButton {
	float:right;
	width:16px; height:16px; 
	margin:5px 5px 0px 0px;
	cursor:pointer;
}

.UIForumPortlet .ForumToolbar .ExpandButton {
	float:right;
	width:16px; height:16px; 
	margin:5px 5px 0px 0px;
	cursor:pointer;
}

.UIForumPortlet a {
	color:#000000;
}

.UIForumPortlet a:hover {
	color:#058ee6;
}

.UIForumPortlet .ForumToolbar .Title {
	float:left;
	font-weight:bold;
	margin:6px 0px 0px 8px;
}

.UIForumPortlet .ForumToolbar .Title span {
	font-weight:normal;
}

.UIForumPortlet .ForumToolbar .ForumSeparatorLine {
	background:url(background/SeparatorLine2x19.gif) no-repeat;
	width:2px; height:19px;
	margin:3px;
}

.UIForumPortlet .ForumToolbar .LeftBar {
	background:url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left:3px;
	height:26px;
}

.UIForumPortlet .ForumToolbar .RightBar {
	background:url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right:3px;
	height:26px;
}

.UIForumPortlet .ForumToolbar .CenterBar {
	background:url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height:26px;
}

.UIForumPortlet .ForumToolbar .UIPopupCategory {
	left:0px;
	position:absolute;
	top:auto;
	width:auto;
	z-index:4;
}

.UIForumPortlet .ForumToolbar .UIRightClickPopupMenu .LineMenu {
	width:150px;
	margin:4px auto;
	border-top:solid 1px #7b7b7b;
}

.Vista .UIForumPortlet .ForumToolbar .UIRightClickPopupMenu {
	min-width:190px;
	white-space:nowrap;
}

.UIForumPortlet .UIForumActionBar .DisableAction a {
	color: gray;
}

.UIForumPortlet .UIForumActionBar .DisableAction a:hover {
	color: gray;
}
/******************************	OverButton	***************************************/
.UIForumPortlet .UITopicContainer .DefaultStyle {
	border-top:1px solid #d8d8d8;
}

.UIForumPortlet .UITopicDetail .DefaultStyle {
	border-top:1px solid #d8d8d8;
}

.UIForumPortlet .DefaultStyle .LeftOverButton {
	padding-left:5px;
}

.UIForumPortlet .DefaultStyle .RightOverButton {
	padding-right:5px;
}

.UIForumPortlet .DefaultStyle .CenterOverButton {
	padding-left:3px;
}

.UIForumPortlet .ButtonHeadBar .CenterOverButton {
	padding-right: 5px;
}

.UIForumPortlet .ButtonHeadBar {
	float:right; 
	text-align:left; 
	margin: 0px;
	white-space:nowrap;
	padding: 2px 3px 0px 0px; 
	cursor:pointer;
}

*html .UIForumPortlet .ButtonHeadBar {
	width:90px; 
}

.UIForumPortlet .Forum {
	background:none;
	line-height:22px;
}

.UIForumPortlet .ForumAction .LeftOverButton {
	background:url('background/LeftOverButton5x22.gif') no-repeat left top;
}

.UIForumPortlet .ForumAction .RightOverButton {
	background:url('background/RightOverButton5x22.gif') no-repeat right top;
}

.UIForumPortlet .ForumAction .CenterOverButton {
	background:url('background/CenterOverButton1x22.gif') repeat-x top;
	line-height:22px;
}
/*ForumBarAction*/
.UIForumPortlet .ForumBar {
	background:none;
	float:left;
	line-height:23px;
	margin:3px 3px 0px 3px; 
}

.UIForumPortlet .ForumBarAction {
	float:left;
	line-height:23px;
	margin:3px 3px 0px 3px;
	cursor: pointer;
}

.UIForumPortlet .ForumBarAction .LeftOverButton {
	background:url('background/LeftOverButton5x23.gif') no-repeat left top;
}

.UIForumPortlet .ForumBarAction .RightOverButton {
	background:url('background/RightOverButton5x23.gif') no-repeat right top;
}

.UIForumPortlet .ForumBarAction .CenterOverButton {
	background:url('background/CenterOverButton1x23.gif') repeat-x top;
	line-height:23px;
}

/******************************	End OverButton	***************************************/

.UIForumPortlet .SelectedItem {
	background:#ffffcc ;
}

.UIForumPortlet .UIPageIterator .Number {
	padding:0px 2px;
	margin:0px;
}

.UIForumPortlet .textAreaMultil {
	font-size:11px;
	height:70px;
	width:232px;
}

.UIForumPortlet .TextAreaMultil .UIPopupCategory{
	top :18px;
	left:15px;
}

.UIForumPortlet .TextAreaMultil .UIRightClickPopupMenu .ItemIcon {
  padding:3px 0px 3px 10px;
}

.UIForumPortlet .TextAreaMultil .UIRightClickPopupMenu .MenuItem {
  width:175px;
  max-height:120px;
  overflow-x:hidden ;
}

.UIForumPortlet .TextAreaMultil .UIRightClickPopupMenu .MenuItems {
  max-height:120px;
  overflow-y:auto ;
  width:194px;
}


.UIForumPortlet .UISplitTopicForm .label {
	line-height:20px;
	padding-right:10px;
}

.UIForumPortlet .UISplitTopicForm .ListPost {
	padding-top:10px;
}

.UIForumPortlet .UISplitTopicForm input {
	width:300px;
}

.UIForumPortlet .UISplitTopicForm input.checkbox {
	width:30px;
}

/*********************PopUp***************************/

.UIForumPortlet .UIGroupMembershipSelector .UIBreadcumbs {
	background:white;
	border:none;
	height:auto;
	margin:0px;
	padding:0px;
}

.UIForumPortlet .UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
	float:none;
}

.UIForumPortlet .ViewImg {
	width:700px;
	height:auto ;
	min-height:200px;
}

.UIForumPortlet #MessageContent___Frame {
	width:435px;
	height:180px;
}
.UIForumPortlet #newIpBan1 {
	width:25px;
}
.UIForumPortlet #newIpBan2 {
	width:25px;
}
.UIForumPortlet #newIpBan3 {
	width:25px;
}
.UIForumPortlet #newIpBan4 {
	width:25px;
}

.UIForumPortlet .ParentMaskLayer {
	position:relative ;
	z-index:0;
}

.UIForumPortlet .ParentMaskLayer .KSMaskLayer {
	left:0px;	top:0px;
	z-index:5;
	position:absolute ;
	visibility:visible;
	background:url('background/Point1x1.png') no-repeat top center ;	
}

.UIForumPortlet .ContentAction .UIPopupCategory {
	top:0px;
	left:0px; 
}

.UIForumPortlet .ToolbarActionsTag .UIPopupCategory {
 top:0px;
 left:0px; 
}

.UIForumPortlet .UIForm .HorizontalLayout {
	padding:0px;
}

.UIForumPortlet .UITabPane {
	height:auto;
}

.UIForumPortlet .DisableMenuItem {
	display:block;
	white-space:nowrap;
	cursor:auto;
	-moz-opacity:0.5;
}

.UIForumPortlet .DisableMenuItem:hover {
	color: gray;
	cursor:auto;
}

.UIForumPortlet .UIRightClickPopupMenu .DisableMenuItem .ItemIcon:hover {
	color: gray;
}

.UIForumPortlet .UIRightClickPopupMenu .DisableMenuItem .ItemIcon:hover {
	color: gray;
}

.UIForumPortlet .UIRightClickPopupMenu .UIRightPopupMenuContainer .DisableMenuItem:hover {
	color: gray;
}


.UIForumPortlet .PageListPostHidden .UIAction {
	padding:0px;
	margin:16px 0px 8px 0px;
}

.UIForumPortlet .UIForm .UIFormGrid td.FieldComponent  {
	white-space:nowrap;
}

.UIForumPortlet .SearchForumIcon {
	background:url('skinIcons/16x16/icons/SearchIcon.gif') no-repeat ;	
	height:16px;
	width:16px;
	float:right;
	margin:3px 5px 0px 0px;
	cursor:pointer;
	display: block;
}

.UIForumPortlet .ViewTopicCreatedByUser .UIAction {
	_margin:14px 0px 0px 0px;
}

.UIForumPortlet .ViewPostedByUser .UIAction {
	_margin:14px 0px 0px 0px;
}

.UIForumPortlet .ScrollButtons {
	display:none;
	float:right;
	*float:left;
	padding:5px 1px 5px 1px;
}

.UIForumPortlet .TagContainer .ScrollButtons {
	display:none;
	float:right;
	width:24px;
	height:24px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background:url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueDownArrow.gif) no-repeat scroll right center;
	*float:left;
}


.UIForumPortlet .TagContainer .ScrollButtonsOver {
	background-color:#d8d8d8;
}

.UIForumPortlet  .DisableScrollLeftButton {
	background:url('background/DisableScrollLeftButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 5px;
	padding-left:12px;
	width:13px;
}

.UIForumPortlet  .DisableScrollRightButton {
	background:url('background/DisableScrollRightButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 2px;
	width:13px;
}

.UIForumPortlet  .ScrollRightButton {
	background:url('background/ScrollRightButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 2px;
	width:13px;
}

.UIForumPortlet  .ScrollLeftButton {
	background:url('background/ScrollLeftButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	padding-left:12px;
	margin:0px 5px;
	width:13px;
}

.UIForumPortlet .HighlightScrollRightButton {
	background:url('background/HighlightScrollRightButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 2px;
	width:13px;
}

.UIForumPortlet .HighlightScrollLeftButton {
	background:url('background/HighlightScrollLeftButton.gif') no-repeat left;
	cursor:pointer;
	float:left;
	height:15px;
	margin:0px 5px;
	padding-left:12px;
	width:13px;
}
.UIForumPortlet .FixLeftPopup {
  left:92px;
  *left:30px;
}

*html .UIForumPortlet .FixLeftPopup {
  left:28px;
}

.UIForumPortlet .Refresh {
  background:transparent url(background/refresh.png) no-repeat center bottom;
	float:left;
	margin-top: 16px;
	height:16px;
	width:16px;
}

.UIForumPortlet .UIGrid input.checkbox {
	height:13px;
	margin: 3px 0px 0px 0px;
}

.UIForumListSearch .SearchResult {
	padding-left: 1px;
	*padding-left: 0px;
}

.UIForumListSearch .TitleBar {
	font-weight: bold;
	text-align: center;
	line-height: 24px;
}

.UIForumPortlet .PMStyle {
	line-height:24px; cursor:pointer;
	padding-left: 22px; display: block;
}

.UIForumPortlet .ForumRSS {
	background: url('background/rss2.png') no-repeat;
}

.UIForumPortlet .ForumRSSFeed {
	background: url('background/rss1.png') no-repeat left center;
}

.UIForumPortlet .UIRightClickPopupMenu a{
	display: block;
}

.UIForumPortlet .AddActionItem a{
	color: blue;
	text-decoration: underline;
	font-style: italic;
}

.UIForumPortlet .fixPupupMenu {
	position: absolute; 
	*position: relative;
}

/* Fix KS-2244*/
.UIForumPortlet .ResizeButton {
	background:url('background/ResizeBtn.gif') no-repeat scroll left top;
	bottom:2px;
	height:23px;
	right:6px;
	width:18px;
}
