.UIForumLinks {
	margin: 0px 10px;
	text-align: right;
}

.UIForumPortlet .UIForumLinks .NormalButtomBT {
	margin: 0 0 0 10px;
}

.UIForumLinks .HorizontalLayout {
	border: none;
	background: none;
}

.UIForumLinks .HorizontalLayout .UIFormGrid td.FieldLabel {
	line-height: 20px;
	white-space: nowrap;
	padding: 0px 4px;
	width: 100%;
}

*+html .UIForumLinks .HorizontalLayout .UIFormGrid td.FieldLabel{
	width: auto;
}

.UIForumLinks .UIFormGrid td.FieldLabel {
	line-height: 20px;
	white-space: nowrap;
	padding: 0px 4px;
	width: 100%;
}

*+html .UIForumLinks .UIFormGrid td.FieldLabel{
	width: auto;
}

.UIForumLinks .HorizontalLayout .UIFormGrid .UIActionForum {
	margin-left: 4px;
}

.UIForumLinks .UIForm .HorizontalLayout select {
	float: left;
	text-align: left;
	white-space: nowrap;
}

.UIForumLinks .categoryLink {
	line-height: 16px;
	background: #eaf2fb;
}

.UIForumLinks .forumLink {
	line-height: 16px;
	white-space: nowrap;
}

.UIForumLinks .forumHomePage {
	line-height: 16px;
	font-weight: bold;
}

.UIForumPortlet .optionSelected {
	background-color: #8eb3da;
}

.UIForumPortlet .timeZone {
	line-height: 16px;
}

.UIForumLinks .UIForm  .UIFormGrid td.FieldLabel {
	padding: 0px;
}

*+html .UIForumPortlet .UIForm select {
	height: 19px;
}