@import url('UIAddPollForm/Stylesheet.css') ;
@import url('UIAutoPruning/Stylesheet.css') ;
@import url('UICategoryForm/Stylesheet.css') ;
@import url('UIDisplayOptionForm/Stylesheet.css') ;
@import url('UIForumForm/Stylesheet.css') ;
@import url('UIForumOptionsForm/Stylesheet.css') ;
@import url('UIMergePostForm/Stylesheet.css') ;
@import url('UIMergeTopicForm/Stylesheet.css') ;
@import url('UIModeratorManagementForm/Stylesheet.css') ;
@import url('UIMoveTopicForm/Stylesheet.css') ;
@import url('UISendPrivateMessage/Stylesheet.css') ;
@import url('UITagForm/Stylesheet.css') ;
@import url('UITopicForm/Stylesheet.css') ;
@import url('UIUserTitleManagerForm/Stylesheet.css') ;
@import url('UIViewMemberProfile/Stylesheet.css') ;
@import url('UIViewPollForm/Stylesheet.css') ;
@import url('UIViewPost/Stylesheet.css') ;
@import url('UIShowBookMarkForm/Stylesheet.css') ;
@import url('UIPrivateMessageForm/Stylesheet.css') ;

.UIForumAdministrationForm .InputContent{
  float: left;
}

.UIForumAdministrationForm .InputContent input{
  width: 150px;
}

.UIForumAdministrationForm #notifyEmail___Frame{
  width: 500px;
  height: 250px;
}

#notifyEmail {
  width: 400px;
  height: 150px;
}

/**************************** UIAdvancedSearchForm ****************************************/
.UIForumPortlet .UIAdvancedSearchForm {
	padding: 10px ;
}

.UIForumPortlet .UIAdvancedSearchForm .UIFormInput{
	padding: 10px 0px;
}

.UIForumPortlet .UIAdvancedSearchForm .HorizontalLayout {
	padding: 20px ;
}

.UIForumPortlet .UIAdvancedSearchForm .FieldComponent {
  width: 235px;
}

.UIForumPortlet .UIAdvancedSearchForm .FieldCalendar input.DateTimeInput {
  width: 170px;
}

.UIForumPortlet .UIAdvancedSearchForm .FieldUserName input{
  width: 170px;
}

