@import url('UIAddPollForm/Stylesheet.css');
@import url('UIAutoPruning/Stylesheet.css');
@import url('UICategoryForm/Stylesheet.css');
@import url('UIDisplayOptionForm/Stylesheet.css');
@import url('UIForumForm/Stylesheet.css');
@import url('UIForumOptionsForm/Stylesheet.css');
@import url('UIMergePostForm/Stylesheet.css');
@import url('UIMergeTopicForm/Stylesheet.css');
@import url('UIModeratorManagementForm/Stylesheet.css');
@import url('UIMoveTopicForm/Stylesheet.css');
@import url('UISendPrivateMessage/Stylesheet.css');
@import url('UITagForm/Stylesheet.css');
@import url('UITopicForm/Stylesheet.css');
@import url('UIUserTitleManagerForm/Stylesheet.css');
@import url('UIViewMemberProfile/Stylesheet.css');
@import url('UIViewPollForm/Stylesheet.css');
@import url('UIViewPost/Stylesheet.css');
@import url('UIShowBookMarkForm/Stylesheet.css');
@import url('UIPrivateMessageForm/Stylesheet.css');
@import url('UIForumAdministractionForm/Stylesheet.css');

/**************************** UIAdvancedSearchForm ****************************************/
.UIForumPortlet .UIAdvancedSearchForm {
	padding: 10px;
}

.UIForumPortlet .UIAdvancedSearchForm .UIFormInput {
	padding: 10px 0px;
}

.UIForumPortlet .UIAdvancedSearchForm .UIFormInput .UIFormGrid {
	width: auto;
}

.UIForumPortlet .UIAdvancedSearchForm .HorizontalLayout {
	padding: 20px;
}

.UIForumPortlet .UIAdvancedSearchForm .FieldComponent {
	width: 235px;
}

.UIForumPortlet .UIAdvancedSearchForm .FieldCalendar input.DateTimeInput {
	width: 170px;
}

.UIForumPortlet .UIAdvancedSearchForm .FieldUserName input {
	width: 170px;
}

.UIForumPortlet .UIAdvancedSearchForm .radio {
	margin-left: 20px;
}

/**************************** UIModerationForum ****************************************/
.UIModerationForum .IconAction {
	margin: 0px 10px;
	width: 16px;
	height: 16px;
}

/**************************** UIAutoPruneSettingForm ****************************************/
.UIForumPortlet .UIAutoPruneSettingForm .UIForm .HorizontalLayout {
	padding: 10px 8px 10px 14px;
	margin: 8px;
}

.UIAutoPruneSettingForm .LabelContent {
	padding: 0px 0px 10px 0px;
}

.UIAutoPruneSettingForm #inActiveDay {
	width: 40px;
}

.UIAutoPruneSettingForm .UIForm .HorizontalLayout .selectbox {
	width: 80px;
}

.UIAutoPruneSettingForm #jobDay {
	width: 40px;
}

.UIAutoPruneSettingForm .Lightheight {
	line-height: 36px;
	float: left;
	color: blue;
	padding-left: 5px;
}

.UIAutoPruneSettingForm .UIFormGrid {
	width: 100%;
}

.UIAutoPruneSettingForm .Label {
	line-height: 24px;
}

.UIAutoPruneSettingForm .UIFormGrid .UIAction .LightBlueStyle .ButtonMiddle {
	padding-left: 3px;
}

.AddTopicTypeForm {
	padding: 10px;
}